In [1]:
-- connection: postgres://postgres:1234@localhost:5433/bd_dw3

## EJERCICIO 1
>* https://www.postgresqltutorial.com/postgresql-check-constraint/ definir chechk en tablas existentes

### PREGUNTA 1
1. En __tb_patient__, quieren evitar la posibilidad de registrar pacientes cuyo __birth_dt__ tenga valor nulo.

In [ ]:
CREATE TABLE tb_patient (
	patient_id INT NOT NULL,
	ehr_number INT,
	name CHARACTER VARYING(50),
	sex  CHARACTER,
	birth_dt DATE, -------------------------------------- ALTERO COLUMNA A NOT NULL
	residence CHARACTER VARYING(100),
	insurance CHARACTER VARYING(50),
	CONSTRAINT PK_tb_patient PRIMARY KEY(patient_id)
	);

In [15]:
SELECT * FROM tb_patient LIMIT 1;

1 row(s) returned.

  patient_id    ehr_number  name    sex    birth_dt    residence         insurance
------------  ------------  ------  -----  ----------  ----------------  -----------
           1          1001  Pep     M      1965-06-14  Carrer Principal  Pública

In [102]:
SELECT * FROM tb_patient WHERE birth_dt is NULL;

0 row(s) returned.

__SIN DISPARADOR, CON RESTRICCION DE COLUMNA__.   
> Podría agregar una restricción NOT NULL a la columna __birth_dt__:  
>
>__`ALTER TABLE nombre_tabla   
>  ALTER COLUMN nombre_columna 
>  SET NOT NULL;`__    
>  
> pero Postgrestsql dice:  
> * "Una restricción NOT NULL es funcionalmente equivalente a crear una restricción de verificación CHECK, pero en PostgreSQL, la creación de una __not-null constraint__  explicitamente es más eficiente". https://www.postgresql.org/docs/9.4/explicit-locking.html  

__CREO ALTER TABLE CON CHECK__

In [10]:
ALTER TABLE tb_patient ADD CONSTRAINT constraint_birth 
CHECK(birth_dt IS NOT NULL) NOT VALID;

ALTER TABLE tb_patient VALIDATE CONSTRAINT constraint_birth;

__COMPRUEBO LA RESTRICCION__

In [124]:
-- NO PERMITE INSERCIÓN --NULL-- EN birth_dt:
INSERT INTO tb_patient (patient_id, ehr_number, name, sex, birth_dt, residence, insurance)
VALUES (888,1001,'PIP','M', null, 'Carrer Principal', 'Pública')

new row for relation "tb_patient" violates check constraint "constraint_birth"
DETAIL:  Failing row contains (888, 1001, PIP, M, null, Carrer Principal, Pública).

### PREGUNTA 2 
2. En __tb_encounter__, quieren asegurarse de que __discharge_dt__ sea siempre mayor o igual que __arrival_dt__.

In [ ]:
CREATE TABLE tb_encounter (
	encounter_id INT NOT NULL,
	patient_id INT NOT NULL,
	encounter_type CHARACTER VARYING(50) NOT NULL,
	arrival_dt TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,  --<---- arrival_d
	discharge_dt TIMESTAMP, ------------------------------------<---- discharge_dt
	med_service_id INT NOT NULL,
	CONSTRAINT PK_tb_encounter PRIMARY KEY(encounter_id),
	CONSTRAINT FK_encounter_patient FOREIGN KEY (patient_id) REFERENCES tb_patient(patient_id),
	CONSTRAINT FK_encounter_med_service FOREIGN KEY (med_service_id) REFERENCES tb_medical_services(med_service_id)
	);

In [100]:
SELECT * FROM tb_encounter LIMIT 1;

1 row(s) returned.

  encounter_id    patient_id  encounter_type    arrival_dt           discharge_dt           med_service_id
--------------  ------------  ----------------  -------------------  -------------------  ----------------
         65091            31  Consulta Externa  2016-04-12 08:59:00  2016-04-12 22:50:00                 1

__SIN DISPARADOR, CREO ALTER TABLE__

In [99]:
ALTER TABLE tb_encounter ADD CONSTRAINT check_dates2
CHECK(arrival_dt <= discharge_dt);

ALTER TABLE tb_encounter VALIDATE CONSTRAINT check_dates;

__COMPRUEBO INSERTANDO VALORES__

In [101]:
INSERT INTO tb_encounter (encounter_id,patient_id,encounter_type,arrival_dt,discharge_dt,med_service_id)
VALUES (888,1001,'Consulta Externa', '2016-04-12 08:59:00', '2015-04-12 08:59:00', 1)

new row for relation "tb_encounter" violates check constraint "check_dates"
DETAIL:  Failing row contains (888, 1001, Consulta Externa, 2016-04-12 08:59:00, 2015-04-12 08:59:00, 1).

### PREGUNTA 3
3. En __tb_orders__, quieren evitar que los valores insertados en __created_dt__ puedan ser modificados.

In [ ]:
CREATE TABLE tb_orders (
	order_id INT NOT NULL, 
	order_code INT NOT NULL, 
	encounter_id INT NOT NULL, 
	status CHARACTER VARYING(50), 
	created_dt TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
	status_dt TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP, 
	created_by_user INT NOT NULL,
	CONSTRAINT PK_tb_orders PRIMARY KEY(order_id),
	CONSTRAINT FK_orders_catalog FOREIGN KEY (order_code) REFERENCES tb_orders_catalog (order_code),
	CONSTRAINT FK_orders_encounter FOREIGN KEY (encounter_id) REFERENCES tb_encounter(encounter_id),
	CONSTRAINT FK_orders_users FOREIGN KEY (created_by_user) REFERENCES tb_users(user_id)
	);

In [103]:
SELECT * FROM tb_orders LIMIT 1;

1 row(s) returned.

  order_id    order_code    encounter_id  status      created_dt           status_dt              created_by_user
----------  ------------  --------------  ----------  -------------------  -------------------  -----------------
       100          2084          458151  Solicitada  2009-06-16 09:12:00  2011-06-08 14:08:00                  1

__CREO DISPARADOR__

In [129]:
CREATE OR REPLACE FUNCTION stop_change_on_created_dt()
RETURNS trigger AS
$$
BEGIN
  -- siempre restablezca el created_dt al valor ya almacenado
  IF NEW.created_dt <> OLD.created_dt THEN
      RAISE EXCEPTION 'not allowed';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

In [108]:
CREATE TRIGGER avoid_created_dt_changes
BEFORE UPDATE ON tb_orders FOR EACH ROW
EXECUTE PROCEDURE stop_change_on_created_dt();

__INSERTO FILA DE PRUEBA__

In [127]:
INSERT INTO tb_orders (order_id,order_code,encounter_id,status,created_dt,status_dt,created_by_user)
VALUES (888,1001,45815199,'Solicitada', '2016-04-12 08:59:00', '2015-04-12 08:59:00', 1)

duplicate key value violates unique constraint "pk_tb_orders"
DETAIL:  Key (order_id)=(888) already exists.

__MODIFICO COLUMNA FUERA DE RESTRICCION created_by_user__

In [130]:
-- SI MODIFICA created_by_user='2'
UPDATE tb_orders SET created_by_user='2' WHERE order_id=888;

In [131]:
SELECT * FROM tb_orders WHERE order_id=888;

1 row(s) returned.

  order_id    order_code    encounter_id  status      created_dt           status_dt              created_by_user
----------  ------------  --------------  ----------  -------------------  -------------------  -----------------
       888          1001        45815199  Solicitada  2016-04-12 08:59:00  2015-04-12 08:59:00                  2

__MODIFICO COLUMNA ENUNCIADO created_dt__

In [132]:
-- NO MODIFICA created_dt='2016-01-12 08:59:00'
UPDATE tb_orders SET created_dt='2016-01-12 08:59:00' WHERE order_id=888;

not allowed
CONTEXT:  PL/pgSQL function stop_change_on_created_dt() line 5 at RAISE