In [121]:
-- connection: postgres://postgres:1234@localhost:5433/pec4

## EJERCICIO 3

La empresa nos ha pedido que implementemos una serie de novedades en nuestra base de datos para poder gestionar una serie de requisitos.

### a) 
Crea un disparador que evite que las filas de __tb_orders__ con __`status ‘Cancelada’`__ puedan actualizarse a status ‘Realizada’ y viceversa.

In [6]:
SELECT status FROM clinical.tb_orders GROUP BY status

3 row(s) returned.

status
----------
Cancelada
Realizada
Solicitada

In [146]:
CREATE or REPLACE FUNCTION cambio_status()
RETURNS trigger AS 
$$
BEGIN
    raise notice 'Old: %', OLD.status;
    raise notice 'New: %', NEW.status;
    IF ((NEW.status='Realizada' AND OLD.status='Cancelada') OR
        (NEW.status='Cancelada' AND OLD.status='Realizada')) THEN
        RAISE EXCEPTION 
			'UPDATE DENIED';
    ELSE  
        RETURN NEW;
    END IF;
END;
$$ LANGUAGE plpgsql;

In [148]:
CREATE TRIGGER actualiza_status
AFTER UPDATE OF status ON clinical.tb_orders
FOR EACH ROW EXECUTE PROCEDURE cambio_status();

In [125]:
SELECT * FROM clinical.tb_orders WHERE status='Cancelada' LIMIT 2;

2 row(s) returned.

  order_id    order_code    encounter_id  status     created_dt           status_dt              created_by_user
----------  ------------  --------------  ---------  -------------------  -------------------  -----------------
       357          1581           78919  Cancelada  2009-02-09 14:58:00  2009-02-09 14:59:00                  5
       358          1454          416315  Cancelada  2009-06-02 09:09:00  2009-06-02 09:09:00                  5

In [149]:
UPDATE clinical.tb_orders SET status='Realizada' WHERE order_id=357

UPDATE DENIED
CONTEXT:  PL/pgSQL function cambio_status() line 7 at RAISE

### b)  
Crea una tabla __tb_orders_status_changelog__ que capture las actualizaciones de estado de las órdenes.  
Nota: solo hay que capturar los cambios en __tb_orders.status__.  
El formato de esta tabla ha de ser el siguiente:  
* El __id__ del order cuyo __tb_orders.status__ ha sido alterado
* El estado antiguo
* El estado nuevo
* La fecha y hora de cuándo capturó el evento

In [132]:
CREATE TABLE clinical.tb_orders_status_changelog(
    order_id INTEGER NOT NULL,
    old_status VARCHAR(50) NOT NULL,
    new_status VARCHAR(50) NOT NULL,
    changelog_dt TIMESTAMP NOT NULL,
    CONSTRAINT FK_orders_status_changelog FOREIGN KEY(order_id) REFERENCES clinical.tb_orders(order_id));

### c)

In [141]:
SELECT * FROM clinical.tb_orders LIMIT 1;

1 row(s) returned.

  order_id    order_code    encounter_id  status      created_dt           status_dt              created_by_user
----------  ------------  --------------  ----------  -------------------  -------------------  -----------------
       100          2084          458151  Solicitada  2009-06-16 09:12:00  2011-06-08 14:08:00                  1

In [134]:
CREATE OR REPLACE FUNCTION clinical.captura_orders_status() 
RETURNS trigger AS $$ 
BEGIN 
  INSERT INTO clinical.tb_orders_status_changelog VALUES (OLD.order_id,
                                                 OLD.status,
                                                 NEW.status,
                                                 CURRENT_TIMESTAMP);
RETURN NULL;
END;
$$ LANGUAGE plpgsql;

In [135]:
CREATE TRIGGER captura_status
AFTER UPDATE OF status ON clinical.tb_orders
FOR EACH ROW EXECUTE PROCEDURE clinical.captura_orders_status();

In [144]:
UPDATE clinical.tb_orders SET status='Cancelada' WHERE order_id=101

NOTICE:  Old: <NULL>
NOTICE:  New: <NULL>

In [145]:
SELECT * FROM clinical.tb_orders_status_changelog;

3 row(s) returned.

  order_id  old_status    new_status    changelog_dt
----------  ------------  ------------  --------------------------
       118  Realizada     Solicitada    2021-05-08 19:39:38.747384
       100  Solicitada    Cancelada     2021-05-08 19:42:22.032667
       101  Solicitada    Cancelada     2021-05-08 19:47:31.791703