In [271]:
-- connection: postgres://postgres:1234@localhost:5433/bd_dw3

In [ ]:
CREATE TABLE tb_orders (
	order_id INT NOT NULL, 
	order_code INT NOT NULL, --<----------------------------------- order_code
	encounter_id INT NOT NULL, 
	status CHARACTER VARYING(50), 
	created_dt TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP, --<--- created_dt
	status_dt TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP, 
	created_by_user INT NOT NULL,
	CONSTRAINT PK_tb_orders PRIMARY KEY(order_id),
	CONSTRAINT FK_orders_catalog FOREIGN KEY (order_code) REFERENCES tb_orders_catalog (order_code),
	CONSTRAINT FK_orders_encounter FOREIGN KEY (encounter_id) REFERENCES tb_encounter(encounter_id),
	CONSTRAINT FK_orders_users FOREIGN KEY (created_by_user) REFERENCES tb_users(user_id)
	);

## Ejercicio 2

a) Se pide crear el procedimiento __catalog_yearly_orders__, de manera que:  
* Tiene como parámetros el año y el código de la opción del catálogo (__year, order_code__). 
[Entra año (2009) y código (2144)]
* Devuelve el __número de prestaciones realizadas__ para esa opción del catálogo y ese año. [creado en "created_dt"]
* El procedimiento no debe devolver nunca NULL, por lo que en caso que no existan prestaciones realizadas para los parámetros de entrada, se debe devolver 0.

In [153]:
SELECT *  FROM clinical.tb_orders WHERE order_code=2216 LIMIT 1;

1 row(s) returned.

  order_id    order_code    encounter_id  status      created_dt           status_dt              created_by_user
----------  ------------  --------------  ----------  -------------------  -------------------  -----------------
       101          2216          458151  Solicitada  2009-06-16 09:12:00  2011-06-08 14:08:00                  2

In [185]:
CREATE OR REPLACE FUNCTION catalog_yearly_orders (
    years integer, 
    codes integer)
RETURNS integer AS 
$$
DECLARE
    año integer;
    orden integer;
    suma_prestaciones integer;
BEGIN
    suma_prestaciones = 0;
    FOR año, orden 
        IN SELECT extract(year from o.created_dt), o.order_code 
           FROM clinical.tb_orders o
           WHERE extract(year from o.created_dt)=years AND o.order_code=codes LOOP
        suma_prestaciones = suma_prestaciones + 1;
    END LOOP;
    RETURN suma_prestaciones;
END;
$$LANGUAGE plpgsql;

In [182]:
-- DROP FUNCTION catalog_yearly_orders(years integer, codes integer);

In [263]:
SELECT COUNT(*) FROM clinical.tb_orders o WHERE o.order_code=4459 AND extract(year from o.created_dt)=2019;

1 row(s) returned.

  count
-------
      0

In [269]:
SELECT * FROM catalog_yearly_orders(2019, 2114);

1 row(s) returned.

  catalog_yearly_orders
-----------------------
                      2

In [270]:
SELECT * FROM yearly_orders(2019);

1 row(s) returned.

  yearly_orders
---------------
              6

b) Se pide crear el procedimiento yearly_orders, de manera que:
* Tiene como parámetro el año (year).
* Debe devolver el __número de prestaciones realizadas__ para ese año.
* El procedimiento no debe devolver nunca NULL, por lo que en caso que no existan prestaciones realizadas para los parámetros de entrada, se debe devolver 0.

In [120]:
SELECT * FROM clinical.tb_encounter LIMIT 1;

1 row(s) returned.

  encounter_id    patient_id  encounter_type    arrival_dt           discharge_dt           med_service_id
--------------  ------------  ----------------  -------------------  -------------------  ----------------
         65091            31  Consulta Externa  2016-04-12 08:59:00  2016-04-12 22:50:00                 1

In [133]:
CREATE OR REPLACE FUNCTION yearly_orders(year integer)
RETURNS integer AS
$$
DECLARE
    total_prestaciones_realizadas integer;
BEGIN
    SELECT COUNT(o.status) INTO total_prestaciones_realizadas
    FROM clinical.tb_orders o
    WHERE o.status='Realizada' AND extract(year from o.created_dt)=year;
    RETURN total_prestaciones_realizadas;
END;
$$LANGUAGE plpgsql;

In [147]:
SELECT COUNT(o.status) FROM clinical.tb_orders o WHERE o.status='Realizada' AND extract(year from o.created_dt)=2019;

1 row(s) returned.

  count
-------
      6

In [135]:
SELECT * FROM yearly_orders(2019)

1 row(s) returned.

  yearly_orders
---------------
              6

In [148]:
SELECT COUNT(o.status) FROM clinical.tb_orders o WHERE o.status='Realizada' AND extract(year from o.created_dt)=2016;

1 row(s) returned.

  count
-------
    250

In [136]:
SELECT * FROM yearly_orders(2016)

1 row(s) returned.

  yearly_orders
---------------
            250

c) Se pide crear el procedimiento __summary_orders__, mostrando los `porcentajes de incidencia anuales` de cada opción del catálogo, sobre el total de prestaciones realizadas en
cada año. El procedimiento tiene las siguientes características:
* No tiene parámetros.  
* Reutiliza los procedimientos del apartado a) y b)  
* Debe devolver las siguientes columnas:  
** year: el año  
** order_desc: la descripción de la opción del catálogo  
** percentage: prestaciones para ese año y opción (se obtiene con catalog_yearly_orders) divididos por las prestaciones para ese año (se obtiene con yearly_orders).  
* El resultado debe estar ordenado por el año y el código de la opción del catálogo, ascendentemente.  
  
__`ejemplo`__ una fila resultante __`2019, Consulta sucesiva cardiología, 0.06`__, que se interpreta:  
“durante el año 2019, las prestaciones realizadas para la opción “Consulta sucesiva cardiología” del catálogo supusieron un 6% de todas las prestaciones realizadas durante ese año”.

In [ ]:
SELECT * FROM clinical.tb_orders ORDER BY order_code ASC LIMIT 5;

In [ ]:
SELECT * FROM clinical.tb_orders_catalog ORDER BY order_code ASC LIMIT 5;

In [160]:
SELECT * FROM clinical.tb_orders_catalog WHERE order_desc='Consulta sucesiva cardiología';

1 row(s) returned.

  order_code  category     subcategory    order_desc                       cost
------------  -----------  -------------  -----------------------------  ------
        4459  Cardiologia  Sucesivas      Consulta sucesiva cardiología   40.02

In [ ]:
SELECT * FROM yearly_orders(2019)               -- pretaciones realizadas 2019 = 6

In [ ]:
SELECT * FROM catalog_yearly_orders(2019, 2216) -- nº TOTAL cod_2216 en 2009 = 2

In [265]:
SELECT extract(year from o.created_dt) AS año, 
       o.order_code AS codigo,
       oc.order_desc AS descripcion 
FROM clinical.tb_orders o, 
     clinical.tb_orders_catalog oc
WHERE oc.order_code = o.order_code AND extract(year from o.created_dt)=2019
GROUP BY o.created_dt, o.order_code, oc.order_desc 
ORDER BY o.order_code ASC

6 row(s) returned.

  año    codigo  descripcion
-----  --------  ----------------------
 2019      2114  Colesterol de HDL..Srm
 2019      2114  Colesterol de HDL..Srm
 2019      2144  Creatinina..Srm
 2019      2144  Creatinina..Srm
 2019      2216  Hemograma..San
 2019      2216  Hemograma..San

__RESPUESTA__

In [228]:
CREATE TYPE datos_procedimiento AS(year integer,
                                   order_desc VARCHAR(15),
                                   percentage DECIMAL(3,2));

In [ ]:
CREATE OR REPLACE FUNCTION summary_orders()
RETURNS SETOF datos_procedimiento AS 
$$
DECLARE
    percentage DECIMAL(3,2);
BEGIN
    total_
    percentage:=

In [ ]:
select year,
       month, 
       MAX(sum_month) sum_month,  
       MAX(sum_year) sum_year 
FROM ( SELECT *, sum(value) OVER (PARTITION BY month, year ORDER BY year,month) AS sum_month, 
                 sum(value) OVER (PARTITION BY year ORDER BY year,month) AS sum_year
       FROM sumtest)  a
GROUP BY year, month;

__ESTE CODIGO PERMITA VER LOS COMPONENTES EN CURSO DE LA BD__

In [272]:
select event_object_schema as table_schema,
       event_object_table as table_name,
       trigger_schema,
       trigger_name,
       string_agg(event_manipulation, ',') as event,
       action_timing as activation,
       action_condition as condition,
       action_statement as definition
from information_schema.triggers
group by 1,2,3,4,6,7,8
order by table_schema,
         table_name;

3 row(s) returned.

table_schema    table_name    trigger_schema    trigger_name              event    activation    condition    definition
--------------  ------------  ----------------  ------------------------  -------  ------------  -----------  -----------------------------------------------------
clinical        tb_orders     clinical          actualiza_status          UPDATE   BEFORE                     EXECUTE FUNCTION cambio_status()
clinical        tb_orders     clinical          avoid_created_dt_changes  UPDATE   BEFORE                     EXECUTE FUNCTION clinical.stop_change_on_created_dt()
clinical        tb_orders     clinical          captura_status            UPDATE   AFTER                      EXECUTE FUNCTION clinical.captura_orders_status()

In [ ]:
CREATE OR REPLACE FUNCTION summary_orders ()
RETURNS integer AS 
$$
DECLARE
    año integer;
    code integer;
    por integer;
	total ..
BEGIN
    porcentaje = 0;
	total_año = 0;
	total_codigo = 0;
	order_desc = "";
    FOR año IN SELECT DISTINCT extract(year from o.created_dt) FROM clinical.tb_orders o ORDER BY 1 ASC 
	LOOP
		FOR code IN 
		SELECT DISTINCT o.order_code FROM clinical.tb_orders o
		WHERE extract(year from o.created_dt)=año ORDER BY 1 ASC
		LOOP
			total_año = SELECT * FROM yearly_orders(año);
			total_codigo = SELECT * FROM catalog_yearly_orders(año, code);
			porcentaje = (total_codigo*100)/total_año;
			order_desc = (SELECT  oc.order_desc
							FROM clinical.tb_orders_catalog oc
							WHERE oc.order_code = code);
		END LOOP
    END LOOP
    RETURN 1;
END;
$$LANGUAGE plpgsql;