# Seminario FullStack_SQL

Softwares utilizados
* tablas relacionales : https://sqldbm.com
* Jupyter - A simple Jupyter kernel for PostgreSQL : https://github.com/bgschiller/postgres_kernel
* DBeaver : https://www.youtube.com/watch?v=poELsLyLzNM

In [ ]:
-- connection: postgres://alex:password@localhost:5432/dbname
-- autocommit: true

## Modelado de datos y SQL


**Modelo entidad-relación**  - https://github.com/alexjust-data/FullStack_SQL/blob/main/01_Dise%C3%B1o_BaseDatos.ipynb

* `Entidades`: Son los objetos o conceptos que se desea almacenar información. Por ejemplo, en una base de datos para una tienda en línea, las entidades podrían ser Usuarios, Productos, Pedidos, etc.
* `Atributos y tipos de datos`: Cada entidad tiene atributos, que son las características que se desean almacenar para esa entidad. Los tipos de datos (como INT, VARCHAR, DATE, etc.) definen qué tipo de información se almacenará en cada atributo.

¿Qué es una relación?  
* `Relaciones entre entidades`: Establece cómo las entidades se relacionan entre sí. Por ejemplo, un Usuario puede hacer varios Pedidos, pero un Pedido pertenece a un solo Usuario.
* `Cardinalidad`: Define la cantidad de entidades que pueden participar en una relación. Por ejemplo, "uno a muchos", "uno a uno", "muchos a muchos", etc.

<img src="img/b1.png">

**Normalización**
* `Primera Forma Normal (1NF)`: Asegura que cada columna contiene valores atómicos (indivisibles) y que cada valor en la columna es del mismo tipo de datos. También establece una clave primaria única para identificar registros de forma unívoca.
* `Segunda Forma Normal (2NF)`: Elimina dependencias parciales, es decir, asegura que todos los atributos no clave son completamente funcionales y dependen de la clave primaria completa.
* `Tercera Forma Normal (3NF)`: Elimina las dependencias transitivas. En otras palabras, los atributos no clave deben depender solo de la clave primaria, no de otros atributos no clave.

* `Forma Normal de Boyce-Codd (BCNF)`: Es una extensión de la 3NF y trata problemas en los que una tabla tiene múltiples claves candidatas. Asegura que las dependencias funcionales están basadas en las "superkeys".

* `Cuarta Forma Normal (4NF)`: Resuelve las anomalías de multi-valor, asegurando que los atributos son independientes y no contienen conjuntos de valores que dependen de otro atributo.

* `Quinta Forma Normal (5NF o PJ/NF - Proyección-Join Forma Normal)`: Asegura que en una base de datos las relaciones que no se conservan al descomponer una tabla y luego volver a unirla puedan ser reconstruidas. Es útil para resolver problemas donde una entidad podría estar involucrada en múltiples relaciones.

* `Sexta Forma Normal (6NF)`: Aunque menos común, se centra en la descomposición de tablas en subtablas para eliminar redundancias. Se utiliza generalmente en el contexto de bases de datos temporales.

Estas son las formas normales más comúnmente usadas en el diseño de bases de datos relacionales. Al aplicar estas formas normales, el objetivo general es reducir la redundancia y evitar anomalías durante la inserción, actualización y eliminación de datos.

* `Desnormalización` Es el proceso contrario a la normalización y se realiza intencionalmente para optimizar el rendimiento de la base de datos en ciertas consultas. Pero al hacerlo, se acepta cierto nivel de redundancia en los datos.

En general, la normalización y desnormalización son técnicas que se utilizan de manera complementaria para diseñar una base de datos que sea tanto eficiente como efectiva en el manejo de operaciones de datos.

Vamos a optimizar y normalizar:

<img src="img/b2.png">

**"El sistema gestor de la base de datos" SGBD o "DataBase Management System" DBMS** es el software encargado de almacenar información y organizarla. No hay que confundir este software que es el sistema gestor de la base de datos con el cliente de la base de datos.  Un cliente SGDB es un software que nos permite acceder a una base de datos y utilizar sus prestaciones con una interfaz gráfica. Nosotros vamos a utilizar "DBeaver" con el que nos conectamos a la base de datos y accedemos a su contenido. Es libre y multiplataforma.

**SENTENCIAS**

In [7]:
CREATE DATABASE Keepcoding_education; -- Creo base de datos y cambio de BBDD con la siguente sentencia

In [48]:
-- connection: postgres://alex:password@localhost:5432/keepcoding_education

In [38]:
SELECT current_database();

1 row(s) returned.

current_database
--------------------
keepcoding_education

In [40]:
CREATE SCHEMA academia;

schema "academia" already exists

In [49]:
SET search_path TO academia; -- Escojo esquema de trabajo creado

In [42]:
SELECT current_schema();

1 row(s) returned.

current_schema
----------------
academia

In [43]:
BEGIN WORK;

-- Tablas sin dependencias primero
CREATE TABLE academia.pais(
    id_pais SERIAL,                                   
    CONSTRAINT pais_pkey PRIMARY KEY (id_pais)
);

CREATE TABLE academia.estado_provincia(
    id_estado SERIAL,
    nombre VARCHAR(20) NOT NULL,
    id_pais INT4 NOT NULL,
    CONSTRAINT estado_pkey PRIMARY KEY (id_estado),
    CONSTRAINT fk_IdPais FOREIGN KEY(id_pais) REFERENCES academia.pais(id_pais)
);

CREATE TABLE academia.poblacion(
    id_poblacion SERIAL,
    nombre VARCHAR(20) NOT NULL,
    id_estado INT4 NOT NULL,
    CONSTRAINT poblacion_pkey PRIMARY KEY (id_poblacion),
    CONSTRAINT fk_IdEstado FOREIGN KEY(id_estado) REFERENCES academia.estado_provincia(id_estado)
);

CREATE TABLE academia.via(
    id_via SERIAL,                               
    tipo_via VARCHAR(10) NOT NULL,
    nombre VARCHAR(10) NOT NULL,
    CONSTRAINT via_pkey PRIMARY KEY (id_via)   
);

CREATE TABLE academia.persona(
    dni VARCHAR(10),
    nombre VARCHAR(25) NOT NULL,
    primer_apellido VARCHAR(30) NOT NULL,
    segundo_apellido VARCHAR(30) NULL,
    numero INT2 NULL,
    ext VARCHAR(30) NOT NULL,
    email VARCHAR(50) NOT NULL,
    telefono VARCHAR(15) NOT NULL,
    id_via INT4 NOT NULL DEFAULT 0,
    CONSTRAINT persona_pkey PRIMARY KEY (dni),
    CONSTRAINT fk_id_via FOREIGN KEY(id_via) REFERENCES academia.via(id_via)
);

CREATE TABLE academia.curso(
    id_curso INT,
    nombre VARCHAR(20) NOT NULL,
    CONSTRAINT id_curso_pkey PRIMARY KEY (id_curso)
);

CREATE TABLE academia.modulo(
    id_modulo SERIAL,
    nombre VARCHAR(20) NOT NULL,
    CONSTRAINT id_modulo_pkey PRIMARY KEY (id_modulo)
);

CREATE TABLE academia.profesor(
    dni CHAR(20),                                   
    CONSTRAINT profesor_dni_pkey PRIMARY KEY (dni),
    CONSTRAINT fk_profesor_dni FOREIGN KEY(dni) REFERENCES academia.persona(dni)
);

CREATE TABLE academia.codigo_postal(
    code INTEGER,                                   
    id_poblacion INT4 NOT NULL,
    CONSTRAINT codigo_postal_pkey PRIMARY KEY (code),
    CONSTRAINT fk_IdPoblacion FOREIGN KEY(id_poblacion) REFERENCES academia.poblacion(id_poblacion)
);

CREATE TABLE academia.codigo_postal_por_via(
    id_cod_postal SERIAL,
    code INTEGER NOT NULL,
    id_via INT4 NOT NULL,
    CONSTRAINT codigo_postal_via_pkey PRIMARY KEY (id_cod_postal),
    CONSTRAINT fk_cod_postal FOREIGN KEY(code) REFERENCES academia.codigo_postal(code),
    CONSTRAINT fk_cod_postal_id_via FOREIGN KEY(id_via) REFERENCES academia.via(id_via)
);

CREATE TABLE academia.curso_en_modulo(
    id SERIAL,
    fecha_inicio DATE NOT NULL,
    id_modulo INT4 NOT NULL,
    id_curso INT4 NOT NULL,
    dni CHAR(20) NOT NULL,
    CONSTRAINT id_curso_modulo_pkey PRIMARY KEY (id),
    CONSTRAINT fk_id_modulo FOREIGN KEY(id_modulo) REFERENCES academia.modulo(id_modulo),
    CONSTRAINT fk_id_curso FOREIGN KEY(id_curso) REFERENCES academia.curso(id_curso),
    CONSTRAINT fk_curso_modulo_dni FOREIGN KEY(dni) REFERENCES academia.persona(dni)
);

CREATE TABLE academia.matricula(
    id SERIAL,
    id_curso INT4 NOT NULL,
    dni CHAR(20) NOT NULL,
    CONSTRAINT matricula_pkey PRIMARY KEY (id),
    CONSTRAINT fk_matricula_id_curso FOREIGN KEY(id_curso) REFERENCES academia.curso(id_curso),
    CONSTRAINT fk_matricula_dni FOREIGN KEY(dni) REFERENCES academia.persona(dni)
);

CREATE TABLE academia.calificacion(
    id_calificacion INTEGER,
    apto BOOLEAN NOT NULL,
    dni CHAR(20) NOT NULL,
    id INT4 NOT NULL,
    CONSTRAINT id_calificacion_pkey PRIMARY KEY (id_calificacion),
    CONSTRAINT fk_calificacion_dni FOREIGN KEY(dni) REFERENCES academia.persona(dni),
    CONSTRAINT fk_calificacion_id FOREIGN KEY(id) REFERENCES academia.curso_en_modulo(id)
);

COMMIT WORK;

In [44]:
-- Ver todas las tablas en la base de datos actual
SELECT tablename FROM pg_catalog.pg_tables WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema';

13 row(s) returned.

tablename
---------------------
pais
estado_provincia
poblacion
via
persona
profesor
codigo_postal
codigo_postal_por_via
modulo
curso_en_modulo
curso
matricula
calificacion

In [45]:
-- Ver todas las tablas en un esquema específico
SELECT table_name FROM information_schema.tables WHERE table_schema = 'academia';

13 row(s) returned.

table_name
---------------------
pais
estado_provincia
poblacion
via
persona
profesor
codigo_postal
codigo_postal_por_via
modulo
curso_en_modulo
curso
matricula
calificacion

In [52]:
-- Enumero todas las claves primarias (PK) y sus columnas 
SELECT kcu.table_schema,
       kcu.table_name,
       tco.constraint_name,
       kcu.ordinal_position as position,
       kcu.column_name as key_column
FROM information_schema.table_constraints tco
JOIN information_schema.key_column_usage kcu 
     ON kcu.constraint_name = tco.constraint_name
     AND kcu.constraint_schema = tco.constraint_schema
     AND kcu.constraint_name = tco.constraint_name
WHERE tco.constraint_type = 'PRIMARY KEY'
      AND kcu.table_schema = 'academia'  -- Añade esta línea para filtrar por el esquema 'academia'
ORDER BY kcu.table_schema,
         kcu.table_name,
         position;

13 row(s) returned.

table_schema    table_name             constraint_name           position  key_column
--------------  ---------------------  ----------------------  ----------  ---------------
academia        calificacion           id_calificacion_pkey             1  id_calificacion
academia        codigo_postal          codigo_postal_pkey               1  code
academia        codigo_postal_por_via  codigo_postal_via_pkey           1  id_cod_postal
academia        curso                  id_curso_pkey                    1  id_curso
academia        curso_en_modulo        id_curso_modulo_pkey             1  id
academia        estado_provincia       estado_pkey                      1  id_estado
academia        matricula              matricula_pkey                   1  id
academia        modulo                 id_modulo_pkey                   1  id_modulo
academia        pais                   pais_pkey                        1  id_pais
academia        persona                persona_pkey                     1  dni
academia        poblacion              poblacion_pkey                   1  id_poblacion
academia        profesor               profesor_dni_pkey                1  dni
academia        via                    via_pkey                         1  id_via