# Seminario FullStack_SQL

Softwares utilizados
* tablas relacionales : https://sqldbm.com
* Jupyter - A simple Jupyter kernel for PostgreSQL : https://github.com/bgschiller/postgres_kernel
* DBeaver : https://www.youtube.com/watch?v=poELsLyLzNM

In [ ]:
-- connection: postgres://alex:password@localhost:5432/dbname
-- autocommit: true

## Modelado de datos y SQL


**Modelo entidad-relación**  - https://github.com/alexjust-data/FullStack_SQL/blob/main/01_Dise%C3%B1o_BaseDatos.ipynb

* `Entidades`: Son los objetos o conceptos que se desea almacenar información. Por ejemplo, en una base de datos para una tienda en línea, las entidades podrían ser Usuarios, Productos, Pedidos, etc.
* `Atributos y tipos de datos`: Cada entidad tiene atributos, que son las características que se desean almacenar para esa entidad. Los tipos de datos (como INT, VARCHAR, DATE, etc.) definen qué tipo de información se almacenará en cada atributo.

¿Qué es una relación?  
* `Relaciones entre entidades`: Establece cómo las entidades se relacionan entre sí. Por ejemplo, un Usuario puede hacer varios Pedidos, pero un Pedido pertenece a un solo Usuario.
* `Cardinalidad`: Define la cantidad de entidades que pueden participar en una relación. Por ejemplo, "uno a muchos", "uno a uno", "muchos a muchos", etc.

<img src="img/b1.png">

**Normalización**
* `Primera Forma Normal (1NF)`: Asegura que cada columna contiene valores atómicos (indivisibles) y que cada valor en la columna es del mismo tipo de datos. También establece una clave primaria única para identificar registros de forma unívoca.
* `Segunda Forma Normal (2NF)`: Elimina dependencias parciales, es decir, asegura que todos los atributos no clave son completamente funcionales y dependen de la clave primaria completa.
* `Tercera Forma Normal (3NF)`: Elimina las dependencias transitivas. En otras palabras, los atributos no clave deben depender solo de la clave primaria, no de otros atributos no clave.

* `Forma Normal de Boyce-Codd (BCNF)`: Es una extensión de la 3NF y trata problemas en los que una tabla tiene múltiples claves candidatas. Asegura que las dependencias funcionales están basadas en las "superkeys".

* `Cuarta Forma Normal (4NF)`: Resuelve las anomalías de multi-valor, asegurando que los atributos son independientes y no contienen conjuntos de valores que dependen de otro atributo.

* `Quinta Forma Normal (5NF o PJ/NF - Proyección-Join Forma Normal)`: Asegura que en una base de datos las relaciones que no se conservan al descomponer una tabla y luego volver a unirla puedan ser reconstruidas. Es útil para resolver problemas donde una entidad podría estar involucrada en múltiples relaciones.

* `Sexta Forma Normal (6NF)`: Aunque menos común, se centra en la descomposición de tablas en subtablas para eliminar redundancias. Se utiliza generalmente en el contexto de bases de datos temporales.

Estas son las formas normales más comúnmente usadas en el diseño de bases de datos relacionales. Al aplicar estas formas normales, el objetivo general es reducir la redundancia y evitar anomalías durante la inserción, actualización y eliminación de datos.

* `Desnormalización` Es el proceso contrario a la normalización y se realiza intencionalmente para optimizar el rendimiento de la base de datos en ciertas consultas. Pero al hacerlo, se acepta cierto nivel de redundancia en los datos.

En general, la normalización y desnormalización son técnicas que se utilizan de manera complementaria para diseñar una base de datos que sea tanto eficiente como efectiva en el manejo de operaciones de datos.

Vamos a optimizar y normalizar:

<img src="img/b2.png">

**"El sistema gestor de la base de datos" SGBD o "DataBase Management System" DBMS** es el software encargado de almacenar información y organizarla. No hay que confundir este software que es el sistema gestor de la base de datos con el cliente de la base de datos.  Un cliente SGDB es un software que nos permite acceder a una base de datos y utilizar sus prestaciones con una interfaz gráfica. Nosotros vamos a utilizar "DBeaver" con el que nos conectamos a la base de datos y accedemos a su contenido. Es libre y multiplataforma.

## Creando tablas

---

**EJEMPLO**

In [7]:
CREATE DATABASE Keepcoding_education; -- Creo base de datos y cambio de BBDD con la siguente sentencia

In [ ]:
-- connection: postgres://alex:password@localhost:5432/keepcoding_education

In [ ]:
SELECT current_database();

1 row(s) returned.

current_database
--------------------
keepcoding_education

In [ ]:
CREATE SCHEMA academia;

In [7]:
SET search_path TO academia; -- Escojo esquema de trabajo creado

In [8]:
SELECT current_schema();

1 row(s) returned.

current_schema
----------------
academia

In [43]:
BEGIN WORK;

-- Tablas sin dependencias primero
CREATE TABLE pais(
    id_pais SERIAL,                                   
    CONSTRAINT pais_pkey PRIMARY KEY (id_pais)
);

CREATE TABLE estado_provincia(
    id_estado SERIAL,
    nombre VARCHAR(20) NOT NULL,
    id_pais INT4 NOT NULL,
    CONSTRAINT estado_pkey PRIMARY KEY (id_estado),
    CONSTRAINT fk_IdPais FOREIGN KEY(id_pais) REFERENCES academia.pais(id_pais)
);

CREATE TABLE poblacion(
    id_poblacion SERIAL,
    nombre VARCHAR(20) NOT NULL,
    id_estado INT4 NOT NULL,
    CONSTRAINT poblacion_pkey PRIMARY KEY (id_poblacion),
    CONSTRAINT fk_IdEstado FOREIGN KEY(id_estado) REFERENCES academia.estado_provincia(id_estado)
);

CREATE TABLE via(
    id_via SERIAL,                               
    tipo_via VARCHAR(10) NOT NULL,
    nombre VARCHAR(10) NOT NULL,
    CONSTRAINT via_pkey PRIMARY KEY (id_via)   
);

CREATE TABLE persona(
    dni VARCHAR(10),
    nombre VARCHAR(25) NOT NULL,
    primer_apellido VARCHAR(30) NOT NULL,
    segundo_apellido VARCHAR(30) NULL,
    numero INT2 NULL,
    ext VARCHAR(30) NOT NULL,
    email VARCHAR(50) NOT NULL,
    telefono VARCHAR(15) NOT NULL,
    id_via INT4 NOT NULL DEFAULT 0,
    CONSTRAINT persona_pkey PRIMARY KEY (dni),
    CONSTRAINT fk_id_via FOREIGN KEY(id_via) REFERENCES academia.via(id_via)
);

CREATE TABLE curso(
    id_curso INT,
    nombre VARCHAR(20) NOT NULL,
    CONSTRAINT id_curso_pkey PRIMARY KEY (id_curso)
);

CREATE TABLE modulo(
    id_modulo SERIAL,
    nombre VARCHAR(20) NOT NULL,
    CONSTRAINT id_modulo_pkey PRIMARY KEY (id_modulo)
);

CREATE TABLE profesor(
    dni CHAR(20),                                   
    CONSTRAINT profesor_dni_pkey PRIMARY KEY (dni),
    CONSTRAINT fk_profesor_dni FOREIGN KEY(dni) REFERENCES academia.persona(dni)
);

CREATE TABLE codigo_postal(
    code INTEGER,                                   
    id_poblacion INT4 NOT NULL,
    CONSTRAINT codigo_postal_pkey PRIMARY KEY (code),
    CONSTRAINT fk_IdPoblacion FOREIGN KEY(id_poblacion) REFERENCES academia.poblacion(id_poblacion)
);

CREATE TABLE codigo_postal_por_via(
    id_cod_postal SERIAL,
    code INTEGER NOT NULL,
    id_via INT4 NOT NULL,
    CONSTRAINT codigo_postal_via_pkey PRIMARY KEY (id_cod_postal),
    CONSTRAINT fk_cod_postal FOREIGN KEY(code) REFERENCES academia.codigo_postal(code),
    CONSTRAINT fk_cod_postal_id_via FOREIGN KEY(id_via) REFERENCES academia.via(id_via)
);

CREATE TABLE curso_en_modulo(
    id SERIAL,
    fecha_inicio DATE NOT NULL,
    id_modulo INT4 NOT NULL,
    id_curso INT4 NOT NULL,
    dni CHAR(20) NOT NULL,
    CONSTRAINT id_curso_modulo_pkey PRIMARY KEY (id),
    CONSTRAINT fk_id_modulo FOREIGN KEY(id_modulo) REFERENCES academia.modulo(id_modulo),
    CONSTRAINT fk_id_curso FOREIGN KEY(id_curso) REFERENCES academia.curso(id_curso),
    CONSTRAINT fk_curso_modulo_dni FOREIGN KEY(dni) REFERENCES academia.persona(dni)
);

CREATE TABLE matricula(
    id SERIAL,
    id_curso INT4 NOT NULL,
    dni CHAR(20) NOT NULL,
    CONSTRAINT matricula_pkey PRIMARY KEY (id),
    CONSTRAINT fk_matricula_id_curso FOREIGN KEY(id_curso) REFERENCES academia.curso(id_curso),
    CONSTRAINT fk_matricula_dni FOREIGN KEY(dni) REFERENCES academia.persona(dni)
);

CREATE TABLE calificacion(
    id_calificacion INTEGER,
    apto BOOLEAN NOT NULL,
    dni CHAR(20) NOT NULL,
    id INT4 NOT NULL,
    CONSTRAINT id_calificacion_pkey PRIMARY KEY (id_calificacion),
    CONSTRAINT fk_calificacion_dni FOREIGN KEY(dni) REFERENCES academia.persona(dni),
    CONSTRAINT fk_calificacion_id FOREIGN KEY(id) REFERENCES academia.curso_en_modulo(id)
);

COMMIT WORK;

In [53]:
-- Ver todas las tablas en la base de datos actual
SELECT tablename FROM pg_catalog.pg_tables WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema';

-- Ver todas las tablas en un esquema específico
-- SELECT table_name FROM information_schema.tables WHERE table_schema = 'academia';

13 row(s) returned.

tablename
---------------------
pais
estado_provincia
poblacion
via
persona
profesor
codigo_postal
codigo_postal_por_via
modulo
curso_en_modulo
curso
matricula
calificacion

In [56]:
-- Enumero todas las claves primarias (PK) y sus columnas 
SELECT kcu.table_schema,
       kcu.table_name,
       tco.constraint_name,
       kcu.ordinal_position as position,
       kcu.column_name as key_column
FROM information_schema.table_constraints tco
JOIN information_schema.key_column_usage kcu 
     ON kcu.constraint_name = tco.constraint_name
     AND kcu.constraint_schema = tco.constraint_schema
     AND kcu.constraint_name = tco.constraint_name
WHERE tco.constraint_type = 'PRIMARY KEY'
      AND kcu.table_schema = 'academia'  -- Añade esta línea para filtrar por el esquema 'academia'
ORDER BY kcu.table_schema,
         kcu.table_name,
         position;

13 row(s) returned.

table_schema    table_name             constraint_name           position  key_column
--------------  ---------------------  ----------------------  ----------  ---------------
academia        calificacion           id_calificacion_pkey             1  id_calificacion
academia        codigo_postal          codigo_postal_pkey               1  code
academia        codigo_postal_por_via  codigo_postal_via_pkey           1  id_cod_postal
academia        curso                  id_curso_pkey                    1  id_curso
academia        curso_en_modulo        id_curso_modulo_pkey             1  id
academia        estado_provincia       estado_pkey                      1  id_estado
academia        matricula              matricula_pkey                   1  id
academia        modulo                 id_modulo_pkey                   1  id_modulo
academia        pais                   pais_pkey                        1  id_pais
academia        persona                persona_pkey                     1  dni
academia        poblacion              poblacion_pkey                   1  id_poblacion
academia        profesor               profesor_dni_pkey                1  dni
academia        via                    via_pkey                         1  id_via

In [57]:
-- Enumero todas las claves foráneas (FK) y sus columnas en el esquema 'academia'
SELECT kcu.table_schema,
       kcu.table_name,
       tco.constraint_name,
       kcu.ordinal_position as position,
       kcu.column_name as key_column,
       ccu.table_schema AS foreign_table_schema,
       ccu.table_name AS foreign_table_name,
       ccu.column_name AS foreign_column_name
FROM information_schema.table_constraints tco
JOIN information_schema.key_column_usage kcu 
     ON kcu.constraint_name = tco.constraint_name
     AND kcu.constraint_schema = tco.constraint_schema
LEFT JOIN information_schema.constraint_column_usage ccu
     ON ccu.constraint_name = tco.constraint_name
WHERE tco.constraint_type = 'FOREIGN KEY'
      AND kcu.table_schema = 'academia'  -- Añade esta línea para filtrar por el esquema 'academia'
ORDER BY kcu.table_schema,
         kcu.table_name,
         position;

14 row(s) returned.

table_schema    table_name             constraint_name          position  key_column    foreign_table_schema    foreign_table_name    foreign_column_name
--------------  ---------------------  ---------------------  ----------  ------------  ----------------------  --------------------  ---------------------
academia        calificacion           fk_calificacion_id              1  id            academia                curso_en_modulo       id
academia        calificacion           fk_calificacion_dni             1  dni           academia                persona               dni
academia        codigo_postal          fk_idpoblacion                  1  id_poblacion  academia                poblacion             id_poblacion
academia        codigo_postal_por_via  fk_cod_postal                   1  code          academia                codigo_postal         code
academia        codigo_postal_por_via  fk_cod_postal_id_via            1  id_via        academia                via                   id_via
academia        curso_en_modulo        fk_id_modulo                    1  id_modulo     academia                modulo                id_modulo
academia        curso_en_modulo        fk_id_curso                     1  id_curso      academia                curso                 id_curso
academia        curso_en_modulo        fk_curso_modulo_dni             1  dni           academia                persona               dni
academia        estado_provincia       fk_idpais                       1  id_pais       academia                pais                  id_pais
academia        matricula              fk_matricula_id_curso           1  id_curso      academia                curso                 id_curso
academia        matricula              fk_matricula_dni                1  dni           academia                persona               dni
academia        persona                fk_id_via                       1  id_via        academia                via                   id_via
academia        poblacion              fk_idestado                     1  id_estado     academia                estado_provincia      id_estado
academia        profesor               fk_profesor_dni                 1  dni           academia                persona               dni

**FALLOS DETECTADOS**
* academia.profesor - cambio nombre constrain: 
    * mal : CONSTRAINT fk_profesor_dni FOREIGN KEY(dni) REFERENCES academia.persona(dni) 
    * bien : CONSTRAINT fk_persona_dni FOREIGN KEY(dni) REFERENCES academia.persona(dni)
* academia.curso_en_modulo - path tabla:
    * mal : CONSTRAINT fk_curso_modulo_dni FOREIGN KEY(dni) REFERENCES academia.persona(dni)
    * bien : CONSTRAINT fk_curso_modulo_dni FOREIGN KEY(dni) REFERENCES academia.profesor(dni)
* academi.profesor:
    * Falta atributo "seg_social" en la tabla
    
**se corrige academia.curso_en_modulo :**

In [54]:
-- busco el nombre de la restriccion de la tabla academia.curso_en_modulo
SELECT conname
FROM pg_constraint 
INNER JOIN pg_class ON conrelid=pg_class.oid 
WHERE pg_class.relname='curso_en_modulo' AND confrelid = (
    SELECT oid 
    FROM pg_class 
    WHERE relname = 'persona'
);

1 row(s) returned.

conname
-------------------
fk_curso_modulo_dni

In [58]:
-- elimino restriccion fk tabla persona
ALTER TABLE academia.curso_en_modulo DROP CONSTRAINT fk_curso_modulo_dni;

In [59]:
-- añado restriccion fk de tabla profesor
ALTER TABLE academia.curso_en_modulo 
ADD CONSTRAINT fk_dni_profesor
FOREIGN KEY (dni) REFERENCES academia.profesor(dni);

In [62]:
-- miro todas las fk de la tabla curso_en_modulo
SELECT 
    tc.constraint_name, 
    kcu.column_name, 
    ccu.table_name AS foreign_table_name, 
    ccu.column_name AS foreign_column_name 
FROM 
    information_schema.table_constraints AS tc 
    JOIN information_schema.key_column_usage AS kcu
      ON tc.constraint_name = kcu.constraint_name
      AND tc.table_schema = kcu.table_schema
    JOIN information_schema.constraint_column_usage AS ccu
      ON ccu.constraint_name = tc.constraint_name
WHERE 
    tc.constraint_type = 'FOREIGN KEY' AND 
    tc.table_name='curso_en_modulo' AND 
    tc.table_schema='academia';

3 row(s) returned.

constraint_name    column_name    foreign_table_name    foreign_column_name
-----------------  -------------  --------------------  ---------------------
fk_id_modulo       id_modulo      modulo                id_modulo
fk_id_curso        id_curso       curso                 id_curso
fk_dni_profesor    dni            profesor              dni

**se corrige academia.profesor :**

In [64]:
ALTER TABLE academia.profesor
RENAME CONSTRAINT fk_profesor_dni TO fk_persona_dni;

In [65]:
-- miro todas las fk de la tabla profesor
SELECT 
    tc.constraint_name, 
    kcu.column_name, 
    ccu.table_name AS foreign_table_name, 
    ccu.column_name AS foreign_column_name 
FROM 
    information_schema.table_constraints AS tc 
    JOIN information_schema.key_column_usage AS kcu
      ON tc.constraint_name = kcu.constraint_name
      AND tc.table_schema = kcu.table_schema
    JOIN information_schema.constraint_column_usage AS ccu
      ON ccu.constraint_name = tc.constraint_name
WHERE 
    tc.constraint_type = 'FOREIGN KEY' AND 
    tc.table_name='profesor' AND 
    tc.table_schema='academia';

1 row(s) returned.

constraint_name    column_name    foreign_table_name    foreign_column_name
-----------------  -------------  --------------------  ---------------------
fk_persona_dni     dni            persona               dni

In [66]:
ALTER TABLE academia.profesor ADD COLUMN seg_social INTEGER NOT NULL;

In [67]:
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_schema = 'academia' 
AND table_name = 'profesor';

2 row(s) returned.

column_name    data_type
-------------  -----------
dni            character
seg_social     integer

In [72]:
-- miro todas las fk de la tabla persona
SELECT kcu.table_schema,
    tc.constraint_name, 
    kcu.column_name, 
    ccu.table_name AS foreign_table_name, 
    ccu.column_name AS foreign_column_name 
FROM 
    information_schema.table_constraints AS tc 
    JOIN information_schema.key_column_usage AS kcu
      ON tc.constraint_name = kcu.constraint_name
      AND tc.table_schema = kcu.table_schema
    JOIN information_schema.constraint_column_usage AS ccu
      ON ccu.constraint_name = tc.constraint_name
WHERE 
    tc.constraint_type = 'FOREIGN KEY' AND 
    tc.table_name='profesor' AND 
    tc.table_schema='academia';

1 row(s) returned.

table_schema    constraint_name    column_name    foreign_table_name    foreign_column_name
--------------  -----------------  -------------  --------------------  ---------------------
academia        fk_persona_dni     dni            persona               dni

In [71]:
-- miro todas las pk de la tabla persona
SELECT kcu.table_schema,
       kcu.table_name,
       tco.constraint_name,
       kcu.ordinal_position as position,
       kcu.column_name as key_column
FROM information_schema.table_constraints tco
JOIN information_schema.key_column_usage kcu 
     ON kcu.constraint_name = tco.constraint_name
     AND kcu.constraint_schema = tco.constraint_schema
     AND kcu.constraint_name = tco.constraint_name
WHERE tco.constraint_type = 'PRIMARY KEY'
      AND kcu.table_schema = 'academia' 
      AND kcu.table_name = 'profesor'  
ORDER BY kcu.table_schema,
         kcu.table_name,
         position;

1 row(s) returned.

table_schema    table_name    constraint_name      position  key_column
--------------  ------------  -----------------  ----------  ------------
academia        profesor      profesor_dni_pkey           1  dni

---

**EJERCICIO 1 - Creando tablas schema keepcoding**

In [9]:
create schema keepcoding;

schema "keepcoding" already exists

In [ ]:
BEGIN WORK;

create table keepcoding.persona(
	dni VARCHAR(10) primary key,
	nombre VARCHAR(25) not null,
	primer_apellido VARCHAR(30) not null,
	segundo_apellido VARCHAR(30),
	numero smallint,
	ext VARCHAR(30),
	email VARCHAR(50) not null,
	telefono VARCHAR(15) not null,
	id_via int not null
);


create table keepcoding.matricula(
	id serial primary key,
	dni_alumno VARCHAR(10),
	id_curso INT not null,
	fecha_matriculacion date not null
);


create table keepcoding.calificacion(
	id serial primary key,
	dni_alumno VARCHAR(10) not null,
	id_modulo_curso int not null,
	apto boolean not null
);


create table keepcoding.profesor(
	dni_profesor VARCHAR(10) primary key,
	seg_social VARCHAR(20) not null
);


create table keepcoding.curso(
	id serial primary key,
	nombre VARCHAR(70) not null,
	año smallint not null
);

create table keepcoding.modulo(
	id serial primary key,
	nombre VARCHAR(50) not null
);

create table keepcoding.modulo_por_curso(
	id serial primary key,
	dni_profesor VARCHAR(10),
	id_curso int not null,
	id_modulo int not null,
	fecha_inicio date not null
);


create table keepcoding.via(
	id serial primary key,
	tipo_via VARCHAR(10) not null,
	nombre VARCHAR(70) 
);

create table keepcoding.codigo_postal(
	codigo_postal VARCHAR(10) primary key,
	id_poblacion int not null
);

create table keepcoding.codigo_postal_por_via(
	id serial primary key,
	codigo_postal VARCHAR(10) not null,
	id_via int not null
);

create table keepcoding.poblacion(
	id serial primary key,
	id_estado int not null,
	nombre VARCHAR(50) not null
);

create table keepcoding.estado(
	id serial primary key,
	id_pais int not null,
	nombre VARCHAR(50) not null
);

create table keepcoding.pais(
	id serial primary key,
	nombre VARCHAR(50) not null
);

COMMIT WORK;

**Añadiendo constrains**

In [11]:
alter table keepcoding.profesor add constraint pk_profesor_persona foreign key (dni_profesor) references keepcoding.persona(dni);
alter table keepcoding.calificacion add constraint pk_calificacion_persona foreign key (dni_alumno) references keepcoding.persona(dni);
alter table keepcoding.calificacion add constraint pk_calificacion_modulo_por_curso foreign key (id_modulo_curso) references keepcoding.modulo_por_curso(id);
alter table keepcoding.persona add constraint pk_persona_via foreign key (id_via) references keepcoding.via(id);
alter table keepcoding.matricula add constraint pk_matricula_persona foreign key (dni_alumno) references keepcoding.persona(dni);
alter table keepcoding.matricula add constraint pk_matricula_curso foreign key (id_curso) references keepcoding.curso(id);
alter table keepcoding.modulo_por_curso add constraint pk_modulo_por_curso_curso foreign key (id_curso) references keepcoding.curso(id);
alter table keepcoding.modulo_por_curso add constraint pk_modulo_por_curso_profesor foreign key (dni_profesor) references keepcoding.profesor(dni_profesor);
alter table keepcoding.modulo_por_curso add constraint pk_modulo_por_curso_modulo foreign key (id_modulo) references keepcoding.modulo(id);
alter table keepcoding.codigo_postal add constraint pk_codigo_postal_poblacion foreign key (id_poblacion) references keepcoding.poblacion(id);
alter table keepcoding.codigo_postal_por_via add constraint pk_codigo_postal_por_via_via foreign key (id_via) references keepcoding.via(id);
alter table keepcoding.codigo_postal_por_via add constraint pk_codigo_postal_por_via_codigo_postal foreign key (codigo_postal) references keepcoding.codigo_postal(codigo_postal);
alter table keepcoding.poblacion add constraint pk_poblacion_estado foreign key (id_estado) references keepcoding.estado(id);
alter table keepcoding.estado add constraint pk_estado_pais foreign key (id_pais) references keepcoding.pais(id);

**INSERTANDO DATOS**

In [19]:
INSERT INTO keepcoding.pais (nombre) VALUES ('España');

In [21]:
SELECT id, nombre 
from keepcoding.pais;

1 row(s) returned.

  id  nombre
----  --------
   1  España

**SELECCIONANDO DATOS**

In [23]:
SELECT id AS "identificador de pais", nombre 
from keepcoding.pais;

1 row(s) returned.

  identificador de pais  nombre
-----------------------  --------
                      1  España

In [29]:
SELECT id AS "identificador de pais",
       nombre,
       CURRENT_DATE AS "fecha actual",
       CURRENT_TIMESTAMP AS "fecha y hora actual"
from keepcoding.pais;

1 row(s) returned.

  identificador de pais  nombre    fecha actual    fecha y hora actual
-----------------------  --------  --------------  --------------------------------
                      1  España    2023-09-08      2023-09-08 15:08:33.702450+02:00

In [32]:
SELECT * 
from keepcoding.pais
where nombre like 'Es%';

1 row(s) returned.

  id  nombre
----  --------
   1  España

**BORRADO**

In [ ]:
DELETE FROM clientes
WHERE codigo_cli = 10

**UNIÓN DE TABLAS**
*

In [99]:
DROP TABLE keepcoding.datos_academia;

In [100]:
CREATE TABLE keepcoding.datos_academia(
    "Nombre Completo" VARCHAR(50) NOT NULL,
    "Primer Apellido" VARCHAR(50) NOT NULL,
    "Segundo Apellido" VARCHAR(50) NOT NULL,
    dni VARCHAR(10) PRIMARY KEY,
    email VARCHAR(50) NOT NULL,
    teléfono VARCHAR(15) NOT NULL,
    móvil VARCHAR(15) NOT NULL,
    "Fecha Nacimiento" DATE NOT NULL,
    curso VARCHAR(64) NOT NULL,
    rol VARCHAR(25) NOT NULL,
    "Fecha Matriculacion" VARCHAR(25),  -- Permite NULL aquí
    poblacion VARCHAR(25) NOT NULL,
    provincia VARCHAR(50) NOT NULL,
    "Codigo Postal" VARCHAR(50) NOT NULL,
    calle VARCHAR(50) NOT NULL,
    extensión VARCHAR(50) NOT NULL
);

In [101]:
INSERT INTO keepcoding.datos_academia (
    "Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Maria isabel','Saez','Castro','6101425P','maria isabel.saez.castro@gmail.com',969188648,650447577,'1997-08-03','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-04-12','Zorraquín','Rioja, La',26003,'Miguel Hernández','18 4Izq.'),
	 ('Pilar','Mora','Mendez','3732740R','pilar.mora.mendez@gmail.com',959637447,620603080,'2008-12-19','Desarrollo Web Full Stack','PROFESOR','','Sestrica','Zaragoza',50001,'España','67 1B'),
	 ('Alvaro','Delgado','Marquez','2589275G','alvaro.delgado.marquez@gmail.com',952806402,617186032,'2007-01-26','Aprende a Programar desde Cero','PROFESOR','','Senyera','Valencia/València',46007,'Sol','35 4C'),
	 ('Maria mar','Fuentes','Marquez','7215956M','maria mar.fuentes.marquez@gmail.com',980766238,618020938,'1997-06-22','Aprende a Programar desde Cero','ALUMNO','2023-04-13','Sant Jaume dels Domenys','Tarragona',43002,'Miguel Hernández','2 2Izq.'),
	 ('Ignacio','Navarro','Gil','2280707G','ignacio.navarro.gil@gmail.com',995176707,682866698,'2001-03-10','DevOps & Cloud Computing Full Stack','PROFESOR','','Campdevànol','Girona',17001,'Clara Campoamor','46 4B'),
	 ('Maria angeles','Flores','Serrano','4654699M','maria angeles.flores.serrano@gmail.com',910406447,644991375,'2005-11-13','Ciberseguridad Full Stack','ALUMNO','2023-05-14','Dehesas de Guadix','Granada',18001,'Federico García Lorca','7 2C'),
	 ('Miguel angel','Vazquez','Rojas','8843886H','miguel angel.vazquez.rojas@gmail.com',900852997,683500251,'2011-08-28','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Villarrasa','Huelva',21001,'Dulcinea','46 3B'),
	 ('Felipe','Diaz','Medina','9685438T','felipe.diaz.medina@gmail.com',979535605,603747386,'1993-02-16','Desarrollo Web Full Stack','PROFESOR','','Valle de Santa Ana','Badajoz',6002,'Ramón y Cajal','54 3Der.'),
	 ('Angela','Marin','Carrasco','1898445W','angela.marin.carrasco@gmail.com',904208650,648821029,'2000-09-27','Aprende a Programar desde Cero','PROFESOR','','Alaminos','Guadalajara',19001,'Nueva','5 2C'),
	 ('Adrian','Gil','Fernandez','4426152D','adrian.gil.fernandez@gmail.com',975655492,687454937,'1996-01-03','Marketing Digital y Análisis de Datos','ALUMNO','2023-04-29','Biescas','Huesca',22001,'Francisco de Goya','49 1Der.');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Consuelo','Santiago','Arias','5377492T','consuelo.santiago.arias@gmail.com',912835036,634636255,'2001-11-28','Marketing Digital y Análisis de Datos','PROFESOR','','Cilleruelo de Arriba','Burgos',9001,'Sol','1 4A'),
	 ('Fatima','Ruiz','Mora','7243750S','fatima.ruiz.mora@gmail.com',945726932,614954166,'2010-03-16','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-05-06','Sorihuela del Guadalimar','Jaén',23003,'Pablo Picasso','60 4B'),
	 ('Miriam','Prieto','Nieto','8740417A','miriam.prieto.nieto@gmail.com',940290951,685488341,'2000-04-01','Desarrollo Web Full Stack','PROFESOR','','Motilleja','Albacete',2002,'María Zambrano','49 1Der.'),
	 ('Celia','Garcia','Pastor','5125350F','celia.garcia.pastor@gmail.com',937666889,608570753,'2016-10-05','Desarrollo Web Full Stack','PROFESOR','','Tragacete','Cuenca',16003,'Hernán Cortés','82 1C'),
	 ('Rafael','Sanchez','Marin','6653469Y','rafael.sanchez.marin@gmail.com',983980522,670587298,'2007-07-26','Desarrollo Web Full Stack','ALUMNO','2023-05-07','Zerain','Gipuzkoa',20002,'Clara Campoamor','31 4Izq.'),
	 ('Juan francisco','Fuentes','Herrera','4500055J','juan francisco.fuentes.herrera@gmail.com',960071718,661008249,'2000-11-25','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Iglesias','Burgos',9003,'Dolores Ibárruri','68 1Der.'),
	 ('Juana','Rodriguez','Fuentes','5623093F','juana.rodriguez.fuentes@gmail.com',964496652,681972145,'2004-08-07','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Melque de Cercos','Segovia',40002,'España','33 4D'),
	 ('Celia','Gil','Iglesias','7991533E','celia.gil.iglesias@gmail.com',956934792,698936710,'2014-11-06','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Torralba de los Sisones','Teruel',44002,'Pablo Picasso','34 3Der.'),
	 ('Daniela','Marquez','Moya','7211648K','daniela.marquez.moya@gmail.com',958163136,637226933,'2017-01-14','DevOps & Cloud Computing Full Stack','ALUMNO','2023-05-14','Orellana la Vieja','Badajoz',6001,'Hernán Cortés','21 2Der.'),
	 ('Maria nieves','Morales','Cortes','5776993Z','maria nieves.morales.cortes@gmail.com',953216146,633664851,'1996-04-18','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-05-08','Tragacete','Cuenca',16003,'Real','90 3Izq.');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Susana','Ramos','Rodriguez','6104633L','susana.ramos.rodriguez@gmail.com',952561091,693678339,'2012-02-22','Marketing Digital y Análisis de Datos','ALUMNO','2023-05-27','Lebrija','Sevilla',41001,'Eras','46 2D'),
	 ('Francisco','Martinez','Torres','8019801T','francisco.martinez.torres@gmail.com',940579214,615603691,'2015-02-14','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Gordexola','Bizkaia',48001,'Pablo Picasso','76 3D'),
	 ('Dolores','Iglesias','Marquez','6174600C','dolores.iglesias.marquez@gmail.com',985723143,620346688,'1998-03-09','Marketing Digital y Análisis de Datos','ALUMNO','2023-04-16','Sant Pol de Mar','Barcelona',8004,'Dulcinea','3 3Der.'),
	 ('Jose antonio','Gallego','Gallego','8370980S','jose antonio.gallego.gallego@gmail.com',971609493,662053787,'1995-11-15','Marketing Digital y Análisis de Datos','PROFESOR','','Pedraza','Segovia',40003,'Gloria Fuertes','45 4D'),
	 ('Encarnacion','Bravo','Santana','2293155D','encarnacion.bravo.santana@gmail.com',986930716,617001139,'1991-06-30','Marketing Digital y Análisis de Datos','ALUMNO','2023-05-29','Biescas','Huesca',22001,'San Juan','23 3Izq.'),
	 ('Raul','Vargas','Gallego','6381429X','raul.vargas.gallego@gmail.com',919919362,695616757,'1994-02-02','Desarrollo Web Full Stack','PROFESOR','','Guadasséquies','Valencia/València',46005,'Pablo Picasso','68 3Der.'),
	 ('Javier','Vazquez','Calvo','3964046L','javier.vazquez.calvo@gmail.com',928041657,614130162,'2015-08-27','DevOps & Cloud Computing Full Stack','PROFESOR','','Huerta de Arriba','Burgos',9002,'Mercé Rodoreda','10 3Der.'),
	 ('Miriam','Cruz','Hernandez','1029952N','miriam.cruz.hernandez@gmail.com',926846753,622283736,'2005-10-23','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Sabiote','Jaén',23002,'Federico García Lorca','12 4A'),
	 ('Maria dolores','Soler','Blanco','7213810K','maria dolores.soler.blanco@gmail.com',954564682,616136293,'1992-11-17','Ciberseguridad Full Stack','ALUMNO','2023-05-18','Vedra','Coruña, A',15002,'Fuente','67 3D'),
	 ('Maria elena','Gallego','Marquez','4507788H','maria elena.gallego.marquez@gmail.com',903535617,665984608,'2008-10-31','Desarrollo Web Full Stack','ALUMNO','2023-05-25','Sayatón','Guadalajara',19001,'Eras','82 2Izq.');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Ivan','Calvo','Nieto','8088383L','ivan.calvo.nieto@gmail.com',942225187,663665918,'1996-05-13','Desarrollo Web Full Stack','PROFESOR','','Jana, la','Castellón/Castelló',12001,'Agustina de Aragón','28 2Der.'),
	 ('Adrian','Vega','Guerrero','7271791L','adrian.vega.guerrero@gmail.com',979807524,638080005,'1993-11-17','Ciberseguridad Full Stack','ALUMNO','2023-04-21','Benegiles','Zamora',49001,'Gloria Fuertes','67 2B'),
	 ('Fernando','Saez','Delgado','5924048F','fernando.saez.delgado@gmail.com',946884092,686067598,'2016-02-11','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Ayora','Valencia/València',46003,'Ramón y Cajal','1 4C'),
	 ('Alfredo','Cruz','Santos','2369066C','alfredo.cruz.santos@gmail.com',981362672,671827311,'1991-12-25','DevOps & Cloud Computing Full Stack','PROFESOR','','Humilladero','Málaga',29001,'Sol','82 1Izq.'),
	 ('Carmen','Marin','Carrasco','1511725G','carmen.marin.carrasco@gmail.com',971054008,640933165,'1997-04-29','Aprende a Programar desde Cero','PROFESOR','','Lliçà d''Amunt','Barcelona',8002,'Emilia Pardo Bazán','16 1Der.'),
	 ('Pablo','Pastor','Lozano','7587229N','pablo.pastor.lozano@gmail.com',900953855,600029553,'1996-01-16','Desarrollo de Apps Móviles Full Stack','ALUMNO','2023-05-14','Recuerda','Soria',42002,'María Zambrano','10 4B'),
	 ('Esther','Ferrer','Crespo','1806609M','esther.ferrer.crespo@gmail.com',962653489,627476521,'2011-06-09','Marketing Digital y Análisis de Datos','PROFESOR','','Lebrija','Sevilla',41001,'Gloria Fuertes','21 3C'),
	 ('Victoria','Muñoz','Bravo','3634330P','victoria.muñoz.bravo@gmail.com',987167770,695076631,'2004-10-27','Ciberseguridad Full Stack','PROFESOR','','Hornachuelos','Córdoba',14001,'Mayor','65 3A'),
	 ('Maria luisa','Ramos','Lorenzo','8046808M','maria luisa.ramos.lorenzo@gmail.com',949052563,601532790,'2000-01-15','Desarrollo de Apps Móviles Full Stack','ALUMNO','2023-04-26','Lemoa','Bizkaia',48002,'Monjas','20 4D'),
	 ('Juana','Romero','Ramirez','1863454V','juana.romero.ramirez@gmail.com',970057797,618115817,'1999-02-18','Aprende a Programar desde Cero','PROFESOR','','Cisneros','Palencia',34001,'Pablo Picasso','21 4B');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Maria luisa','Nieto','Hernandez','6892177C','maria luisa.nieto.hernandez@gmail.com',975710960,698114983,'2013-01-14','Desarrollo de Apps Móviles Full Stack','ALUMNO','2023-04-23','Manzaneda','Ourense',32001,'Constitución','55 3Der.'),
	 ('Ines','Dominguez','Leon','7079342B','ines.dominguez.leon@gmail.com',940995516,695319295,'2010-06-01','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-04-13','Orellana la Vieja','Badajoz',6001,'España','79 4Izq.'),
	 ('Cristian','Cortes','Suarez','4140362V','cristian.cortes.suarez@gmail.com',949509880,678036433,'2017-01-04','Desarrollo Web Full Stack','PROFESOR','','Zerain','Gipuzkoa',20002,'Cristóbal Colón','19 4B'),
	 ('Veronica','Montero','Saez','6248059V','veronica.montero.saez@gmail.com',998549498,649623550,'2010-03-04','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Castrelo do Val','Ourense',32001,'Mariana Pineda','53 4C'),
	 ('Mercedes','Hidalgo','Vazquez','8663847T','mercedes.hidalgo.vazquez@gmail.com',961793364,671103745,'1998-11-09','Marketing Digital y Análisis de Datos','PROFESOR','','Peñarrubia','Cantabria',39002,'Miguel de Cervantes','46 3A'),
	 ('Maria','Vega','Montero','2683601F','maria.vega.montero@gmail.com',933935571,613977855,'2003-03-27','Ciberseguridad Full Stack','PROFESOR','','Camponaraya','León',24002,'Antonio Machado','35 1Der.'),
	 ('Emilio','Perez','Rivera','1011344B','emilio.perez.rivera@gmail.com',955235856,664748312,'1994-09-06','Marketing Digital y Análisis de Datos','ALUMNO','2023-04-12','Cidamón','Rioja, La',26001,'Hernán Cortés','50 2A'),
	 ('Jaime','Ferrer','Peña','6417948M','jaime.ferrer.peña@gmail.com',931680821,607640333,'2010-02-01','Desarrollo Web Full Stack','PROFESOR','','Pedraza','Segovia',40003,'Sol','55 1Der.'),
	 ('Ana','Parra','Ramirez','6239083B','ana.parra.ramirez@gmail.com',970932907,693673937,'2014-08-15','Aprende a Programar desde Cero','ALUMNO','2023-04-23','Sayatón','Guadalajara',19001,'Francisco de Goya','19 2D'),
	 ('Iker','Gallardo','Prieto','1650861J','iker.gallardo.prieto@gmail.com',998831426,647266133,'2005-05-17','Desarrollo de Apps Móviles Full Stack','ALUMNO','2023-05-03','Etxalar','Navarra',31001,'Antonio Machado','26 2Izq.');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Nicolas','Hidalgo','Ramos','4034917G','nicolas.hidalgo.ramos@gmail.com',909217912,634607514,'1993-11-22','Aprende a Programar desde Cero','PROFESOR','','Vedra','Coruña, A',15002,'Iglesia','83 3A'),
	 ('Concepcion','Diaz','Leon','7114733M','concepcion.diaz.leon@gmail.com',963729899,659114904,'2011-08-13','Aprende a Programar desde Cero','ALUMNO','2023-05-14','Rianxo','Coruña, A',15001,'Gloria Fuertes','25 3C'),
	 ('Carmen','Fuentes','Ramos','2744011L','carmen.fuentes.ramos@gmail.com',938754733,649254599,'2011-01-17','Marketing Digital y Análisis de Datos','ALUMNO','2023-04-22','Sant Pol de Mar','Barcelona',8004,'Mayor','74 4D'),
	 ('Miguel','Roman','Nuñez','6921037S','miguel.roman.nuñez@gmail.com',940558457,696589152,'1997-07-30','Aprende a Programar desde Cero','ALUMNO','2023-05-30','Benigànim','Valencia/València',46004,'Miguel de Cervantes','26 2Izq.'),
	 ('Iker','Castro','Marin','6041984E','iker.castro.marin@gmail.com',922603021,629681260,'2013-11-07','DevOps & Cloud Computing Full Stack','ALUMNO','2023-04-30','Camarillas','Teruel',44001,'España','72 4C'),
	 ('Maria carmen','Blanco','Cruz','3101102N','maria carmen.blanco.cruz@gmail.com',974953084,606122455,'1992-01-04','DevOps & Cloud Computing Full Stack','ALUMNO','2023-05-04','Santa Cruz de la Zarza','Toledo',45001,'Mayor','88 2Izq.'),
	 ('Fatima','Gimenez','Medina','9021866R','fatima.gimenez.medina@gmail.com',954028362,643373718,'2006-10-17','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-05-03','Gordexola','Bizkaia',48001,'Miguel Hernández','42 1Der.'),
	 ('Maria mercedes','Velasco','Diez','4664770W','maria mercedes.velasco.diez@gmail.com',991416446,683112423,'2002-04-14','Ciberseguridad Full Stack','ALUMNO','2023-05-02','Torresandino','Burgos',9006,'Monjas','90 1Der.'),
	 ('Sergio','Campos','Gallego','6535702E','sergio.campos.gallego@gmail.com',927776566,689007614,'2003-07-08','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Dehesas de Guadix','Granada',18001,'Doctor Fleming','34 3Der.'),
	 ('Isabel','Gallego','Marquez','8593183S','isabel.gallego.marquez@gmail.com',963113917,636243271,'2012-01-03','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Valdáliga','Cantabria',39004,'Concepción Arenal','72 4B');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Claudia','Leon','Morales','4139206B','claudia.leon.morales@gmail.com',906559269,698175921,'2007-12-03','Aprende a Programar desde Cero','PROFESOR','','Santibáñez de la Sierra','Salamanca',37001,'Mariana Pineda','55 2B'),
	 ('Maria jose','Herrera','Carmona','6484124X','maria jose.herrera.carmona@gmail.com',980947246,665435809,'2001-11-10','DevOps & Cloud Computing Full Stack','PROFESOR','','Rozalén del Monte','Cuenca',16002,'Fuente','78 4Izq.'),
	 ('Ana isabel','Ruiz','Navarro','2659802J','ana isabel.ruiz.navarro@gmail.com',925035256,630146680,'1991-07-31','DevOps & Cloud Computing Full Stack','ALUMNO','2023-05-10','Villayón','Asturias',33001,'Monjas','12 3A'),
	 ('Clara','Ortiz','Muñoz','6761814K','clara.ortiz.muñoz@gmail.com',949372021,654541046,'2016-10-20','Aprende a Programar desde Cero','PROFESOR','','Campdevànol','Girona',17001,'Miguel Hernández','17 3C'),
	 ('Nicolas','Moya','Vazquez','8268421J','nicolas.moya.vazquez@gmail.com',983579967,608660850,'1999-01-31','DevOps & Cloud Computing Full Stack','ALUMNO','2023-04-29','Medina de Pomar','Burgos',9004,'Monjas','59 3A'),
	 ('Fatima','Diaz','Nieto','8736351P','fatima.diaz.nieto@gmail.com',900236115,610127370,'1999-09-21','DevOps & Cloud Computing Full Stack','ALUMNO','2023-04-28','Valfermoso de Tajuña','Guadalajara',19001,'España','89 3C'),
	 ('Veronica','Santana','Nuñez','9202596C','veronica.santana.nuñez@gmail.com',971764498,659185654,'2009-11-09','DevOps & Cloud Computing Full Stack','ALUMNO','2023-04-16','Santoña','Cantabria',39003,'Ramón y Cajal','21 3Der.'),
	 ('Mariano','Gomez','Marin','7941722Y','mariano.gomez.marin@gmail.com',987232427,638052600,'2005-01-19','Ciberseguridad Full Stack','PROFESOR','','Rozalén del Monte','Cuenca',16002,'San Juan','93 1C'),
	 ('Laura','Crespo','Prieto','9207302B','laura.crespo.prieto@gmail.com',957755106,632438354,'1999-09-21','Desarrollo Web Full Stack','ALUMNO','2023-04-11','Cabrillanes','León',24001,'Miguel Hernández','53 4Izq.'),
	 ('Albert','Martinez','Muñoz','3501909K','albert.martinez.muñoz@gmail.com',929988996,689608550,'1999-05-04','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Cisneros','Palencia',34001,'Dolores Ibárruri','89 4D');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Aitor','Soto','Torres','2908768G','aitor.soto.torres@gmail.com',967657780,606402228,'1993-07-23','Desarrollo Web Full Stack','PROFESOR','','Piña de Esgueva','Valladolid',47001,'Madre Teresa de Calcuta','47 4B'),
	 ('Rosa','Moreno','Sanchez','7875604J','rosa.moreno.sanchez@gmail.com',907041109,677430632,'2011-05-17','DevOps & Cloud Computing Full Stack','PROFESOR','','Bidaurreta','Navarra',31001,'Nueva','70 3B'),
	 ('Francisco jose','Carrasco','Romero','2942585B','francisco jose.carrasco.romero@gmail.com',934299834,675826650,'2011-10-14','Aprende a Programar desde Cero','PROFESOR','','Guadalmez','Ciudad Real',13001,'Isabel la Católica','77 4Der.'),
	 ('Samuel','Martinez','Flores','6603874E','samuel.martinez.flores@gmail.com',969666823,644400412,'1992-02-12','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-05-18','Zorraquín','Rioja, La',26003,'Federico García Lorca','37 4C'),
	 ('Sebastian','Delgado','Santos','6690250X','sebastian.delgado.santos@gmail.com',927069445,668042314,'2014-02-20','Desarrollo de Apps Móviles Full Stack','ALUMNO','2023-04-24','Cabrillanes','León',24001,'España','61 4Izq.'),
	 ('Mercedes','Gallego','Arias','9194565Q','mercedes.gallego.arias@gmail.com',989258702,652489352,'2005-02-14','DevOps & Cloud Computing Full Stack','ALUMNO','2023-04-16','Peñarrubia','Cantabria',39002,'Pablo Picasso','95 3Der.'),
	 ('Paula','Serrano','Rojas','9587332N','paula.serrano.rojas@gmail.com',901248380,632459466,'2014-08-20','Ciberseguridad Full Stack','PROFESOR','','Iglesias','Burgos',9003,'Hernán Cortés','79 1C'),
	 ('Noelia','Fernandez','Gallego','6454326C','noelia.fernandez.gallego@gmail.com',912162295,606229503,'2000-12-26','Desarrollo Web Full Stack','ALUMNO','2023-05-01','Robledo','Albacete',2003,'Emilia Pardo Bazán','92 1C'),
	 ('Samuel','Arias','Martin','8489030Y','samuel.arias.martin@gmail.com',966281481,689580115,'2013-08-06','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Robledo','Albacete',2003,'Velázquez','49 4Izq.'),
	 ('Rosa maria','Caballero','Garcia','5887316Y','rosa maria.caballero.garcia@gmail.com',927952106,650670329,'1991-11-03','DevOps & Cloud Computing Full Stack','ALUMNO','2023-05-20','Sorihuela del Guadalimar','Jaén',23003,'Nueva','39 1Izq.');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Vicente','Cabrera','Flores','4026254N','vicente.cabrera.flores@gmail.com',933507432,698664477,'2011-05-11','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Orellana la Vieja','Badajoz',6001,'María Zambrano','60 2Izq.'),
	 ('Marina','Prieto','Cano','9331505Z','marina.prieto.cano@gmail.com',945940499,652703916,'2013-07-01','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Ayora','Valencia/València',46003,'Mariana Pineda','7 4B'),
	 ('Antonio','Crespo','Cortes','5200478V','antonio.crespo.cortes@gmail.com',977703604,671440383,'2001-11-24','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-04-17','Campdevànol','Girona',17001,'Mercé Rodoreda','15 2C'),
	 ('Felipe','Lopez','Flores','5342596H','felipe.lopez.flores@gmail.com',956269083,617608383,'2006-10-23','DevOps & Cloud Computing Full Stack','PROFESOR','','Benigànim','Valencia/València',46004,'Emilia Pardo Bazán','65 4C'),
	 ('Ruben','Medina','Cruz','7806600D','ruben.medina.cruz@gmail.com',919899663,692437963,'2004-11-26','Aprende a Programar desde Cero','ALUMNO','2023-05-08','Villayón','Asturias',33001,'Ramón y Cajal','72 2B'),
	 ('Juan jose','Serrano','Rubio','6013590X','juan jose.serrano.rubio@gmail.com',971370618,608861739,'2009-06-05','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Guadasséquies','Valencia/València',46005,'Hernán Cortés','95 2D'),
	 ('Santiago','Caballero','Romero','7444462Y','santiago.caballero.romero@gmail.com',907628272,682001189,'2007-07-13','DevOps & Cloud Computing Full Stack','PROFESOR','','Alborea','Albacete',2001,'Monjas','78 4C'),
	 ('Pedro','Mendez','Guerrero','3685543T','pedro.mendez.guerrero@gmail.com',953375046,628133578,'1998-01-25','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-04-27','Olaibar','Navarra',31001,'Rosalía de Castro','77 3B'),
	 ('Juan','Soler','Hernandez','5324117P','juan.soler.hernandez@gmail.com',981697392,667397957,'1993-10-22','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Olmeda de las Fuentes','Madrid',28001,'Miguel de Cervantes','49 4Der.'),
	 ('Laura','Montero','Rivera','7759446M','laura.montero.rivera@gmail.com',904359241,665505375,'2009-07-31','Desarrollo Web Full Stack','PROFESOR','','Orellana la Vieja','Badajoz',6001,'Constitución','77 1Der.');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Jose carlos','Flores','Rojas','2628902W','jose carlos.flores.rojas@gmail.com',907834173,605743896,'1994-08-07','Ciberseguridad Full Stack','PROFESOR','','Valcabado','Zamora',49003,'Juan Ramón Jiménez','57 2D'),
	 ('Ana','Peña','Cruz','2091341C','ana.peña.cruz@gmail.com',993618482,622887165,'1999-02-01','Marketing Digital y Análisis de Datos','ALUMNO','2023-05-20','Lliçà d''Amunt','Barcelona',8002,'Pablo Picasso','50 3Izq.'),
	 ('Marina','Delgado','Lozano','4452917W','marina.delgado.lozano@gmail.com',973973527,661954618,'2012-01-04','Marketing Digital y Análisis de Datos','ALUMNO','2023-04-23','Guadalmez','Ciudad Real',13001,'Isabel la Católica','33 4Der.'),
	 ('Ignacio','Vazquez','Rojas','8297068W','ignacio.vazquez.rojas@gmail.com',924961923,677758340,'1992-07-14','Desarrollo Web Full Stack','ALUMNO','2023-05-06','Melgar de Fernamental','Burgos',9005,'Bartolomé Esteban Murillo','63 4B'),
	 ('Emilio','Jimenez','Peña','8235947S','emilio.jimenez.peña@gmail.com',925184442,640778705,'2001-07-28','DevOps & Cloud Computing Full Stack','ALUMNO','2023-04-21','Piña de Esgueva','Valladolid',47001,'Juan Ramón Jiménez','9 4D'),
	 ('Gloria','Pastor','Flores','3130557G','gloria.pastor.flores@gmail.com',958700705,674569106,'2006-06-23','Marketing Digital y Análisis de Datos','PROFESOR','','Tragacete','Cuenca',16003,'Mayor','71 3D'),
	 ('Jose carlos','Marin','Bravo','8812890A','jose carlos.marin.bravo@gmail.com',901630628,652389631,'2011-04-11','DevOps & Cloud Computing Full Stack','PROFESOR','','Zorraquín','Rioja, La',26003,'Constitución','16 1B'),
	 ('Carlos','Gomez','Montero','8115420P','carlos.gomez.montero@gmail.com',961700597,624000219,'1990-04-27','DevOps & Cloud Computing Full Stack','ALUMNO','2023-04-30','Bidaurreta','Navarra',31001,'Reina Sofía','52 1B'),
	 ('Jose maria','Garrido','Leon','5296974M','jose maria.garrido.leon@gmail.com',930965039,673728922,'2008-04-03','Ciberseguridad Full Stack','ALUMNO','2023-05-13','Alcublas','Valencia/València',46001,'Gloria Fuertes','37 4D'),
	 ('Andrea','Pastor','Roman','5256961N','andrea.pastor.roman@gmail.com',974948873,605602570,'2016-03-28','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-05-05','Sayatón','Guadalajara',19001,'Juan Ramón Jiménez','84 3C');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Nicolas','Gil','Crespo','6531300J','nicolas.gil.crespo@gmail.com',965576287,624880969,'2007-06-14','Marketing Digital y Análisis de Datos','ALUMNO','2023-04-12','Campdevànol','Girona',17001,'Emilia Pardo Bazán','69 4D'),
	 ('Maria josefa','Herrera','Gonzalez','4195325X','maria josefa.herrera.gonzalez@gmail.com',937133308,639912764,'2015-03-09','Ciberseguridad Full Stack','ALUMNO','2023-05-11','Piña de Esgueva','Valladolid',47001,'Rosalía de Castro','53 2A'),
	 ('Fatima','Benitez','Prieto','4893212P','fatima.benitez.prieto@gmail.com',900673044,606172803,'1994-02-11','Desarrollo Web Full Stack','PROFESOR','','Comillas','Cantabria',39001,'España','83 2Izq.'),
	 ('Joaquin','Morales','Alvarez','4885532X','joaquin.morales.alvarez@gmail.com',920428093,697681899,'1998-03-12','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Lebrija','Sevilla',41001,'Rosalía de Castro','24 1Izq.'),
	 ('Ana isabel','Moya','Carmona','3375708K','ana isabel.moya.carmona@gmail.com',926588963,652860901,'1998-01-21','Marketing Digital y Análisis de Datos','ALUMNO','2023-04-30','Palacios de la Valduerna','León',24003,'Hernán Cortés','98 3C'),
	 ('Miguel angel','Cano','Caballero','9849689P','miguel angel.cano.caballero@gmail.com',977575787,632238913,'2007-09-04','Desarrollo de Apps Móviles Full Stack','ALUMNO','2023-05-05','Santoña','Cantabria',39003,'Isabel la Católica','76 3A'),
	 ('Hugo','Vicente','Navarro','5023537S','hugo.vicente.navarro@gmail.com',992830369,615455315,'2011-07-16','Ciberseguridad Full Stack','PROFESOR','','Proaza','Asturias',33001,'Concepción Arenal','64 2A'),
	 ('Jaime','Cabrera','Garrido','8649566W','jaime.cabrera.garrido@gmail.com',960512421,678758023,'2001-02-02','Desarrollo Web Full Stack','PROFESOR','','Pinilla de Molina','Guadalajara',19001,'España','67 2Izq.'),
	 ('Montserrat','Leon','Vicente','9834582N','montserrat.leon.vicente@gmail.com',953664777,665340190,'2006-05-11','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-05-19','Vall d''Uixó, la','Castellón/Castelló',12002,'Hernán Cortés','27 1Der.'),
	 ('Santiago','Vazquez','Pascual','7351128Y','santiago.vazquez.pascual@gmail.com',955152949,615173111,'2001-10-14','Ciberseguridad Full Stack','ALUMNO','2023-05-14','Medina de Pomar','Burgos',9004,'Sol','55 2A');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Cristina','Diaz','Ruiz','7591056K','cristina.diaz.ruiz@gmail.com',962112626,692932103,'2006-04-22','Marketing Digital y Análisis de Datos','PROFESOR','','Comillas','Cantabria',39001,'Emilia Pardo Bazán','55 1D'),
	 ('Claudia','Castillo','Herrero','5496293Y','claudia.castillo.herrero@gmail.com',901929138,610412828,'1993-10-22','Marketing Digital y Análisis de Datos','PROFESOR','','Sayatón','Guadalajara',19001,'María Zambrano','40 3C'),
	 ('Noelia','Prieto','Ramos','4119341H','noelia.prieto.ramos@gmail.com',916603781,623182709,'1994-04-20','Ciberseguridad Full Stack','PROFESOR','','Olmeda de las Fuentes','Madrid',28001,'Federico García Lorca','14 2B'),
	 ('Maria teresa','Garcia','Parra','4529304Y','maria teresa.garcia.parra@gmail.com',953692657,691589825,'2013-02-16','Aprende a Programar desde Cero','PROFESOR','','Orellana la Vieja','Badajoz',6001,'Velázquez','74 3A'),
	 ('Albert','Peña','Martin','9162589X','albert.peña.martin@gmail.com',995271644,646224080,'2014-08-22','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Senyera','Valencia/València',46007,'Doctor Fleming','20 3A'),
	 ('Mercedes','Mora','Lopez','1286817J','mercedes.mora.lopez@gmail.com',994364105,687326475,'2012-01-05','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Valle de Santa Ana','Badajoz',6002,'Reina Sofía','16 2B'),
	 ('Josep','Crespo','Ramos','2184326Q','josep.crespo.ramos@gmail.com',940758285,614219613,'2007-12-04','Ciberseguridad Full Stack','PROFESOR','','Guadalmez','Ciudad Real',13001,'España','5 4B'),
	 ('Diego','Rivera','Arias','2953585V','diego.rivera.arias@gmail.com',971208208,654817707,'1990-09-18','Marketing Digital y Análisis de Datos','ALUMNO','2023-05-21','Zorraquín','Rioja, La',26003,'Constitución','55 2A'),
	 ('Maria angeles','Romero','Rivera','8869699W','maria angeles.romero.rivera@gmail.com',963837058,694517910,'2011-02-18','Ciberseguridad Full Stack','PROFESOR','','Urueñas','Segovia',40005,'Ramón y Cajal','9 3A'),
	 ('Xavier','Cano','Ruiz','6245832K','xavier.cano.ruiz@gmail.com',996056733,625838206,'2014-06-15','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Quintanilla del Monte','Zamora',49002,'Federico García Lorca','14 3D');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Natalia','Gonzalez','Vicente','4807741M','natalia.gonzalez.vicente@gmail.com',960502750,684923779,'2006-02-08','Aprende a Programar desde Cero','ALUMNO','2023-05-24','Santoña','Cantabria',39003,'San Juan','58 3C'),
	 ('Maria soledad','Suarez','Vega','6961531Y','maria soledad.suarez.vega@gmail.com',984920358,687889205,'2006-11-02','Desarrollo de Apps Móviles Full Stack','ALUMNO','2023-05-29','Fuentepiñel','Segovia',40001,'Bartolomé Esteban Murillo','83 1C'),
	 ('Maria mercedes','Fuentes','Castillo','5972051D','maria mercedes.fuentes.castillo@gmail.com',986990800,688414440,'2001-09-27','Desarrollo Web Full Stack','PROFESOR','','Isábena','Huesca',22001,'Clara Campoamor','43 4Der.'),
	 ('Maria jesus','Vargas','Fernandez','8101031V','maria jesus.vargas.fernandez@gmail.com',929527500,668628825,'1995-09-07','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-05-13','Huerta de Arriba','Burgos',9002,'Constitución','1 1B'),
	 ('Juan carlos','Hernandez','Blanco','6046913Y','juan carlos.hernandez.blanco@gmail.com',927911392,610940253,'2016-11-03','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Palacios de la Valduerna','León',24003,'Fuente','2 2C'),
	 ('Ainhoa','Cortes','Alvarez','9710458L','ainhoa.cortes.alvarez@gmail.com',988779117,689537211,'2000-04-19','Aprende a Programar desde Cero','PROFESOR','','Guadasséquies','Valencia/València',46005,'Sol','99 3Izq.'),
	 ('Antonio','Cruz','Leon','6311892W','antonio.cruz.leon@gmail.com',946483772,617655905,'2011-09-23','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Lebrija','Sevilla',41001,'Eras','70 3Der.'),
	 ('Jose ignacio','Castro','Blanco','4579808W','jose ignacio.castro.blanco@gmail.com',958717829,663925940,'2014-12-03','Aprende a Programar desde Cero','ALUMNO','2023-05-11','Piña de Esgueva','Valladolid',47001,'Concepción Arenal','87 2C'),
	 ('Amparo','Medina','Diaz','6127633L','amparo.medina.diaz@gmail.com',936574999,661434325,'2002-05-26','Marketing Digital y Análisis de Datos','ALUMNO','2023-04-15','Turégano','Segovia',40004,'Constitución','74 4B'),
	 ('Rosa maria','Pascual','Gomez','8569498C','rosa maria.pascual.gomez@gmail.com',967035166,688767501,'2007-03-14','Marketing Digital y Análisis de Datos','ALUMNO','2023-05-13','Guadalmez','Ciudad Real',13001,'Mariana Pineda','87 1B');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Rocio','Ramos','Delgado','1727661Q','rocio.ramos.delgado@gmail.com',956514584,640250136,'1993-04-29','Desarrollo Web Full Stack','ALUMNO','2023-05-23','Alaminos','Guadalajara',19001,'Miguel Hernández','87 2Der.'),
	 ('Beatriz','Pastor','Alonso','9893178G','beatriz.pastor.alonso@gmail.com',903512341,665456903,'2010-11-22','Marketing Digital y Análisis de Datos','ALUMNO','2023-05-24','Zorraquín','Rioja, La',26003,'Gloria Fuertes','21 3Der.'),
	 ('Sara','Moya','Flores','4187383A','sara.moya.flores@gmail.com',935695534,679802710,'1998-03-02','Desarrollo de Apps Móviles Full Stack','ALUMNO','2023-04-27','Taravilla','Guadalajara',19001,'María Zambrano','7 2Der.'),
	 ('Alba','Flores','Saez','7788348L','alba.flores.saez@gmail.com',984807531,664730880,'2015-01-08','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Olmeda del Rey','Cuenca',16001,'Clara Campoamor','78 2C'),
	 ('Emilio','Velasco','Marquez','8525149S','emilio.velasco.marquez@gmail.com',920334001,670628190,'1990-05-28','DevOps & Cloud Computing Full Stack','PROFESOR','','Olmeda del Rey','Cuenca',16001,'Velázquez','90 1D'),
	 ('Angel','Saez','Lozano','2837105D','angel.saez.lozano@gmail.com',944814319,639727028,'2015-01-23','Marketing Digital y Análisis de Datos','PROFESOR','','Dehesas de Guadix','Granada',18001,'Agustina de Aragón','12 3C'),
	 ('Ainhoa','Hidalgo','Nuñez','7101932S','ainhoa.hidalgo.nuñez@gmail.com',926263352,686013236,'1990-10-14','DevOps & Cloud Computing Full Stack','ALUMNO','2023-05-08','Zerain','Gipuzkoa',20002,'Iglesia','89 3C'),
	 ('Sofia','Ortiz','Gonzalez','8046165Y','sofia.ortiz.gonzalez@gmail.com',939259409,641197588,'1990-11-02','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Ventosilla y Tejadilla','Segovia',40006,'Dolores Ibárruri','96 3A'),
	 ('Irene','Mendez','Hernandez','2427960B','irene.mendez.hernandez@gmail.com',996313649,626513840,'2017-01-03','Marketing Digital y Análisis de Datos','PROFESOR','','Valdáliga','Cantabria',39004,'María Zambrano','18 4B'),
	 ('Maria rosa','Saez','Nieto','4330871V','maria rosa.saez.nieto@gmail.com',935575765,623630860,'2000-08-20','DevOps & Cloud Computing Full Stack','ALUMNO','2023-04-22','Alcublas','Valencia/València',46001,'María Zambrano','9 3D');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Jesus','Ramos','Mora','3171512L','jesus.ramos.mora@gmail.com',989159490,654234917,'2004-12-09','Marketing Digital y Análisis de Datos','PROFESOR','','Valdáliga','Cantabria',39004,'Doctor Fleming','8 2C'),
	 ('Maria angeles','Santana','Diez','7271542T','maria angeles.santana.diez@gmail.com',955904506,618181536,'1995-12-14','DevOps & Cloud Computing Full Stack','ALUMNO','2023-04-15','Cabrillanes','León',24001,'España','69 4A'),
	 ('Samuel','Calvo','Fuentes','9194806G','samuel.calvo.fuentes@gmail.com',967965565,652319656,'2001-10-13','DevOps & Cloud Computing Full Stack','PROFESOR','','Melgar de Fernamental','Burgos',9005,'Miguel de Cervantes','99 3C'),
	 ('Alberto','Parra','Roman','1765807M','alberto.parra.roman@gmail.com',987329856,685703561,'2016-10-24','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Sabiote','Jaén',23002,'Iglesia','19 3A'),
	 ('Maria carmen','Rivera','Hidalgo','5192112T','maria carmen.rivera.hidalgo@gmail.com',976603049,632272938,'2005-07-30','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Santoña','Cantabria',39003,'Nueva','86 2B'),
	 ('Jose francisco','Marquez','Ramirez','5899794H','jose francisco.marquez.ramirez@gmail.com',910401431,629418719,'2011-04-13','DevOps & Cloud Computing Full Stack','ALUMNO','2023-04-14','Torralba de los Sisones','Teruel',44002,'Constitución','4 3D'),
	 ('Maria jose','Diaz','Jimenez','2855486J','maria jose.diaz.jimenez@gmail.com',940732953,679321323,'1991-11-15','DevOps & Cloud Computing Full Stack','ALUMNO','2023-04-28','Sant Pol de Mar','Barcelona',8004,'Miguel Hernández','14 1D'),
	 ('Elena','Saez','Leon','2252644R','elena.saez.leon@gmail.com',903181054,624056862,'2012-07-14','Marketing Digital y Análisis de Datos','ALUMNO','2023-04-16','Hornachuelos','Córdoba',14001,'Agustina de Aragón','46 3Der.'),
	 ('Daniel','Gonzalez','Leon','6200534X','daniel.gonzalez.leon@gmail.com',931600665,658519333,'2000-09-20','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-04-22','Olmeda de las Fuentes','Madrid',28001,'Francisco de Goya','68 2C'),
	 ('Aitor','Torres','Flores','8783343B','aitor.torres.flores@gmail.com',993909801,674143664,'1993-11-19','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Villayón','Asturias',33001,'San Juan','73 3A');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Tomas','Roman','Santana','8596048M','tomas.roman.santana@gmail.com',946391850,649212717,'1996-11-04','Aprende a Programar desde Cero','ALUMNO','2023-05-06','Hornachuelos','Córdoba',14001,'Pablo Picasso','39 2C'),
	 ('Aitor','Herrero','Vazquez','6098682W','aitor.herrero.vazquez@gmail.com',995917681,691340461,'1997-11-19','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Santoña','Cantabria',39003,'Eras','92 4C'),
	 ('Adriana','Rivera','Jimenez','6920792T','adriana.rivera.jimenez@gmail.com',952331854,660875116,'1990-07-31','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-04-17','Guadalmez','Ciudad Real',13001,'Eras','11 2D'),
	 ('Antonio','Herrera','Rivera','2959509F','antonio.herrera.rivera@gmail.com',987650595,629548259,'1996-07-08','Aprende a Programar desde Cero','ALUMNO','2023-05-25','Ventosilla y Tejadilla','Segovia',40006,'Hernán Cortés','63 3Der.'),
	 ('Teresa','Montero','Carmona','6587573M','teresa.montero.carmona@gmail.com',990868936,699772889,'2002-06-24','Ciberseguridad Full Stack','PROFESOR','','Senyera','Valencia/València',46007,'Rosalía de Castro','37 1C'),
	 ('Julia','Moreno','Cabrera','8495189R','julia.moreno.cabrera@gmail.com',910839278,650542725,'1993-03-26','Desarrollo de Apps Móviles Full Stack','ALUMNO','2023-05-25','Turégano','Segovia',40004,'Miguel Hernández','56 2D'),
	 ('Alvaro','Dominguez','Castillo','4527357Z','alvaro.dominguez.castillo@gmail.com',996939307,692526980,'2005-11-14','Marketing Digital y Análisis de Datos','PROFESOR','','Hornachuelos','Córdoba',14001,'Miguel Hernández','52 4Izq.'),
	 ('Miguel','Lorenzo','Prieto','3710397Z','miguel.lorenzo.prieto@gmail.com',900082578,688591021,'1995-06-25','Desarrollo Web Full Stack','PROFESOR','','Manzaneda','Ourense',32001,'Reina Sofía','93 3B'),
	 ('Gloria','Gonzalez','Benitez','9568197J','gloria.gonzalez.benitez@gmail.com',972053395,698801032,'2011-06-24','Desarrollo Web Full Stack','PROFESOR','','Itero de la Vega','Palencia',34002,'Francisco de Goya','2 4C'),
	 ('Rosario','Herrero','Fernandez','3665856R','rosario.herrero.fernandez@gmail.com',927215125,608855417,'2014-02-01','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Iglesias','Burgos',9003,'San Juan','65 2Der.');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Santiago','Suarez','Cabrera','5752886B','santiago.suarez.cabrera@gmail.com',947812183,644130721,'2015-09-14','DevOps & Cloud Computing Full Stack','PROFESOR','','Taravilla','Guadalajara',19001,'Monjas','5 3D'),
	 ('Sandra','Arias','Garcia','1281806Q','sandra.arias.garcia@gmail.com',940356799,628598021,'2001-01-18','Big Data, Inteligencia Artificial & Machine Learning Full Stack','ALUMNO','2023-05-11','Sant Pol de Mar','Barcelona',8004,'Madre Teresa de Calcuta','58 3Izq.'),
	 ('Juan carlos','Sanchez','Morales','9449356J','juan carlos.sanchez.morales@gmail.com',910748448,670312142,'2016-06-18','Desarrollo Web Full Stack','ALUMNO','2023-04-23','Cabrillanes','León',24001,'Concepción Arenal','80 3Izq.'),
	 ('Jose miguel','Sanz','Nieto','2577315G','jose miguel.sanz.nieto@gmail.com',921251296,630209120,'2009-01-15','DevOps & Cloud Computing Full Stack','ALUMNO','2023-05-23','Fuentepiñel','Segovia',40001,'Concepción Arenal','67 1Izq.'),
	 ('Oscar','Bravo','Ramos','2055088S','oscar.bravo.ramos@gmail.com',986834170,666369147,'2006-03-19','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Castrelo do Val','Ourense',32001,'Concepción Arenal','52 2A'),
	 ('Carlos','Vicente','Lopez','6276215K','carlos.vicente.lopez@gmail.com',900036986,677069201,'1994-03-01','Aprende a Programar desde Cero','ALUMNO','2023-04-24','Gallinero de Cameros','Rioja, La',26002,'Bartolomé Esteban Murillo','35 4B'),
	 ('Maria victoria','Calvo','Guerrero','4714466H','maria victoria.calvo.guerrero@gmail.com',962610281,625673505,'2003-10-11','Marketing Digital y Análisis de Datos','ALUMNO','2023-04-12','Santa Cruz de la Zarza','Toledo',45001,'Pablo Picasso','69 3Izq.'),
	 ('Olga','Romero','Saez','5305428H','olga.romero.saez@gmail.com',983570350,608236743,'2000-02-27','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Tragacete','Cuenca',16003,'Dulcinea','15 2Der.'),
	 ('Ruben','Cano','Velasco','4458496S','ruben.cano.velasco@gmail.com',946833937,683672083,'2001-01-24','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Manzaneda','Ourense',32001,'España','74 1Der.'),
	 ('Consuelo','Martin','Serrano','4020338F','consuelo.martin.serrano@gmail.com',975615828,625455765,'2006-08-30','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Gallinero de Cameros','Rioja, La',26002,'Ramón y Cajal','87 1Izq.');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Josep','Gutierrez','Vega','8582003J','josep.gutierrez.vega@gmail.com',955172376,694878231,'2008-02-08','Desarrollo Web Full Stack','PROFESOR','','Bidaurreta','Navarra',31001,'Madre Teresa de Calcuta','33 3Der.'),
	 ('Ainhoa','Bravo','Blanco','3487215R','ainhoa.bravo.blanco@gmail.com',900848282,633927758,'2013-11-08','Desarrollo de Apps Móviles Full Stack','ALUMNO','2023-05-03','Valfermoso de Tajuña','Guadalajara',19001,'Nueva','22 2D'),
	 ('Jose antonio','Soto','Navarro','1050983K','jose antonio.soto.navarro@gmail.com',948979692,635212117,'2011-06-29','Desarrollo de Apps Móviles Full Stack','ALUMNO','2023-04-22','Castrelo do Val','Ourense',32001,'Eras','53 1C'),
	 ('Angela','Moreno','Rubio','7893198N','angela.moreno.rubio@gmail.com',920699548,650300521,'2007-01-02','DevOps & Cloud Computing Full Stack','PROFESOR','','Villayón','Asturias',33001,'Mariana Pineda','4 3D'),
	 ('Alfredo','Reyes','Gonzalez','2216481V','alfredo.reyes.gonzalez@gmail.com',981912175,694100392,'2005-01-18','Desarrollo Web Full Stack','ALUMNO','2023-05-19','Porriño, O','Pontevedra',36001,'Pablo Picasso','64 3C'),
	 ('Encarnacion','Guerrero','Jimenez','1878541Q','encarnacion.guerrero.jimenez@gmail.com',933768054,676445873,'1997-09-23','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Santa Eugènia de Berga','Barcelona',8005,'Miguel de Cervantes','79 3Izq.'),
	 ('Jorge','Jimenez','Ortiz','5615927V','jorge.jimenez.ortiz@gmail.com',945863897,656134489,'2010-10-03','Ciberseguridad Full Stack','PROFESOR','','Chantada','Lugo',27001,'Bartolomé Esteban Murillo','20 1B'),
	 ('Ana belen','Peña','Ramos','8583477S','ana belen.peña.ramos@gmail.com',997493865,686202473,'2004-11-19','Desarrollo Web Full Stack','PROFESOR','','Torralba de los Sisones','Teruel',44002,'Sol','8 1B'),
	 ('Gloria','Nuñez','Nuñez','1487221H','gloria.nuñez.nuñez@gmail.com',974029023,605967504,'1996-08-08','Aprende a Programar desde Cero','PROFESOR','','Vall d''Uixó, la','Castellón/Castelló',12002,'Agustina de Aragón','80 3D'),
	 ('Yolanda','Lopez','Nieto','4020140Q','yolanda.lopez.nieto@gmail.com',993528643,669635556,'1993-05-25','Desarrollo Web Full Stack','PROFESOR','','Santoña','Cantabria',39003,'Doctor Fleming','58 4Der.');
INSERT INTO keepcoding.datos_academia ("Nombre Completo","Primer Apellido","Segundo Apellido",dni,email,teléfono,móvil,"Fecha Nacimiento",curso,rol,"Fecha Matriculacion",poblacion,provincia,"Codigo Postal",calle,extensión) VALUES
	 ('Rocio','Iglesias','Gallego','8593735S','rocio.iglesias.gallego@gmail.com',954911194,691710295,'2002-05-23','Big Data, Inteligencia Artificial & Machine Learning Full Stack','PROFESOR','','Melgar de Fernamental','Burgos',9005,'Iglesia','62 1Der.'),
	 ('Ainhoa','Gimenez','Mora','5660447D','ainhoa.gimenez.mora@gmail.com',940072838,687154860,'1990-08-24','Desarrollo de Apps Móviles Full Stack','ALUMNO','2023-05-11','Santa Eugènia de Berga','Barcelona',8005,'Mariana Pineda','25 4D'),
	 ('Mohamed','Santana','Campos','9348756S','mohamed.santana.campos@gmail.com',908405891,633181360,'2000-07-12','DevOps & Cloud Computing Full Stack','PROFESOR','','Santa Eugènia de Berga','Barcelona',8005,'Francisco de Goya','11 3C'),
	 ('Felix','Moya','Hernandez','2225076X','felix.moya.hernandez@gmail.com',974481993,646801988,'1991-12-10','Desarrollo Web Full Stack','ALUMNO','2023-05-06','Guadasséquies','Valencia/València',46005,'Antonio Machado','88 1B'),
	 ('Guillermo','Romero','Cortes','7182078Y','guillermo.romero.cortes@gmail.com',931690565,634893147,'2002-12-03','Desarrollo Web Full Stack','PROFESOR','','Urueñas','Segovia',40005,'Ramón y Cajal','77 3C'),
	 ('Amparo','Molina','Muñoz','6741636Z','amparo.molina.muñoz@gmail.com',920284270,669978140,'1997-03-30','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Zerain','Gipuzkoa',20002,'Antonio Machado','78 2Izq.'),
	 ('Diego','Gomez','Gonzalez','8642845C','diego.gomez.gonzalez@gmail.com',925520356,603542562,'2005-01-26','Desarrollo Web Full Stack','ALUMNO','2023-04-27','Senyera','Valencia/València',46007,'Eras','69 3Izq.'),
	 ('Guillermo','Mendez','Cortes','1165073P','guillermo.mendez.cortes@gmail.com',959414058,609096312,'2000-06-06','Desarrollo de Apps Móviles Full Stack','PROFESOR','','Hornachuelos','Córdoba',14001,'Isabel la Católica','22 2D'),
	 ('Maria antonia','Cano','Pascual','9045843N','maria antonia.cano.pascual@gmail.com',935904530,655447764,'2009-07-20','Ciberseguridad Full Stack','PROFESOR','','Cilleruelo de Arriba','Burgos',9001,'Gloria Fuertes','94 3Der.'),
	 ('Josep','Sanz','Alvarez','9342415E','josep.sanz.alvarez@gmail.com',992074402,609053895,'1998-12-05','Aprende a Programar desde Cero','PROFESOR','','Ventosilla y Tejadilla','Segovia',40006,'Miguel Hernández','33 4Izq.');

In [104]:
-- numero de alumnos y profesores que tiene cada curso
select curso, count(dni) from keepcoding.datos_academia group by curso;

7 row(s) returned.

curso                                                              count
---------------------------------------------------------------  -------
Desarrollo Web Full Stack                                             29
Aprende a Programar desde Cero                                        22
Ciberseguridad Full Stack                                             19
Desarrollo de Apps Móviles Full Stack                                 32
Marketing Digital y Análisis de Datos                                 27
DevOps & Cloud Computing Full Stack                                   30
Big Data, Inteligencia Artificial & Machine Learning Full Stack       31

**A PARTIR DE AQUÍ USAREMOS ESTA TABLA datos_academia PARA IR INSERTANDO EN LAS OTRAS TABLAS**

**Insertamos datos en tabla curso**

<img src="img/b5.png">

In [106]:
/*
añado el año manualmente en el insert ya que no existe en la tabla datos_academos 
*/

select 2023 año ,curso from keepcoding.datos_academia group by curso;

7 row(s) returned.

  año  curso
-----  ---------------------------------------------------------------
 2023  Desarrollo Web Full Stack
 2023  Aprende a Programar desde Cero
 2023  Ciberseguridad Full Stack
 2023  Desarrollo de Apps Móviles Full Stack
 2023  Marketing Digital y Análisis de Datos
 2023  DevOps & Cloud Computing Full Stack
 2023  Big Data, Inteligencia Artificial & Machine Learning Full Stack

In [107]:
INSERT INTO keepcoding.curso(año, nombre) 
select 2023 as año, curso 
from keepcoding.datos_academia 
group by curso;

In [109]:
select * from keepcoding.curso;

7 row(s) returned.

  id  nombre                                                             año
----  ---------------------------------------------------------------  -----
   1  Desarrollo Web Full Stack                                         2023
   2  Aprende a Programar desde Cero                                    2023
   3  Ciberseguridad Full Stack                                         2023
   4  Desarrollo de Apps Móviles Full Stack                             2023
   5  Marketing Digital y Análisis de Datos                             2023
   6  DevOps & Cloud Computing Full Stack                               2023
   7  Big Data, Inteligencia Artificial & Machine Learning Full Stack   2023