#  1. Sentencias de definición de datos

In [16]:
-- connection: postgres://postgres:1234@localhost:5433/postgres

## 1.1 Creación de una BD relacional
>  Muchos de los sistemas relacionales comerciales (como es el caso de Informix, DB2, SQL Server y otros) han incor- pora-do sentencias de creación de BD con la siguiente sintaxis:

In [ ]:
CREATE DATABASE 
<nombre_BD>;

>La sintaxis de SQL:1992 de esta sentencia es la que tenéis a continuación:

In [ ]:
CREATE SCHEMA {<NOMBRE_ESQUEMA>|AUTHORIZATION <USUARIO>}
[<LISTA_ELEMENTOS_ESQUEMA>];

>* `[...]` : lo que hay entre los corchetes se podría poner o no.
>* `{A|...|B}` :  tenemos que escoger entre todas las opciones que hay entre las llaves. Pero tenemos que poner una obligato- riamente.
>* `<A>` A es un elemento pendiente ded efinición.

__BORRADO DE UNA BD RELACIONAL__

In [ ]:
DROP SCHEMA <NOMBRE_ESQUEMA> {RESTRICT|CASCADE};

>* `RESTRICT` hace que el esquema sólo se pueda borrar si no contiene ningún elemento.
>* `CASCADE` borra el esquema aunque no esté completamente vacío.

## 1.2 Creación de tablas

In [ ]:
CREATE TABLE <NOMBRE_ESQUEMA>
    (<DEFINICIÓN_COLUMNA> 
     [,<DEFINICIÓN_COLUMNA>...]
     [,<RESTRICCIONES_TABLA>]
    );

> Donde definicion_columna es:  
> `<nombre_columna> {<tipo_datos>|<dominio>} [<def_defecto>] [<restricciones_columna>]`

### 1.2.1. Tipos de datos

><img src="img/1.png" width="500">

__El tratamiento del tiempo__
* SQL define la siguiente nomenclatura para trabajar con el tiempo:  
* YEAR (0001..9999) MONTH (01..12)  
* DAY (01..31)  
* HOUR (00..23)  
* MINUT (00..59)  
* SECOND (00..59.precisión)

### 1.2.2. Creación, modificación y borrado de dominios

In [ ]:
CREATE DOMAIN <NOMBRE_DOMINIO> [AS] <TIPO_DATO>
    [<DEF_DEFECTO>] [<RESTRICCIONES_DOMINIO>]

> donde `RESTRICCIONES_DOMINIO` tiene el siguiente formato:

In [ ]:
CONSTRAINT [<NOMBRE_RESTRICCION>] CHECK (<CONDICIONES>)

__CREACION DOMINIO POR USUARIO__ en BDUOC  
>Si quisiéramos definir un dominio para las ciudades donde se encuentran los depar- ta-mentos de la empresa BDUOC, haríamos:

In [11]:
 CREATE DOMAIN dom_ciudades AS CHAR(20)
    CONSTRAINT ciudades_validas
    CHECK (
        VALUE IN ("Barcelona", "Tarragona", "Lerida", "Gerona")
    );

column "Barcelona" does not exist

>De esta manera, cuando definimos la columna __`ciudad`__ dentro de la __`tabla departamentos`__ no se tendrá que decir que es de `tipo CHAR(20)`, sino de tipo `dom_ciudades`. 

>Eso nos tendría que asegurar, según el modelo relacional, sólo hacer operaciones sobre la `columna` __ciudad__ con otras `columnas` que tengan este mismo dominio definido por el usuario, pero SQL no nos ofrece herramientas para asegurar que las comparaciones que hacemos sean entre los mismos dominios definidos por el usuario.

>Por ejemplo, si tenemos una `columna` con los __nombres de los empleados__ definida sobre el tipo de datos CHAR(20), SQL nos permite compararla con la columna ciudad, aunque semánticamente no tenga sentido. En cambio, según el modelo relacional, esta comparación no se tendría que haber permitido.

__BORRAR UN DOMINIO DEFINIDO POR EL USUARIO__

In [ ]:
DROP DOMAIN <nombre_dominio> {RESTRICT|CASCADE};

>* __`RESTRICT`__ hace que el dominio sólo se pueda borrar si no se utiliza en ningún sitio.
>* __`CASCADE`__ borra el dominio aun que esté referenciado y pone el tipo de datos del dominio allí donde se utilizaba.

__Borrar un dominio de BDUOC__ donde se encuentran los departamentos de la empresa BDUOC

In [ ]:
DROP DOMAIN dom_ciudades RESTRICT;

> nos aseguraríamos de que ninguna columna está definida sobre dom_ciudades antes de borrar el dominio.

__MODIFICAR UN DOMINIO__

In [ ]:
ALTER DOMAIN <nombre_dominio> {< acción_modificar_dominio >|< accion_modificar_restricción_dominio >}:

>* __accion_modificar_dominio__ puede ser:

In [ ]:
SET {< DEF_DEFECTO > | DROP DEFAULT}

>* __accion_modificar_restricción_dominio__ puede ser:

In [ ]:
ADD { <restricción_dominio>|DROP CONSTRAINT <nombre_restriccion>}

__Modificar un dominio en BDUOC__
>Si quisiéramos añadir una ciudad nueva (Mataró) en el dominio que hemos creado an- tes para las ciudades donde se encuentran los departamentos de la empresa BDUOC, haríamos:

In [12]:
ALTER DOMAIN dom_ciudades DROP CONSTRAINT ciudades_validas;

type "dom_ciudades" does not exist

>Con ello, hemos eliminado la restricción de dominio antigua. Y ahora tenemos que introducir la nueva restricción:

In [ ]:
ALTER DOMAIN dom_ciudades ADD CONSTRAINT ciudades_validas
    CHECK (
        VALUE IN ("Barcelona","Tarragona", "Lerida", "Gerona", "Mataro")
    );

### 1.2.3. Definiciones por defecto

>* __`def_defecto`__ nos permite especificar qué nomenclatura queremos dar a nuestros valores por omisión.
  
Para un empleado del cual todavía no se ha decidido cuánto ganará, se puede escoger que, de momento, tenga un sueldo de 0 euros (DEFAULT 0.0), o bien que tenga un sueldo con un valor nulo (DEFAULT NULL).
 
Si escogemos la opción __DEFAULT NULL__ la columna para la cual daremos la definición por defecto de valor nulo tendría que admitir valores nulos. La opción DEFAULT tiene el siguiente formato:

In [ ]:
DEFAULT { <literal>|<funcion> }NULL

>podemos definir nuestro propio literal, o bien recurrir a una de las funciones que aparecen en la siguiente tabla:
>  
><img src="foto/2.png" width="600">

### 1.2.4. Restricciones de columna
>En cada una de las columnas de la tabla, una vez les hemos dado un nombre y hemos definido el dominio, podemos imponer ciertas restricciones que siem- pre se tendrán que cumplir.
>  
><img src="img/3.png" width="700">

### 1.2.5. Restricciones de tabla
>Una vez hemos dado un nombre, hemos definido un dominio y hemos im- puesto ciertas restricciones para cada una de las columnas, podemos aplicar restricciones sobre toda la tabla, las cuales siempre se tendrán que cumplir. 
><img src="img/4.png" width="750">

__EL TIEMPO__  
El tratamiento del tiempo:  
>SQL define la siguiente nomenclatura para trabajar con el tiempo  
>YEAR (0001..9999) MONTH (01..12)  
>DAY (01..31)  
>HOUR (00..23)  
>MINUT (00..59)  
>SECOND (00..59.precisión)

### 1.2.6. Modificación y borrado de claves primarias `con claves foráneas que hacen referencia a ellas`
Sabemos que hay tres políticas aplicables a los casos de borrado y modificación de filas que tienen una clave primaria referenciada por claves foráneas. Estas políticas eran la restricción, la actualización en cascada y la anulación..
SQL nos ofrece la posibilidad de especificar, definiendo una clave foránea, qué política queremos seguir. Veamos el formato:

In [ ]:
CREATE TABLE <nombre_tabla>
    ( <definición_columna>
        [, <definición_columna>]
        [, <restricciones_tabla>]
    );

>En el cual, una de las restricciones de tabla era la definición de claves forá-neas, que tiene el siguiente formato:

In [ ]:
FOREIN KEY <clave_foranea> REFERENCE <nombre_tabla> [(<clave_primaria>)]
[ON DELETE {NO ACTION | CASCADE | SET DEFAULT | SET NULL}]
[ON DELETE {NO ACTION | CASCADE | SET DEFAULT | SET NULL}]

* __`NO ACTION`__ corresponde a la política de restricción; 
* __`CASCADE`__, a la ac- tualización en cascada, y 
* __`SET NULL`__ sería la anulación. 

__SET DEFAULT__ se podría considerar una variante de SET NULL, donde en lugar de valores nulos se puede poner el valor especificado por defecto.

### 1.2.7. Aserciones

>Una `aserción` es una restricción general que hace referencia a una o más co- lumnas de una o más tablas.

In [ ]:
CREATE ASSERTION <nombre_asertion> CHECK (<condiciones>);

__CREANDO UNA ASERCIÓN en BDUOC__  
>Creamos una aserción sobre la BD BDUOC que nos asegure que no hay ningún empleado con un sueldo superior a 80000 asignado al proyecto SALSA:

In [ ]:
CREATE ASSERTION restriccion1 CHECK (NOT EXISTS (
                                        SELECT * FROM proyectos p, empleados e
                                        WHERE p.codigo_proy = e.num_proy and e.sueldo > 80000.0

__BORRAR UNA ASERCION__  
Aunque SQL ofrezca la senten- cia CREATE ASSERTION, no existen productos comerciales que permitan usarla. La alter- nativa a las aserciones son los disparadores (triggers). Los dis- paradores fueron introducidos con SQL:1999 y, a diferencia de las aserciones, la gran ma- yoría de productos comerciales los ofrecen.

In [ ]:
DROP ASSERTION <nombre_asertion>;

__BORRAR UNA ASERCION en BDUOC__

In [ ]:
DROP ASSERTION restriccion1;

## 1.3. Modificación y borrado de tablas

In [ ]:
ALTER TABLE <nombre_tabla> {<accion_modificar_columna> | <accion_modificar_restricciones_tabla>};

> __`accion_modificar_columna`__ puede ser:

In [ ]:
{ADD [COLUMN] <nombre_columna> <def_columna> | 
    alter [COLUMN] <nombre_columna> {SET <def_defecto> | DROP DEFAULT} |
    DROP [COLUMN] <nombre_columna> {RESTRICT|CASCADE}
    }

>__`accion_modifificar_restriccion_tabla`__ puede ser:

In [ ]:
{ADD <def_restriccion> |
    DROP CONSTRAINT <nombre_restriccion> {RESTRICT|CASCADE}
    }

>Si queremos modificar una tabla, es que queremos hacer una de las siguientes operaciones:  
>1) Añadir una columna (`ADD <nombre_columna>`).  
>2) Modificar las definiciones por defecto de la columna (`ALTER <nombre_columna>`).  
>3) Borrar la columna (`DROP <nombre_columna>`).  
>4) Añadir alguna nueva restricción de tabla (`ADD <def_restriccion>`).  
>5) Borrar alguna restricción de tabla (`DROP CONSTRAINT <nombre_restriccion>`).

__BORRANDO TABLA__

In [ ]:
DROP TABLE <NOMBRE_TABLA> {RESTRICT|CASCADE};

>• Si utilizamos la opción `RESTRICT` la tabla no se borrará si está referenciada, por ejemplo, desde alguna otra tabla o vista.  
>• Si usamos la opción `CASCADE`,todo lo que referencie en la tabla se borrará con ella.

## 1.4. Creación y borrado de vistas
La arquitectura __ANSI/SPARC__ distingue tres niveles, que se describen en el esquema conceptual, el esquema interno y los esquemas externos. 

Hasta ahora, mientras creábamos las tablas de la BD, íbamos describiendo el esquema conceptual. Para describir los diferentes esquemas externos utilizamos el concepto de vista de SQL.

>Para crear una vista es necesario utilizar la sentencia CREATE VIEW. Veamos su formato:

In [ ]:
CREATE VIEW <nombre_vista> [(lista_columnas)] AS (consulta) 
            [WITH CHECK OPTION];

>* `lista_columnas` : cambiar el nombre de las columnas, o bien poner nombre a alguna que en principio no tenía. 
>* `AS` : definir la consulta que formará nuestra vista.
>
>Las vistas no existen realmente como un conjunto de valores almacenados en la BD, sino que son tablas ficticias, denominadas derivadas (no materializadas). Se construyen a partir de tablas reales (materializadas) almacenadas en la BD, y conocidas con el nombre de tablas básicas (o tablas de base). La no-existencia real de las vistas hace que puedan ser actualizables o no.

__CREACION DE UNA VISTAS en BDUOC__

In [ ]:
CREATE VIEW proyectos_por_cliente (codigo_cli, numero_proyectos) AS
   (SELECT c.codigo_cli, COUNT(*) 
    FROM proyectos p, clientes c
    WHERE p.codigo_cliente = c.codigo_cli
    GROUP BY c.codigo_cli);

><img src="img/5.png" width="600">

En las vistas, además de hacer consultas, podemos 
>* insertar, 
>* modificar
>* borrar filas.

__Actualización de vistas en BDUOC__

Si alguien insertase en la vista `proyectos_por_clientes`, los valores para un nuevo cliente 60 con tres proyectos encargados, encontraríamos que estos tres proyectos tendrían que figurar realmente en la tabla proyectos y, por lo tanto, el SGBD los debería insertar con la información que tenemos, que es prácticamente inexistente. Veamos grá- ficamente cómo quedarían las tablas después de esta hipotética actualización, que no llegaremos a hacer nunca, ya que iría en contra de la teoría del modelo relacional:

• Tabla clientes

><img src="img/6.png" width="600">

• Tabla proyectos

><img src="img/7.png" width="600">

El SGBD no puede actualizar la tabla básica clientes si sólo sabe la clave primaria, y todavía menos la tabla básica proyectos sin la clave primaria; por lo tanto, esta vista no sería actualizable.

En cambio, si definimos una vista para saber los clientes que tenemos en Barcelona o en Gerona, haríamos:

In [ ]:
CREATE VIEW clientes_Barcelona_Gerona AS
   (SELECT *
    FROM clientes
    WHERE ciudad IN ('Barcelona', 'Gerona'))
WHITH CHECK OPTION;

>Si queremos asegurarnos de que se cumpla la condición de la cláusula WHERE, debemos poner la opción WHITH CHECK OPTION. Si no lo hiciésemos, podría ocurrir que alguien incluyese en la vista clientes_Barcelona_Gerona a un cliente nuevo con el código 70, de nombre JMB, con el NIF 36.788.224-C, la dirección en NULL, la ciudad Lérida y el teléfono NULL.

Si consultásemos la extensión de la vista clientes_Barcelona_Gerona, veríamos:

><img src="img/9.png" width="600">
>  
>Esta vista sí podría ser actualizable. Podríamos insertar un nuevo cliente con código 50, de nombre CEA, con el NIF 38.226.777-D, con la dirección París 44, la ciudad Barcelona y el teléfono 93.422.60.77. 

Después de esta actualización, en la tabla básica clientes encontraríamos, efectivamente:

><img src="img/10.png" width="600">

In [ ]:
DROP VIEW <nombre_vista> (RESTRICT|CASCADE);

> * `RESTRICT`, la vista no se borrará si está referenciada, por ejemplo, por otra vista. 
> * `CASCADE`, todo lo que referencie a la vista se borrará con ésta.

In [ ]:
/*BORRO CLIENTES_BARCELONA_GERONA*/
DROP VIEW clientes_Barcelona_Gerona RESTRICT;

## 1.5. Definición de la BD relacional BDUOC

In [18]:
-- connection: postgres://postgres:1234@localhost:5433/postgres

In [ ]:
CREATE TABLE clientes (codigo_cli INTEGER,
                      nombre_cli CHAR(30) NOT NULL,
                      nif CHAR(12),
                      direccion CHAR(30),
                      ciudad CHAR(20),
                      telefono CHAR(12) DEFAULT NULL,
                      PRIMARY KEY(codigo_cli), UNIQUE(nif)
                      );

In [19]:
CREATE TABLE departamentos
    (nombre_dpt CHAR(20),
    ciudad_dpt CHAR(20),
    telefono CHAR(12) DEFAULT NULL,
    PRIMARY KEY (nombre_dpt, ciudad_dpt)
    );

In [24]:
CREATE TABLE proyectos
    (codigo_proy INTEGER,
     nombre_proy CHAR(20),
     precio REAL,
     fecha_inicio DATE,
     fecha_prev_fin DATE,
     fecha_fin DATE DEFAULT NULL,
     codigo_cliente INTEGER,
     PRIMARY KEY (codigo_proy),
     FOREIGN KEY (codigo_cliente) REFERENCES clientes(codigo_cli),
     CHECK (fecha_inicio < fecha_prev_fin),
     CHECK (fecha_inicio < fecha_fin)
     );

In [ ]:
CREATE TABLE empleados
    (codigo_empl INTEGER,
     nombre_empl CHAR(20),
     apellido_empl CHAR(20),
     sueldo REAL CHECK(sueldo > 7000.0),
     nombre_dpt CHAR(20),
     ciudad_dpt CHAR(20),
     num_proy INTEGER,
     PRIMARY KEY (codigo_empl),
     FOREIGN KEY (nombre_dpt, ciudad_dpt) REFERENCES departamentos(num_dpt, ciudad_dpt),
     FOREIGN KEY (num_proy )

> Al crear una tabla muchas restricciones se pueden imponer de dos maneras: como restricciones de columna o como restricciones de tabla.

> Por ejemplo, cuando queremos decir cuál es la clave primaria de una tabla tenemos ambas posibilidades. Eso es debido a la flexibilidad de SQL:
>* En caso de que la restricción haga referencia a un solo atributo,podemos escoger la posibilidad que nos guste más. 
>* En el caso de la tabla departamentos,tenemos que escoger forzosamente la opción de restricciones de tabla, porque la clave primaria está compuesta por más de un atributo.

En general, por homogeneidad, lo pondremos todo como restricciones de ta- bla, excepto NOT NULL y CHECK cuando haga referencia a una sola columna.