# 2. Procedimientos almacenados
> Un `procedimiento almacenado` es una acción o función definida por un usuario que proporciona un servicio determinado.   
> Una vez creado, el procedimiento se guarda en la BD y se trata como un objeto más de ésta.

__PROCEDIMIENTOS ALMACENADOS se pueden ejecutar__  
>* De una manera directa, utilizando el SQL interactivo.  
>* Desde una aplicación que acceda a la BD.  
>* Desde otro procedimiento almacenado.  

__PROCEDIMIENTOS ALMACENADOS sirven para:__  
>* Simplificar el desarrollo de aplicaciones.
>* Mejorar el rendimiento de las BD.
>* Encapsular las operaciones que se ejecutan contra una BD.  

Se presentan dos posibles arquitecturas de desa- rrollo de aplicaciones que acceden a una BD, una que utiliza los procedimien- tos almacenados y la otra que no:
><img src="img/03.png" width="500">
>
>* si __`p()`__ es un método que conceptualmente resuelve una operación determinada que necesita ejecutar todo un con- junto de sentencias SQL, podemos trasladar su definición a la BD y transformarlo en un procedimiento almacenado. 
>   
>  
>* Además, también pueden utilizar el procedimiento almacenado otras aplicaciones, con lo que conseguimos sim- plificar el desarrollo de aplicaciones: transferimos lógica relativa a la BD hacia el SGBD y favorecemos la reutilización de código.
>  

Si pensamos en un entorno distribuido, el tráfico por la red disminuirá en el caso de utilizar procedimientos almacenados. Con el uso de estos procedimientos, se evitará que cada sentencia SQL se envíe de una manera individual por la red y que los resultados de la ejecución de cada sentencia SQL sean recogidos por la aplicación individualmente. 

Además, los __`procedimientos almacenados`__ se guardan precompilados en la BD, 
>de manera que su estrategia de ejecución se calcula en el momento de crearlos, lo que no sucede necesariamente cuando nuestra aplicación no utiliza procedimientos almacenados. Por lo tanto, la utilización de procedimientos almacenados mejora el rendimiento de las BD.

Finalmente, el __`procedimiento almacenado`__ encapsula el conjunto de sentencias SQL que incorpora; 
>el programador que utiliza este procedimiento sólo ha de saber que un procedimiento almacenado concreto le proporciona un servicio determinado y que, en el caso de no poder satisfacerlo, se reportará un error. No necesita conocer las sentencias SQL que incorpora el procedimiento ni los elementos del esquema de la BD que manipulan estas sentencias. Esto ayuda a controlar las operaciones que los usuarios efectúan en la BD.

## 2.1. Sintaxis de los procedimientos almacenados en PostgreSQL
En PostgreSQL, para poder escribir procedimientos almacenados, disponemos de dos tipos de sentencias:
>* Sentencias propias del SQL.
>* Sentencias propias de algún lenguaje procedimental, como por ejemplo el PL/pgSQL o el PL/Python.

__`PL/pgSQL`__  
En este módulo estudiaremos el lenguaje procedimental __`PL/pgSQL`__, que es uno de los que vienen con la distribución estándar de PostgreSQL. El PL/pgSQL complementa el SQL, que no es un lenguaje computacionalmente completo. En esencia, el PL/pgSQL proporciona sentencias que permiten controlar el flu- jo de ejecución de nuestros procedimientos almacenados

> Ejemplo de un procedimiento almacenado escrito en PL/pgSQL:

In [8]:
-- connection: postgres://postgres:1234@localhost:5433/pec3

In [ ]:
CREATE TABLE clientes (
  dni char(9) primary key,
  nombre varchar(15) not null,
  apellido1 varchar(15) not null,
  apellido2 varchar(15) not null,
  calle varchar(20) not null,
  num_calle varchar(4) not null,
  cp char(5) not null,
  ciudad varchar(15) not null);

In [14]:
INSERT INTO pec3.clientes(dni, nombre, apellido1, apellido2, calle, num_calle, cp, ciudad) 
VALUES('39721974p','Alex','Rodriguez','Just','barri Campamá','14','08859','Begues');
INSERT INTO pec3.clientes(dni, nombre, apellido1, apellido2, calle, num_calle, cp, ciudad) 
VALUES('39222222e','Alexa','Perez','Perez','barri Campamá','14','08056','Barcelona');

__DEFINIENDO UN PROCEDIMIENTO ALMACENADO__  
> podemos definir el procedimiento almacenado __encontrar_ciudad__:

In [9]:
set search_path to pec3;                             -- te dirijes al squema pec3

In [6]:
CREATE FUNCTION encontrar_ciudad(dni_cliente char(9))-- declaro variable que nos darán
RETURNS varchar(15) AS $$                            -- la función devuelve varchar(15)
DECLARE
  ciudad_cliente varchar(15);                        -- declaro variable
BEGIN
  SELECT ciudad into ciudad_cliente        -- crea "ciudad_cliente" con datos de ciudad
  FROM clientes
  WHERE dni=dni_cliente;
  RETURN ciudad_cliente;
END;
$$LANGUAGE plpgsql;

__EJECUTANDO PROCEDIMIENTO ALMACENADO__  
> Podemos ejecutar el procedimiento anterior con la sentencia siguiente:

In [13]:
SELECT * FROM encontrar_ciudad('39721974p');

1 row(s) returned.

encontrar_ciudad
------------------
Begues

>* __`CREATE FUNCTION`__ permite crear procedimientos almacenados en PostgreSQL. __`CREATE FUNCTION`__ y la palabra __`END`__ seguida de punto y coma delimitan el procedimiento.    
>  
>* __`encontrar_ciudad`__ Nombre del procedimiento; en este caso .   
>  
>* __`dni_cliente char(9)`__ Definición de los parámetros (nombre y tipo de datos) necesarios para invocar la ejecución del procedimiento;
>  
>* __`RETURNS`__ Definición de los tipos de datos del parámetro de vuelto por el procedimiento mediante la cláusula RETURNS; en este ejemplo VARCHAR(15).
>  
>* __`$$`__ Definición del cuerpo del procedimiento, que amenudo se delimita con las marcas $$.
>> esta marca se utiliza habitualmente para delimitar el cuerpo del procedimiento almacenado. El cuerpo del procedimiento es una cadena de caracteres y, por lo tanto, tendría que estar delimitado por comillas simples. No obstante, el uso de comillas simples puede ser poco práctico si dentro hay otras comillas. Las comillas interiores se deberían duplicar para diferenciarlas de las comillas que delimitan el inicio y el final del procedimiento. Como esto puede hacer que el código sea poco legible, a menudo se usa la marca `$$` para delimitar el inicio y el final del cuerpo del procedimiento.
>  
>* __`ciudad_cliente`__ Definición de las variables del procedimiento; en el ejemplo ciudad_cliente. La sección de declaración de variables es precedida por la cláusula __`DECLARE`__. Si el procedimiento no tiene variables, se puede omitir esta cláusula.
>  
>* __`BEGIN y END`__ para delimitar el bloque que contiene las sentencias del procedimiento; en este caso, el bloque contiene la sentencia SELECT del SQL.
>  
>* __`RETURN`__ Parámetro devuelto por el procedimiento precedido por la cláusula RETURN; en este caso ciudad_cliente.
>  
>* __`$$LANGUAGE plpgsql;`__ Nombre del lenguaje procedimental utilizado para escribir el procedimiento; en este caso plpgsql.

Una vez que se ha creado un procedimiento, se puede ejecutar mediante la sentencia del `SQL SELECT * FROM nombre_procedimiento (parámetros)`. Pero no es la única manera de ejecutar proce- dimientos almacenados en PostgreSQL.

In [ ]:
SELECT * FROM nombre_procedimiento(parámetros)

>__BORRANDO EL PROCEDIMIENTO__

In [ ]:
DROP FUNCTION
nombre_procedimiento(tipo_parametros_entrada);

>__DROP FUNCTION__ hay que especificar los tipos de los parámetros de entrada al procedimiento, porque en PostgreSQL los procedimientos aceptan sobrecarga (diversos procedimientos con el mismo nombre).

En el ejemplo anterior, el procedimiento devuelve un solo campo. Más adelante explicaremos cómo se pueden devolver un conjunto de campos y un conjunto de filas.

__TRES TIPOS DE SENTENCIAS__  
El lenguaje PL/pgSQL proporciona básicamente tres tipos de sentencias:
>
>* Sentencias para __`definir (DECLARE) variables`__.  
>* Sentencias para __`asignar valores a variables`__ (variable:=expresión).  
>* Sentencias para __`controlar el flujo de ejecución de un procedimiento`__:  
>> – Sentencias condicionales: IF y CASE.  
>> – Sentencias iterativas: FOR, LOOP y WHILE.  
>> – Sentencias para gestionar errores: EXCEPTION y RAISE EXCEPTION.

### 2.1.1. Parámetros
Un procedimiento almacenado puede recibir un conjunto de parámetros de entrada y devolver un resultado.    
También puede tener parámetros, tanto de entrada como de salida.

__`A cada parámetro de entrada`__ le pondremos un __nombre__ y le asociaremos __un tipo__ de datos. 
>Para asociar un tipo de datos a un parámetro de entrada, se pueden utilizar los mismos tipos de datos que en la definición de columnas de tablas. 
>  
>__`%TYPE`__ También es posible especificar que el tipo de datos de un parámetro de entrada sea idéntico al tipo de datos de una columna determinada de una tabla mediante la cláusula %TYPE.
>   
>Para devolver el resultado de la función, basta con indicar el tipo de datos en la cláusula RETURNS.

In [17]:
SELECT column_name, data_type 
FROM information_schema.columns WHERE table_name='clientes'

8 row(s) returned.

column_name    data_type
-------------  -----------------
dni            character
nombre         character varying
apellido1      character varying
apellido2      character varying
calle          character varying
num_calle      character varying
cp             character
ciudad         character varying

In [18]:
-- Ejemplo de uso de la cláusula %TYPE
CREATE or REPLACE FUNCTION encontrar_ciudad(dni_cliente clientes.dni%type) 
RETURNS varchar(15) AS $$
DECLARE
  ciudad_cliente clientes.ciudad%type;
BEGIN
  SELECT ciudad INTO ciudad_cliente
  FROM clientes
  WHERE dni=dni_cliente;
  RETURN ciudad_cliente;
END;
$$LANGUAGE plpgsql;

NOTICE:  type reference clientes.dni%TYPE converted to character

Para volver a crear el procedimiento almacenado __encontrar_ciudad__ hay dos alternativas. 
>* La primera consiste en __borrar antes la versión antigua del procedimiento__ mediante la sentencia `DROP FUNCTION  encontrar_ciudad (char(9))`, y 
>  
>* La segunda, en __crear el procedimiento__ con la sentencia `CREATE or REPLACE FUNCTION`.  
> 
>La cláusula REPLACE permite sustituir la versión antigua del procedimiento almacenado en la BD por la nueva.

### 2.1.2. Variables
__DEFINIENDO VARIABLES__  
>Para definir variables en un procedimiento almacenado, utilizaremos la cláusula `DECLARE` de PL/pgSQL, que tiene la sintaxis siguiente:

In [ ]:
nombre_varibale [CONSTANT] tipo_datos [NOT FULL] 
[{DEFAULT | :=}expresion];

>* __`CONSTANT`__ indica que la variable tendrá un valor constante durante la ejecución del procedimiento; 
>* __`NOT NULL`__ indica que la variable no puede tener un valor nulo, y finalmente
>* __`DEFAULT`__ indica que la variable tendrá un valor por defecto, que se podrá modificar más adelante en la ejecución del procedimiento. Si no se especifica un valor por defecto, la variable se inicializa a NULL.


>Cada variable ha de tener asociados un __nombre__ y un __tipo__ de datos.   
> * __TIPO DE DATOS IGUAL QUE LAS COLUNAS__ De forma análoga al caso de los parámetros de entrada de un procedimiento almacenado, se pueden utilizar los mismos tipos de datos que en la definición de columnas de una tabla, 
>* __TIPO DE DATOS IDÉNTICA A UNA COLUMNA ESPECÍFICA__ y también es posible indicar que el tipo de datos de una variable concreta es idéntico al tipo de datos de una columna determinada de una tabla específica mediante la cláusula %TYPE.
>  
>* __TIPO DE DATOS IDENTICO DEL TIPO DE FILA__
>Otra posibilidad cuando se declara una variable, consiste en indicar que el tipo de datos de la variable es idéntico al tipo de datos de una fila de una tabla concreta. Esto se lleva a cabo mediante la cláusula %ROWTYPE. Con esta cláusula, la variable definida tiene un tipo compuesto, que consta de tantos campos como tenga la tabla utilizada en la declaración de la variable. Los tipos de los campos de la variable también coinciden con los de las columnas de la tabla a partir de la que se define la variable.

### 2.1.3. Sentencias condicionales
__`IF`__  
>La sentencia IF de PL/pgSQL sirve para establecer condiciones en el flujo de ejecución de un procedimiento almacenado. Tiene la sintaxis básica siguiente:

In [ ]:
IF <condicion> THEN <bloque_de_sentencias>
ELSE <bloque_de_sentencias>
END IF;

Para especificar las condiciones, disponemos de los elementos siguientes:
>* Operadores lógicos: AND, OR, NOT.  
>* Operadores de comparación: >, <, >=, <=, =, <>.  
>* PredicadospropiosdelSQL: BETWEEN, IN, ISNULL, ISNOTNULL o LIKE.  
>* Consultas SQL.  

Como hay columnas de tablas que pueden tener valor nulo, existen predicados propios del SQL para comparar con el valor nulo. Cuando se evalúan las expresiones de las condiciones, también hay que tener en cuenta los valores nulos, ya que estas expresiones se pueden evaluar a nulo. Hay que destacar que, si alguna expresión dentro de la condición evalúa a NULL, toda la condición no evalúa a cierto, salvo en el caso de que comprobemos de una manera explícita condiciones del tipo IS NULL o IS NOT NULL.

__Ejemplo de uso de sentencias condicionales__
>Imaginemos que tenemos la siguiente tabla clientes, a la cual hemos añadido el campo __num_ped__. Este campo almacena el número de pedidos que ha hecho un cliente concreto.

In [19]:
CREATE TABLE cliente(
  dni varchar(9) primary key,
  nombre varchar(15) not null,
  apellido1 varchar(15) not null,
  apellido2 varchar(15) not null,
  calle varchar(20) not null,
  num_calle varchar(4) not null,
  cp char(5) not null,
  ciudad varchar(15) not null,
  num_ped integer);

In [22]:
INSERT INTO pec3.cliente(dni, nombre, apellido1, apellido2, calle, num_calle, cp, ciudad,num_ped) 
VALUES('39721974p','Alex','Rodriguez','Just','barri Campamá','14','08859','Begues',4);
INSERT INTO pec3.cliente(dni, nombre, apellido1, apellido2, calle, num_calle, cp, ciudad,num_ped) 
VALUES('39222222e','Alexa','Perez','Perez','barri Campamá','14','08056','Barcelona',14);

El procedimiento __calculo_descuento_cliente__ calcula el descuento que se ha de aplicar a cada cliente pasado como parámetro según el número de pedidos (campo __`num_ped`__ de la tabla __clientes__) que ha hecho: 
>* el descuento es del 0% si ha hecho menos de cinco pedidos; 
>* del 3% si ha hecho entre cinco y nueve pedidos; 
>* del 5% si ha hecho entre diez y catorce pedidos, 
>* y del 10% si ha hecho quince o más.

In [30]:
CREATE FUNCTION calculo_descuento_cliente(dni_cliente cliente.dni%type)
RETURNS integer AS $$
DECLARE
  descuento integer;
  num_ped_cliente integer;
BEGIN
  IF((SELECT COUNT(*) 
      FROM clientes 
      WHERE dni=dni_cliente)=1)THEN num_ped_cliente=(SELECT num_ped 
                                                     FROM cliente 
                                                     WHERE dni=dni_cliente);
    IF (num_ped_cliente IS NULL) THEN descuento=NULL;
    ELSIF (num_ped_cliente<5) THEN descuento=0;
    ELSIF (num_ped_cliente<10) THEN descuento=3;
    ELSIF (num_ped_cliente<15) THEN descuento=5;
    ELSE descuento=10;
    END IF;
  END IF;
  RETURN descuento;
END;
$$LANGUAGE plpgsql;

NOTICE:  type reference cliente.dni%TYPE converted to character varying

In [31]:
SELECT * FROM calculo_descuento_cliente('39721974p');

1 row(s) returned.

  calculo_descuento_cliente
---------------------------
                          0

In [32]:
SELECT * FROM calculo_descuento_cliente('39222222e');

1 row(s) returned.

  calculo_descuento_cliente
---------------------------
                          5

### 2.1.4. Sentencias iterativas
PL/pgSQL proporciona tres tipos de sentencias iterativas:

>• Las sentencias __`LOOP y WHILE`__ se utilizan para definir bucles cuya finalización esté definida por una expresión condicional.  
>• La sentencia __`FOR`__ se puede usar cuando sabemos apriori el número de iteraciones que se han de ejecutar. También se puede utilizar para iterar sobre el conjunto de filas devueltas por una consulta SQL o una sentencia de ejecución de un procedimiento almacenado.

Vista la tipología de las operaciones que se efectúan contra una BD, la sen- tencia iterativa más frecuente es FOR; concretamente, la versión que permite iterar sobre el conjunto de filas devueltas por una consulta SQL. Por esto nos centraremos en esta sentencia, cuya sintaxis se muestra a continuación:

In [ ]:
FOR <lista_variable>
    IN <consulta_SQL_o_ejecucion_procedimiento> LOOP
    <bloque_sentencias>
END LOOP;

Cuando se ejecuta una sentencia FOR para acceder al conjunto de resultados de una consulta SQL,   
se llevan a cabo las acciones siguientes:     
>1) __Se ejecuta la consulta SQL__ o el procedimiento almacenado asociado a la sentencia FOR.   
>
>2) __Se asigna, a cada variable de la lista de variables, el conjunto de valores asociado a la fila actual__, que forma parte del resultado de la consulta SQL o de la ejecución del procedimiento almacenado.     
>
>3) __Se ejecuta el bloque de sentencias__.     
>
>4) __Se obtiene automáticamente la fila siguiente que forma parte del resultado__ de la consulta SQL o de la ejecución del procedimiento almacenado.     
>
>5) __Se vuelven a ejecutar los pasos 2), 3) y 4) mientras queden filas que formen parte del resultado__ de la consulta SQL o de la ejecución del procedimiento almacenado.     

__Ejemplo de uso de sentencias iterativas__   
Imaginemos que tenemos las siguientes tablas pedidos, items e items_pedido:

In [33]:
CREATE TABLE pedidos(
  num_ped           integer primary key,
  dni               varchar(9) not null references clientes,
  fecha_llegada     date not null,
  importe_total     numeric);
  
CREATE TABLE items(
  num_item          integer primary key,
  precio_unidad     numeric not null);
  
CREATE TABLE items_pedido (
  num_item          integer references items,
  num_ped           integer references pedidos,
  cantidad          integer not null,
  primary key(num_item,num_ped));

In [36]:
INSERT INTO pec3.pedidos(num_ped, dni, fecha_llegada, importe_total)
VALUES(3, '39721974p', '2001-12-02',45);
INSERT INTO pec3.pedidos(num_ped, dni, fecha_llegada, importe_total)
VALUES(1, '39721974p', '2014-12-01',4);
INSERT INTO pec3.pedidos(num_ped, dni, fecha_llegada, importe_total)
VALUES(2, '39721974p', '2003-12-06',55);

In [37]:
INSERT INTO pec3.items(num_item , precio_unidad)VALUES(33,45);
INSERT INTO pec3.items(num_item , precio_unidad)VALUES(44,25);
INSERT INTO pec3.items(num_item , precio_unidad)VALUES(55,15);

In [41]:
INSERT INTO pec3.items_pedido(num_item, num_ped, cantidad)VALUES(33,1,45);
INSERT INTO pec3.items_pedido(num_item, num_ped, cantidad)VALUES(44,2,34);
INSERT INTO pec3.items_pedido(num_item, num_ped, cantidad)VALUES(55,3,12);

El `procedimiento almacenado` __importe_un_pedido__   
calcula el importe total del pedido pasado como parámetro.

In [42]:
CREATE or REPLACE FUNCTION importe_un_pedido (ped_cliente pedidos.num_ped%TYPE) 
RETURNS numeric AS $$
DECLARE
  total_pedido       pedidos.importe_total%type;
  datos_item_precio  items.precio_unidad%type;
  datos_item_cant    items_pedido.cantidad%type;
BEGIN
  total_pedido=0.0;                           -- inicio variable en cero
  FOR datos_item_precio, datos_item_cant IN   -- itero estas dos variables
    SELECT ic.cantidad, i.precio_unidad       -- dentro de estas columnas
    FROM   items_pedido ic, items i           -- de estas tablas
    WHERE  i.num_item=ic.num_item AND         -- mismo producto
           ic.num_ped=ped_cliente LOOP -- los que coincidan con ped_cliente en ic.num_ped
    total_pedido=total_pedido + (datos_item_cant * datos_item_precio);
    -- acumulando --> cantidad x precio --> en cada iteración
  END LOOP;
  RETURN total_pedido;
END;
$$LANGUAGE plpgsql;

NOTICE:  type reference pedidos.num_ped%TYPE converted to integer

In [47]:
SELECT * FROM importe_un_pedido(3);
---------------------------------
-- pec3.pedidos(num_ped, dni, fecha_llegada, importe_total) 
-- VALUES(3, '39721974p', '2001-12-02',45);
---------------------------------
-- i (num_item , precio_unidad)
-- VALUES(55,15);
---------------------------------
-- ic (num_item, num_ped, cantidad)
-- VALUES(55,3,12); 
--------------------------------> num_ped(3) --> ic.cantidad 12 * i.precio_unidad15 = 180

1 row(s) returned.

  importe_un_pedido
-------------------
                180

El ejemplo anterior muestra la utilización de la sentencia __`FOR`__ para acceder al resultado de una consulta SQL. 
>La cantidad y el precio unitario de cada ítem solicitado en el pedido pasado como parámetro se almacenan en las variables __datos_item_precio__ y __datos_item_cant__. 
>
>Con estos valores se va calculando el importe del pedido y se almacena en la variable __total_pedido__.   
>Al final, el procedimiento devuelve este importe.
>

__COMBINANDO SENTENCIAS ITERATIVAS VON UPDATE O DELETE__  
Es posible combinar la sentencia FOR con sentencias UPDATE o DELETE que actúen sobre la fila que se trata en una determinada iteración de un bucle. Este uso se ilustra en el ejemplo siguiente:

  
>Imaginemos que tenemos las tablas anteriores (pedidos, items, items_pedido y clientes). El siguiente procedimiento almacenado, llamado __importe_todos_pedidos__, calcula 
>* el importe de todos los pedidos de un cliente, 
>* cuyo DNI se pasa como parámetro al procedimiento. 
>* El importe total de los pedidos del cliente se almacena en la tabla pedidos (atributo importe_total). 
>  
>Por esto, el procedimiento no devuelve ningún resultado.

In [48]:
CREATE FUNCTION importe_todos_pedidos(dni_cliente clientes.dni%type)
RETURNS void AS $$
DECLARE
  num_pedido     pedidos.num_ped%type;
  importe_pedido pedidos.importe_total%type;
BEGIN
FOR num_pedido IN SELECT num_ped 
                  FROM pedidos
                  WHERE dni=dni_cliente LOOP -- bucle hasta acabar todos los dni´s
    importe_pedido:=importe_un_pedido(num_pedido);
    UPDATE pedidos                   -- UPDATE cambia valores de las columnas especificadas 
    SET importe_total=importe_pedido -- especifica las columnas y sus nuevos valores
    WHERE num_ped=num_pedido;
END LOOP;
END;
$$LANGUAGE plpgsql;

NOTICE:  type reference clientes.dni%TYPE converted to character

In [53]:
 SELECT * FROM importe_todos_pedidos('39721974p')

1 row(s) returned.

importe_todos_pedidos
-----------------------

Para invocar el procedimiento almacenado importe_un_pedido, también podemos utilizar la siguiente sentencia SELECT:

In [54]:
 SELECT * FROM importe_un_pedido(nump_edido) INTO importe_pedido;

syntax error at or near "INTO"
LINE 1:  SELECT * FROM importe_un_pedido(3) INTO importe_pedido;
                                            ^

### 2.1.5. Retorno de resultados
En los ejemplos anteriores hemos visto cómo se devuelve un solo resultado (de tipo de datos simple, como por ejemplo integer o char) desde un procedimiento almacenado. A continuación veremos cómo se pueden retornar:
>1) Un conjunto de campos que forman una sola fila (un solo resultado, pero de tipo de datos compuesto).
>2) Un conjunto de filas (que pueden ser de tipo de datos simple o compuesto).

__RETORNO DE UN CONJUNTO DE CAMPOS__  
Un procedimiento almacenado puede devolver un conjunto de campos y formar una fila.   
Definimos un tipo de datos compuesto que tenga la lista de campos que ha de devolver el procedimiento. 
> En el procedimiento almacenado hay que indicar, 
>* a continuación de la cláusula RETURNS, el nombre del tipo de datos,  que se tiene que haber definido previamente.
>
>__USO DE PROCEDIMIENTOS PARA DEVOLVER UN CONJUNTO DE ATRIBUTOS__  
Imaginemos que tenemos la tabla clientes que hemos usado anteriormente. Definimos un tipo de datos llamado __tipo_direccion__ que tenga el nombre de la calle, el número correspondiente, el código postal y la ciudad de un cliente.
>  
> __RECUERDA__    
La sentencia CREATE TYPE permite crear tipos de datos compuestos.   
>* Hay que indicar el nombre del tipo de datos y, a continuación, la lista de campos que forman el tipo.   
>* PostgreSQL no permite utilizar la cláusula %ROWTYPE ni %TYPE en la sentencia CREATE TYPE.

__DEFINO PREVIAMENTE EL TIPO DE DATOS__

In [56]:
CREATE TYPE tipo_direccion AS (
                                  calle varchar(20),
                                  num_calle varchar(4),
                                  cp char(5),
                                  ciudad varchar(15)
);

>__CREO PROCEDIMIENTO ALMACENADO__   
llamado `encontrar_direccion_cliente` que, 
>* dado el DNI de un cliente, 
>* devuelva la dirección completa (nombre de la calle, número de la calle, código postal y ciudad).

In [57]:
-- SELECT INTO crea una nueva tabla y la llena con datos calculados por una consulta.
-- Los datos no se devuelven al cliente, como ocurre con un SELECT normal . 
-- Las columnas de la nueva tabla tienen los nombres y tipos de datos asociados con las columnas de salida de SELECT .
CREATE FUNCTION encontrar_direccion_cliente(dni_cliente clientes.dni%type)
RETURNS tipo_direccion AS $$
DECLARE
    datos_cliente tipo_direccion;
BEGIN
  SELECT calle, num_calle, cp, ciudad INTO datos_cliente
  FROM clientes
  WHERE dni=dni_cliente;
  
  RETURN datos_cliente;
END;
$$LANGUAGE plpgsql;

NOTICE:  type reference clientes.dni%TYPE converted to character

In [59]:
SELECT * FROM encontrar_direccion_cliente('39721974p');

1 row(s) returned.

calle            num_calle     cp  ciudad
-------------  -----------  -----  --------
barri Campamá           14  08859  Begues

__RETORNO DE UN CONJUNTO DE FILAS -> FOR con RETURN__    
La sentencia iterativa FOR se puede combinar con la cláusula RETURN para conseguir que un procedimiento devuelva un conjunto de filas como resul- tado de su ejecución. Hay que hacer dos cosas:
>* __`SETOF`__ indica que el procedimiento devuelve un conjunto de filas 
>* Extender la cláusula __`RETURN`__ del cuerpo del procedimiento con la cláusula __`NEXT`__. 
>  
>El uso de esta última cláusula hace que, después de devolver una fila (la fila actual de la sentencia SELECT asociada a la sentencia FOR), el procedimiento almacenado continúe la ejecución. 

El ejemplo siguiente muestra el uso de las cláusulas __`SETOF`__ y __`RETURN NEXT`__ para que un procedimiento almacenado devuelva un conjunto de filas.

__Uso de las cláusulas `SETOF` y `RETURN NEXT`__  
Imaginemos que tenemos la tabla clientes del ejemplo anterior y un procedimiento llamado encontrar_ciudad_cliente que devuelve todas las ciudades de los clientes que tienen por nombre el parámetro de entrada.

In [73]:
-- RETURNS SETOF indica función devuelve múltiples filas.  
-- RETUR NEXT después devolver una fila, el procedimiento almacenado continúa la ejecución.
CREATE FUNCTION encontrar_ciudad_cliente(nombre_cliente clientes.nombre%type)
RETURNS SETOF clientes.ciudad%type AS $$
DECLARE
  ciudad_cliente clientes.ciudad%type;
BEGIN
  FOR ciudad_cliente IN SELECT ciudad
                        FROM pec3.clientes
                        WHERE nombre=nombre_cliente LOOP
    RETURN NEXT ciudad_cliente;  -- RETUR NEXT continúa la ejecución.
  END LOOP;
END;
$$LANGUAGE plpgsql;

NOTICE:  type reference clientes.nombre%TYPE converted to character varying
NOTICE:  type reference clientes.ciudad%TYPE converted to character varying

In [ ]:
--DROP FUNCTION
--encontrar_ciudad_cliente(nombre_cliente clientes.nombre%type);

In [75]:
SELECT * FROM encontrar_ciudad_cliente('Alexa');

1 row(s) returned.

encontrar_ciudad_cliente
--------------------------
Barcelona

La variable __ciudad_cliente__ almacena en cada iteración del bucle un nombre de ciudad. 
>* Cuando se ejecuta la sentencia __`RETURN NEXT ciudad_cliente`__, el procedimiento devuelve el nombre de la ciudad y continúa la ejecución empezando una nueva iteración, o finalizándola si no quedan más filas por procesar.
>
>Finalmente, se puede conseguir que un procedimiento almacenado devuelva un conjunto de filas y que cada una de estas filas esté formada por un conjunto de campos. Para hacer esto, 
>* combinamos las cláusulas __SETOF__ y __RETURN NEXT__ y un tipo de datos definido por el usuario. Este tipo de datos tiene la lista de campos que forman una fila a retornar por el procedimiento almacenado.

__Cláusulas `SETOF`, `RETURN NEXT` y `CREATE TYPE` para devolver un conjunto de filas__  
Imaginemos que tenemos la tabla clientes del ejemplo anterior y un procedimiento llamado clientes_ciudad que devuelve el DNI, el nombre y el apellido de todos los clientes que viven en la ciudad que se pasa como parámetro en el procedimiento.

En primer lugar, definimos un tipo de datos que tenga la estructura de la fila que se ha de devolver para cada cliente, es decir, su DNI, el nombre y el apellido.

In [76]:
 CREATE TYPE tipo_datos_cliente AS (  dni_cliente VARCHAR(9),
                                      nombre_cliente VARCHAR(15),
                                      apellido1 VARCHAR(15)
                                   );

Finalmente, definimos un procedimiento que devuelve __`SETOF`__ tipo_datos_cliente. Esto indica que el procedimiento devuelve un conjunto de filas y que cada fila es del tipo __tipo_datos_cliente__.

In [77]:
CREATE FUNCTION clientes_ciudad (ciudad_cliente clientes.ciudad%type)
RETURNS SETOF tipo_datos_cliente AS $$
DECLARE
  datos_clientes tipo_datos_cliente;
BEGIN
FOR datos_clientes IN SELECT dni,nombre,apellido1
                      FROM pec3.clientes
                      WHERE ciudad=ciudad_cliente LOOP
  RETURN NEXT datos_clientes;
END LOOP;
RETURN;
END;
$$LANGUAGE plpgsql;

NOTICE:  type reference clientes.ciudad%TYPE converted to character varying

In [78]:
SELECT clientes_ciudad('Begues')

1 row(s) returned.

clientes_ciudad
--------------------------
(39721974p,Alex,Rodriguez)

### 2.1.6. Invocación de procedimientos almacenados
PostgreSQL ofrece diversas formas de invocar procedimientos almacenados.

In [ ]:
-- Opcionalmente, se puede indicar un nombre alternativo o alias para el resultado
-- Se utiliza normalmente cuando el procedimiento 
-- devuelve un solo resultado.SELECT nombre_function(parametros) AS alias

SELECT nombre_function(parametros) AS alias

__PARA DEVOLVER UN CONJUNTO DE RESULTADOS__

In [ ]:
--normalmente se utiliza cuando el procedimiento almacenado devuelve 
--un conjunto de resultados, también para invocar procedimientos de un solo resultado.

SELECT * FROM nombre_funcion(parametros) AS alias;

> este procedimeinto se podría invocar de dos fromas distintas:

In [80]:
CREATE FUNCTION encontrar_ciudad2(dni_cliente clientes.dni%type) 
RETURNS varchar(15) AS $$
DECLARE
    ciudad_cliente clientes.ciudad%type;
BEGIN
    SELECT ciudad into ciudad_cliente 
    FROM pec3.clientes
    WHERE dni=dni_cliente;
    RETURN ciudad_cliente;
END;
$$LANGUAGE plpgsql;

NOTICE:  type reference clientes.dni%TYPE converted to character
NOTICE:  type reference clientes.dni%TYPE converted to character

In [82]:
SELECT * FROM encontrar_ciudad2('39721974p');

1 row(s) returned.

encontrar_ciudad2
-------------------
Begues

In [83]:
SELECT encontrar_ciudad2('39222222e');

1 row(s) returned.

encontrar_ciudad2
-------------------
Barcelona

### 2.1.7. Gestión de errores
De una manera simplificada, podemos distinguir dos tipos de error:
>__Errores predefinidos por el mismo SGBD__  
>* por ejemplo, el código de error 23503, que en PostgreSQL significa FOREIGN_KEY_VIOLATION.
>  
>__Errores específicos del procedimiento__   
>* errores propios del universo del discurso que se modela y que, por lo tanto, son responsabilidad del creador del procedimiento almacenado.

De las muchas actuaciones alternativas en caso de que se produzca un error en un procedimiento almacenado, mencionamos dos:

>1) No capturar el error en el procedimiento almacenado y dejar que el procedimiento cancele su ejecución de una manera inmediata. 
>* El error se reporta al nivel superior; es decir, al nivel que había invocado la ejecución del procedimiento almacenado, que se responsabiliza de gestionarlo. Esta opción requiere que el nivel superior conozca los objetos de la BD que se manipulan en el procedimiento y las sentencias que se ejecutan sobre estos objetos.
>   
>2) Capturar el error en el procedimiento almacenado y dejar que éste se responsabilice de gestionarlo en primera instancia. De las opciones que se ofrecen con esta actuación, comentamos una: 
>* el procedimiento cancela su ejecución y el error se reporta en forma de excepción al nivel superior (de lo contrario, éste no se entera) después de haberlo gestionado dentro del mismo procedimiento almacenado. La aplicabilidad de esta opción requiere que el nivel superior sea capaz de capturar y tratar excepciones. 
>  
>> Por ejemplo, podríamos tener una apli- cación desarrollada en Java que ejecutara un procedimiento almacenado. Si el procedimiento almacenado gestiona los errores reportándolos a la aplicación Java mediante excepciones, esta aplicación puede capturar las excepciones y hacer lo que corresponda (por ejemplo, se puede cancelar la transacción en curso, cerrar la conexión a la BD y finalizar la aplicación).
Con el fin de favorecer al máximo la encapsulación de los procedimientos almacenados, se recomienda capturar el error. Además, optaremos por hacer que el procedimiento cancele su ejecución y reporte el error en forma de ex- cepción al nivel superior.
>
>El nivel superior ha de saber necesariamente si la ejecución del procedi- miento almacenado finaliza o no en una situación de error; de lo con- trario, la BD puede quedar en un estado inconsistente. En caso de que se produzca una situación de error, en general, el nivel superior cance- lará la transacción que invoca la ejecución del procedimiento almace- nado. De hecho, PostgreSQL tiene este comportamiento y, siempre que un procedimiento falla, cancela la transacción en curso.

__`EXCEPTION`__
>Permite especificar las acciones que hay que ejecutar en caso de que se produzcan errores. 
>  
>Esta sentencia se ha de especificar, dentro del procedimiento almacenado, al final del bloque de sentencias, justo antes del END que marca el final del procedimiento. Así, la estructura de un procedimiento almacenado con la sentencia EXCEPTION es la siguiente:

In [ ]:
CREATE FUNCTION ...
BEGIN
    <bloque de sentencias>
EXCEPTION
    WHEN <condicion> OR <condicion> ...  THEN
         <bloque sentencias>
    WHEN <condicion> OR <condicion> ...  THEN
         <bloque sentencias>
END;
$$LANGUAGE plpgsql;

> __`WHEN`__   
permite especificar el conjunto concreto de errores de interés que ha de tratar el procedimiento.   
> En general, cada una de las condiciones de la cláusula WHEN se especifica utilizando constantes que PostgreSQL tiene definidas para identificar cada tipo de error. Por ejemplo, la constante FOREIGN_KEY_VIOLATION se utiliza para identificar un error de violación de la restricción de integridad referencial.
>
>Si se produce un error que no pertenece a la lista de errores tratados con las cláusulas WHEN, el error se reporta al nivel superior y la ejecución del procedi- miento almacenado se cancela de una manera inmediata.
>
>El __`<bloque_de_sentencias>`__, que se ejecuta cuando se cumple una condición de error, representa el conjunto de sentencias que hay que ejecutar cuan- do se produce un error determinado.
>
>En el __`<bloque_de_sentencias>`__ se han de incluir todas las sentencias de tratamiento de errores. Hay que destacar que, si se produce un nuevo error cuando se ejecutan estas sentencias, la ejecución del procedimiento se cancelará y el error será reportado de una manera inmediata al nivel superior.

__`RAISE EXCEPTION`__  
> sirve para que el programador pueda generar sus propios errores dentro de un procedimiento. Tiene la sintaxis general siguiente:

In [ ]:
RAISE EXCEPTION 'mensaje de error';

> A la hora de generar y tratar los mensajes de error, PostgreSQL tiene dos variables especialmente útiles: SQLSTATE y SQLERRM. 

>__`RAISE NOTICE`__ ('mensaje') se utiliza para generar o escribir mensajes por pantalla. Esta sentencia se puede usar para consultar el valor de variables concretas del procedimiento en tiempo de ejecución.
>
> __`SQLSTATE`__ contiene un código de cinco dígitos asociado al error producido. PostgreSQL sigue así la recomendación del SQL estándar, que aconseja utilizar este código para consultar los errores producidos en vez de consul- tar los mensajes textuales.  
>
> __`SQLERRM`__ contiene un mensaje explicativo asociado al error producido.

__Ejemplo de gestión de errores__   
Queremos modificar el código del procedimiento `calculo_descuento_cliente` de manera que controle los siguientes errores específicos:
>* El cliente no existe.
>* El cliente no tiene pedidos.

Hay dos formas posibles de definir este procedimiento.


1) __NO CAPTURAR EL ERROR EN EL PROCEDIMIENTO ALMACENADO__

In [99]:
-- % es sustituido en tiempo de ejecución por el valor de la variable dni_cliente.
-- no tiene la sentencia EXCEPTION, porque no gestiona los errores específicos del procedimiento.
CREATE FUNCTION calculo_descuento_cliente (dni_cliente clientes.dni%type)
RETURNS integer AS $$
DECLARE
  descuento INTEGER;
  num_pedidos_cliente INTEGER;
BEGIN
  IF ((SELECT COUNT(*)
       FROM pec3.cliente
       WHERE dni=dni_cliente)=1)THEN num_pedidos_cliente=(SELECT num_ped
                                                          FROM pec3.cliente
                                                          WHERE dni=dni_cliente);
    IF (num_pedidos_cliente IS NULL) THEN
      RAISE EXCEPTION
      'El cliente % no tiene pedidos',dni_cliente;
    ELSIF (num_pedidos_cliente<5) THEN descuento=0;
    ELSIF (num_pedidos_cliente<10) THEN descuento=3;
    ELSIF (num_pedidos_cliente<15) THEN descuento=5;
    ELSE descuento=10;
    END IF; 
  ELSE
    RAISE EXCEPTION
      'El cliente % no existe',dni_cliente;
  END IF;
  RETURN descuento;
END;
$$LANGUAGE plpgsql;

NOTICE:  type reference clientes.dni%TYPE converted to character

In [98]:
-- DROP FUNCTION calculo_descuento_cliente (dni_cliente clientes.dni%type)

NOTICE:  type reference clientes.dni%TYPE converted to character
NOTICE:  type reference clientes.dni%TYPE converted to character

In [87]:
SELECT COUNT(*) FROM pec3.cliente WHERE dni='39721974p'

1 row(s) returned.

  count
-------
      1

In [102]:
SELECT calculo_descuento_cliente('39222222e');

1 row(s) returned.

  calculo_descuento_cliente
---------------------------
                          5

In [107]:
SELECT calculo_descuento_cliente('39IWJN');   -- RAISE EXCEPTION 'El cliente % no existe'

El cliente 39IWJN no existe
CONTEXT:  PL/pgSQL function calculo_descuento_cliente(character) line 20 at RAISE

>En esta alternativa, todos los errores se reportan al nivel superior y se cancela la ejecución del procedimiento y de la transacción en curso.  
>  
>si ejecutamos este procedi- miento desde el editor de SQL de pgAdmin, en caso de que se produzca un error espe- cífico del procedimiento, en la parte inferior de la pantalla aparecerá una ventana que indicará que se ha producido el error con SQLSTATE P0001 y su mensaje asociado ("el cliente no tiene pedidos" o "el cliente no existe").

2) Capturar el error en el procedimiento almacenado y reportarlo al nivel superior me- diante excepciones.

In [109]:
CREATE FUNCTION calculo_descuento_cliente3(dni_cliente clientes.dni%type)
RETURNS integer AS $$
DECLARE
  descuento INTEGER;
  num_pedidos_cliente INTEGER;
BEGIN
  IF((SELECT COUNT(*)
      FROM pec3.cliente 
      WHERE dni=dni_cliente)=1)THEN num_pedidos_cliente=(SELECT num_ped
                                                         FROM pec3.cliente
                                                         WHERE dni=dni_cliente);
      IF (num_pedidos_cliente IS NULL) THEN
        RAISE EXCEPTION
          'El cliente % no tiene pedidos', dni_cliente;
      ELSIF (num_pedidos_cliente<5) THEN descuento=0;
      ELSIF (num_pedidos_cliente<10) THEN descuento=3;
      ELSIF (num_pedidos_cliente<15) THEN descuento=5;
      ELSE descuento=10;
      END IF;
  ELSE
      RAISE EXCEPTION
      'El cliente % no existe',dni_cliente;
END IF;
RETURN descuento;

EXCEPTION
      WHEN raise_exception THEN
      RAISE EXCEPTION' %: %',SQLSTATE, SQLERRM; 
                            -- SQLSTATE contiene un código de cinco dígitos asociado al error producido
                            -- SQLERRM contiene el mensaje del error
      WHEN others THEN
      RAISE EXCEPTION' P0001: Error interno';
END;
$$LANGUAGE plpgsql;

NOTICE:  type reference clientes.dni%TYPE converted to character
NOTICE:  type reference clientes.dni%TYPE converted to character

In [110]:
SELECT calculo_descuento_cliente('39IWJN');

El cliente 39IWJN no existe
CONTEXT:  PL/pgSQL function calculo_descuento_cliente(character) line 20 at RAISE

En este ejemplo, el procedimiento trata los errores en la sentencia EXCEPTION, que se encuentra al final del mismo. En nuestro ejemplo hay dos casos de error que hay que tratar:
>__`(raise_exception)`__ captura los errores específicos del procedimiento, que son dos: 
>* el cliente no tiene pedidos 
>* el cliente no existe.
>  
>__`(others)`__ captura cualquier otro error que no sea el anterior y el error de PostgreSQL llamado query_cancelled.
>  
> __`WHEN`__   
Las dos palabras reservadas que hay en la cláusula WHEN (raise_exception y others) son constantes predefinidas por PostgreSQL que tienen asociado un código SQLSTATE concreto. El nombre de estas palabras reservadas se puede escribir con letras mayúsculas o minúsculas.
>
>WHEN también se puede utilizar directamente el código SQLSTATE en vez de las constantes predefinidas por PostgreSQL. Podéis consultar el manual para obtener más información.
>
>En caso de error, el procedimiento lo captura y, después de haberlo tratado, lo reporta mediante una excepción al ni- vel superior. Fijaos que el tratamiento del error consiste en encapsular los errores predefinidos de PostgreSQL, como __foreign_key_violation__ o __not_null_violation__. Nos interesa que el procedimiento esconda todos estos errores y muestre sólo un mensaje genérico, que en nuestro ejemplo es __'error interno'__.
---

__BORRANDO UN ITEM DE LAS TABLAS DE ITEMS__  
Como último ejemplo, supongamos que queremos hacer un procedimiento que borre un ítem de la tabla de ítems. El número del ítem a borrar se pasa como parámetro al procedimiento. En caso de que el ítem se pueda borrar, el procedimento no retornará nada. En caso de que se produzca alguno de los errores siguientes, el procedimiento tendrá que informarlo generando excepciones.
> 1) El ítem no existe.  
> 2) El ítem tiene pedidos.

In [114]:
SELECT * FROM pec3.items

3 row(s) returned.

  num_item    precio_unidad
----------  ---------------
        33               45
        44               25
        55               15

In [118]:
CREATE OR REPLACE FUNCTION eliminar_item (item integer)
RETURNS void AS $$
DECLARE
   mensaje varchar (50);

BEGIN
   DELETE FROM pec3.items WHERE num_item = item;
   IF NOT FOUND THEN
      RAISE EXCEPTION
         'El item no existe';
   END IF;

EXCEPTION
   WHEN raise_exception THEN
      RAISE EXCEPTION '%', SQLERRM;
   WHEN foreign_key_violation THEN
      RAISE EXCEPTION 'El item tiene pedidos';
END;
$$LANGUAGE plpgsql;

In [119]:
SELECT eliminar_item(33);      -- foreign_key_violation : El item tiene pedidos

El item tiene pedidos
CONTEXT:  PL/pgSQL function eliminar_item(integer) line 16 at RAISE

El ejemplo anterior trata dos errores:
>* Un error específico del procedimiento(caso WHEN raise_exception). En este caso se utiliza la variable especial de PostgreSQL FOUND para saber si la sentencia delete ha borrado alguna fila.
>    
>
>* Un error predefinido de PostgreSQL (caso WHEN foreign_key_violation) que es encapsulado por el procedimiento para poder mostrar al usuario un mensaje de error personalizado, en vez del mensaje de error predefinido de PostgreSQL.
>
>Fijaos que en este ejemplo (si no ponemos el caso WHEN others en la senten- cia EXCEPTION), si el procedimiento falla por algún error que no sea alguno de los dos anteriores, el usuario recibirá un mensaje de error predefinido de PostgreSQL informando del error producido.
>
>La variable FOUND es una variable especial de tipo booleano de PosgreSQL. Su valor inicial es falso, pero este valor puede cambiar cuando se ejecutan sentencias SQL. Concre- tamente, cuando se ejecutan sentencias de actualización, la variable FOUND tiene valor cierto si como mínimo una fila se ve afectada por la sentencia de actualización. Si sucede lo contrario, su valor es falso. Podéis consultar el manual de PostgreSQL para obtener más información.