In [22]:
-- connection: postgres://postgres:1234@localhost:5433/pec3
SET SEARCH_PATH TO pec3;

# 3. Disparadores
Imaginemos, por ejemplo, que tenemos una tabla de existencias de productos de una organización determinada que tiene una regla de negocio definida seún la cual, cuando el estoc de un producto queda por debajo de cincuenta unidades, hay que hacer un pedido de cien unidades.
>La solución correcta es dotar al sistema de actividad. Se incorpora a la BD un nuevo componente, los `disparadores` (en inglés, triggers), que modelan la regla de negocio y se ejecutan de forma automática. 

Así, para el problema planteado (y sin entrar todavía en la sintaxis concreta), el disparador que se incorporaría a la BD es el siguiente: 
>"Cuando se modifiquen las existencias de un producto y queden por debajo de cincuenta unidades, hay que pedir cien unidades nuevas". La regla de negocio está sólo en un sitio, la eficacia no depende del programador y el disparador se ejecutará siempre que haga falta y sólo cuándo haga falta.

__`DISPARADORES`__  
Son unos componentes que se ejecutan de una manera automática cuando se produce un evento determinado. Se dice que un disparador es una regla ECA (evento, condición, acción): cuando se produce un evento determinado, si se cumple una condición, se ejecuta una acción.

## 3.1. Cuándo se han de utilizar disparadores
Situaciones en las que es posible usar disparadores:  
>* __Implementación de una regla de negocio__  
Como ejemplo, podemos revisar el caso de las existencias mencionado anteriormente.
>
>
>* __Mantenimiento automático de una tabla de auditoría de la actividaden la BD__  
Se trata de registrar de una manera automática los cambios que se hacen en una tabla determinada.
>
>
>* __Mantenimiento automático de columnas derivadas__  
El valor de una columna derivada se calcula a partir del valor de otras columnas; posible- mente, de otras tablas. Cuando se modifican las columnas base, hay que recalcular de una manera automática el valor de la columna derivada.
>
>
>* __Comprobación de restricciones de integridad no expresables en el sistema mediante CHECK o por medio de restricciones de integridad referencial__  
Como ejemplo, podemos considerar las restricciones dinámicas. La más clásica, y por otra parte normalmente bienvenida, es "un sueldo no puede bajar". Esta restricción hace referencia al estado anterior y posterior a una modificación y, por lo tanto, no se puede expresar como CHECK. Otro ejemplo de este tipo de restricciones son las aserciones, restricciones ex- presables en SQL estándar, pero que no implementa ningún SGBD.
>
>
>* __Reparación automática de restricciones de integridad__  
Hay que distinguir entre comprobación y reparación de restricciones de integridad. La semánti- ca de la comprobación de una restricción de integridad se puede resumir así: "Si una actualización infringe la restricción, hay que cancelar anormalmente o deshacer (en inglés, abort) la actualización." La semántica de la reparación es la siguiente: "Si la restricción se infringe, hay que llevar a cabo acciones compensatorias (nuevas actualizaciones) para que no se
infrinja". Los SGBD normalmente implementan las comprobaciones.

## 3.2. Cuándo no se han de utilizar disparadores
No se deberían utilizar disparadores en las situaciones en las que el sistema se pudiera resolver con sus propios mecanismos. Así, por ejemplo, 
>* no se tendrían que usar para implementar las restricciones de clave primaria, 
>* ni las restricciones de integridad referencial, 
>* ni todas las expresables como CHECK, etc.

## 3.3. Sintaxis de los disparadores en PostgreSQL
Hemos optado por explicar la sintaxis de los disparadores en PostgreSQL con el fin de poder ejecutar los ejemplos que veremos y resolver los ejercicios en un sistema real.

In [ ]:
CREATE TRIGGER <nombre_disparador> [BEFORE | AFTER]
| <evento> [OR <evento> ON <tabla>
            FOR [EACH] {ROW | STATMENT}]
            EXECUTE PROCEDURE <nombre_procedimiento();>

>• El nombre sirve para identificar el disparador en caso de que se quiera modificar(para modificar un disparador, hay que borrarlo y volverlo a crea) o borrar.  
>• El evento especifica el tipo de sentencia que activa el disparador. En particular, en PostgreSQL son las siguientes:

In [ ]:
INSERT | DELETE | UPDATE [OF columna [, columna...]]

Para cada disparador hay que definir, como mínimo, un procedimiento almacenado que contenga las acciones que se ejecutarán cuando se active. Las cláusulas 
> BEFORE,   
> AFTER,   
> FOR EACH ROW y   
> FOR EACH STATEMENT   

sirven para especificar cuándo se ejecutará el procedimiento asociado al disparador.

__`trigger procedure`__  
>El procedimiento almacenado que contiene las acciones que ha de ejecutar el disparador es especial de PostgreSQL y se denomina trigger procedure. 
>* No recibe parámetros y devuelve un tipo de datos especial llamado trigger. 
>* Este procedimiento se ha de definir antes que el disparador que lo invoca. 
>* Un mismo procedimiento puede ser invocado por diversos dis- paradores.

__`BEFORE`__ o __`AFTER`__    
>• Si el disparador es BEFORE, el procedimiento asociado se ejecuta antes que la sentencia que activa el disparador.  
>  
>
>• Si el disparador es AFTER, el procedimiento asociado se ejecuta después que la sentencia que activa el disparador.  

__`FOR EACH ROW`__ o __`FOR EACH STATEMENT`__     
>• Si el disparador es FOREACHROW, el procedimiento asociado se ejecuta una vez por cada fila afectada por la sentencia que activa el disparador.    
>>  
>> Así, por ejemplo, una operación de __DELETE__ que afecte a diez filas de la tabla T hará que el procedimiento asociado a cualquier disparador __FOR EACH ROW__ definido sobre la tabla T se ejecute diez veces, una vez por cada fila borrada.    
> 
>
>• Si el disparador es FOREACHSTATEMENT, el procedimiento se ejecutauna vez, independientemente del número de filas afectadas por la sentencia que activa el disparador.     
>>  
>> En cambio, si el disparador se ha definido __FOR EACH STATEMENT__, el procedimiento en cuestión se ejecutará una sola vez (con independencia del número de filas borradas).   
    
Cuando se define un disparador, hay que especificar si se ejecutará __`BEFORE o AFTER`__ y si será __`FOR EACH ROW o FOR EACH STATEMENT`__. Por lo tanto, podemos tener cuatro tipos de disparadores:

• __`BEFORE/FOR EACH STATEMENT`__  
Elprocedimientoasociado al disparador se ejecuta una sola vez antes de la ejecución de la sentencia que activa el disparador.

• __`BEFORE/FOR EACH ROW`__   
El procedimiento asociado al disparador se ejecuta una vez por cada fila afectada y justo antes de que la fila se inserte, se modifique o se borre.

• __`AFTER/FOR EACH STATEMENT`__  
El procedimiento asociado al disparador se ejecuta una sola vez después de la ejecución de la sentencia que activa el disparador.

• __`AFTER/FOR EACH ROW`__    
El procedimiento asociado al disparador se ejecuta una vez por cada fila afectada y después de la ejecución de la sentencia que activa el disparador.

Finalmente, hay que decir que un disparador se borra con la sentencia siguiente:

In [ ]:
DROP TRIGGER <nombre_disparador> ON <nombre_tabla>;

### 3.3.1. Procedimientos invocados por disparadores
__`trigger procedure`__  
>Se trata de procedimientos almacenados especiales que PostgreSQL denomina trigger procedures. Como ya hemos dicho, estos procedimientos no pueden recibir parámetros de la manera habitual que hemos explicado antes y han de devolver un tipo de datos especial llamado trigger.

La forma de pasar parámetros a estos procedimientos almacenados es a través de variables especiales de PostgreSQL que se crean y se instancian automáticamente cuando se ejecuta el procedimiento. Algunas de estas variables son las siguientes:
   
> __`TG_OP`__  
>* Es una cadena de texto que contiene el nombre de la operación que ha activado el disparador.  
>* Puede tener los valores siguientes: INSERT, UPDATE o DELETE (con mayúsculas).   
>    
> __`NEW`__  
>* Para disparadores del tipo FOR EACH STATEMENT, tiene el valor NULL. 
>* Para disparadores del tipo FOR EACH ROW, es una variable de tipo compuesto que contiene la fila después de la ejecución de una sentencia de modificación (UPDATE) o la fila que hay que insertar (INSERT).   
>    
>__`OLD`__  
>* Para disparadores del tipo FOR EACH STATEMENT, tiene el valor NULL. 
>* Para disparadores del tipo FOR EACH ROW, es una variable de tipo compuesto que contiene la fila antes de la ejecución de una sentencia de modificación (UPDATE) o la fila que hay que borrar (DELETE).

In [ ]:
-- Sobre esta tabla se ha definido el disparador llamado trig. 
-- Consideremos también que se ejecuta la sentencia de modificación que tenemos más abajo 
-- y que esta sentencia activa el disparador trig.

CREATE TABLE t(
  a integer PRIMARY KEY,
  b integer);

CREATE TRIGGER trig  -- se ha definido el disparador llamado trig. 
BEFORE UPDATE ON t   -- se ejecuta la sentencia de modificación que tenemos más abajo 
FOR EACH ROW
EXECUTE PROCEDURE prog();

UPDATE t
SET b=3
WHERE a=1;

Supongamos que el contenido inicial de la tabla t es el siguiente:

|a|b|
|-|-|
|1|2|

Durante la ejecución del disparador, las variables NEW y OLD tienen los valores siguientes: 
>* Valores antes de que se ejecute la sentencia UPDATE:

In [ ]:
OLD.a=1 y OLD.b=2

> Valores después de que se ejecute la sentencia UPDATE:

In [ ]:
NEW.a=1 y NEW.b=3

>Con respecto al retorno de resultados, los procedimientos invocados por disparadores pueden devolver __NULL__ o bien una variable de tipo compuesto que tenga la misma estructura que las filas de la tabla sobre la que está definido el disparador. Es el caso de las variables OLD y NEW.
>

Los procedimientos invocados por disparadores pueden devolver los valores siguientes:
1) Disparadores __`BEFORE / FOR EACH ROW`__:
>
>* __NULL__,para indicar al disparador que no ha de acabar la ejecución de la operación para la fila actual. En este caso, la sentencia que activa el dispa- rador (INSERT/UPDATE/DELETE) no se llega a ejecutar.
>
>
>* __NEW__, para indicar que la ejecución del procedimiento para la fila actual ha de acabar normalmente y que la sentencia que activa el disparador (INSERT/UPDATE) se ha de ejecutar. En este caso, el procedimiento puede devolver el valor original de la variable NEW o modificar su contenido. Si el procedimiento modifica el contenido de la variable NEW, está variando directamente la fila que se insertará o se modificará.
>
>
>* __OLD__, para indicar que la ejecución del procedimiento por la fila actual ha de acabar normalmente y que la sentencia que activa el disparador (DELE- TE / UPDATE) se ha de ejecutar. En el caso de UPDATE, si el procedimiento retorna OLD, no hace la modificación de la fila actual.

2) Otros tipos de disparadores: 
> En los disparadores __AFTER / FOR EACH ROW__ y en los disparadores __FOR EACH STATEMENT__ (independientemente de que sean BEFORE o AFTER), el valor devuelto por el procedimiento que es invocado por el disparador es ignorado. Por esto, estos procedimientos normalmente devuelven NULL.
>
>La motivación principal para que los disparadores BEFORE y FOR EACH ROW devuelvan un valor diferente de nul, es que pueden modificar los datos de las filas que se insertarán o se modificarán en la tabla asociada al disparador. Veamos un ejemplo.

In [ ]:
CREATE TABLE t(
  a integer PRIMARY KEY,
  b integer);

CREATE FUNCTION prog()
...
...
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trig 
BEFORE INSERT ON t      -- definido el disparador llamado trig
FOR EACH ROW
EXECUTE PROCEDURE prog();

INSERT INTO t VALUES (1,2);

__Ejemplo de retorno de resultados en un trigger-procedure__  
> Sobre esta tabla se ha definido el disparador llamado trig. 
> Consideremos también que se ejecuta la siguiente sentencia de inserción, que activa el disparador

>El procedimiento __`prog()`__ puede devolver dos valores:  
>__`NULL`__   En este caso, la fila <1,2> no se inserta en la tabla t.  
>__`NEW`__     En este caso, tenemos dos posibilidades. 
>* 1) Si el valor de lavariable __`NEW`__ no ha sido modificado por el procedimiento prog(), 
> la fila <1,2> se inserta en la tabla t. 
>
>* 2) Si el valor de la variable NEW ha sido modificado por el procedimiento prog() (por ejemplo, si se ha ejecutado la operación NEW.b=3),   
> se inserta la fila <1,3> en la tabla t.

### 3.3.2. Ejemplos de disparadores

__MANTENIMIENTO AUTOMÁTICO DE UNA TABLA DE AUTORÍA__  
El objetivo del disparador es mantener de una manera automática una __tabla de auditoría `(log_record)`__ 
> que contenga un registro de todas las modificaciones de la columna __cant__ que hacen los usuarios en la tabla items de cierta  BD. 

Así, imaginemos que disponemos de las tablas siguientes:

In [58]:
CREATE TABLE log_record(
  item integer,
  username char(8),
  hora_modif timestamp,
  cant_vieja integer,
  cant_nueva integer);

In [24]:
CREATE TABLE items2(
  item integer primary key,
  nom char(25),
  cant integer,                   -- buscamos mantener registro de modificaciones en esta columna
  precio_total decimal(9,2));

In [27]:
INSERT INTO pec3.items2(item, nom, cant, precio_total)VALUES(1,'saco',100,0.30);
INSERT INTO pec3.items2(item, nom, cant, precio_total)VALUES(2,'boli',5000,0.50);
INSERT INTO pec3.items2(item, nom, cant, precio_total)VALUES(3,'rat',500,0.60);

In [74]:
SELECT * FROM items2;

3 row(s) returned.

  item  nom      cant    precio_total
------  -----  ------  --------------
     3  rat       500             0.6
     1  saco      132             0.3
     2  boli     5032             0.5

In [60]:
SELECT * FROM log_record;

0 row(s) returned.

El disparador ha de guardar 
>* una fila por cada modificación hecha en la columna __cant__ de la tabla __items__, 
>* en este caso lo más adecuado es utilizar un disparador del tipo __`AFTER`__ y __`FOR EACH ROW`__. 

El disparador se define de tipo __`AFTER`__ 
> para insertar filas en la tabla de auditoría sólo en caso de que se hayan producido modificaciones de la cantidad de algún ítem. 

Si definiéramos el disparador como __`BEFORE`__   
> las inserciones en la tabla de auditoría se harían antes de que se produjera la modificación de la cantidad de algún ítem. Si por algún motivo la modificación de la cantidad de algún ítem fallara, ya habríamos hecho la inserción en la tabla de auditoría, realizando más trabajo del necesario.

El disparador se define del tipo __`FOR EACH ROW`__   
>porque nos interesa guardar un registro de auditoría para cada ítem del que se modifica la cantidad.

In [62]:
CREATE FUNCTION inserta_log() 
RETURNS trigger AS $$ 
BEGIN 
  INSERT INTO log_record VALUES (              -- inserta dentro de la tabla log_record.
                                 OLD.item,     -- valor del item modificado
                                 current_user, -- registro del usuario actual
                                 current_date, -- registro de la fecha actual
                                 OLD.cant,     -- valores antes de modificarlos 
                                 NEW.cant);    -- valores nuevos que se han modificado
RETURN NULL;
END;
$$ LANGUAGE plpgsql;

In [63]:
CREATE TRIGGER auditoría_items   -- proced. almac. que contiene las acciones ha ejecutar el disparador
AFTER UPDATE OF cant ON items2   -- Cada vez que actualice columna cant de la tabla items2
FOR EACH ROW EXECUTE PROCEDURE inserta_log(); -- por cada linea ejecuto el proceso almacenado

In [64]:
-- DROP FUNCTION inserta_log CASCADE

can't execute an empty query

Cada vez que se actualice la columna __`cant`__ de la tabla __`items`__, se insertará una fila en la tabla __`log_record`__. 

Las variables __`OLD.cant`__ y __`NEW.cant`__ contendrán respectivamente los valores antiguos y nuevos de esta columna.


Consideremos el contenido siguiente de la tabla ítems:

|ítem|nombre|cant|precio_total|
|-|-|-|-|
|1|saco|100|0.30|
|2|boli|5000|0.50|
|3|rat|500|0.60|

Si ejecutamos la sentencia   
__UPDATE items SET cant=cant+10 WHERE item<>3___     
sobre la tabla anterior, para cada fila actualizada (en este caso, las filas 1 y 2) se ejecutará la inserción correspondiente, y en la tabla log_record se obtendrá el resultado siguiente:

|ítem|username|hora_modif|cant_vieja|cant_nueva|
|-|-|-|-|-|
|1| juan |2010-04-15 |15:00 |100 |110|
|2| juan |2010-04-15 |15:00 |5000 |5010|

In [66]:
UPDATE items2     -- sobre la tabla items2 del schema pec3
SET cant=cant+10  -- añade 10 sobre la cantidad existente
WHERE item<>3     -- <> es el operador SQL estándar que significa "no es igual".

In [67]:
SELECT * from log_record

2 row(s) returned.

  item  username    hora_modif             cant_vieja    cant_nueva
------  ----------  -------------------  ------------  ------------
     1  postgres    2021-04-20 00:00:00           121           131
     2  postgres    2021-04-20 00:00:00          5021          5031

In [68]:
UPDATE items2     -- sobre la tabla items2 del schema pec3
SET cant=cant+1  -- añade 10 sobre la cantidad existente
WHERE item<3      -- en aquellos calores de la columna item superiores a 3

In [69]:
SELECT * from log_record

4 row(s) returned.

  item  username    hora_modif             cant_vieja    cant_nueva
------  ----------  -------------------  ------------  ------------
     1  postgres    2021-04-20 00:00:00           121           131
     2  postgres    2021-04-20 00:00:00          5021          5031
     1  postgres    2021-04-20 00:00:00           131           132
     2  postgres    2021-04-20 00:00:00          5031          5032

El usuario posgrest actualizó dos filas de la tabla items y aumen- tó la cantidad de cada una de ellas en diez unidades el día 15 de abril de 2010 a las 15:00 horas.


__MANTENIMIENTO AUTOMÁTICO DE UN ATRIBUTO DERIVADO__  
>En este ejemplo se muestra cómo se utilizan los disparadores para mantener calculado de una manera automática el atributo derivado __precio_total__ de la tabla ítems cuando se producen modificaciones de la cantidad de existencias de algún ítem.
>
>El valor del atributo derivado se calcula a partir del valor de otras columnas de la misma tabla o bien de otras tablas. Por lo tanto, cuando se modifican las columnas que se utilizan para calcular el atributo derivado, hay que recalcular de forma automática el valor del atributo derivado.

Partamos nuevamente de la siguiente tabla items:

In [ ]:
CREATE TABLE items2(
  item integer primary key,
  nom char(25),
  cant integer,
  precio_total decimal(9,2));

>Definimos el atributo __precio_total__, un atributo derivado cuyo valor se calculará tal como sigue:

In [70]:
CREATE FUNCTION calcula_nuevo_precio_total()
RETURNS trigger AS $$
BEGIN
  IF (OLD.cant<>0) THEN                          -- <> es el operador SQL estándar que significa "no es igual".
  NEW.precio_total=((OLD.precio_total/OLD.cant)*NEW.cant);
  END IF;
RETURN NEW;
END
$$ LANGUAGE plpgsql;

In [72]:
CREATE TRIGGER atributo_derivado
BEFORE UPDATE OF cant ON items2
FOR EACH ROW
EXECUTE PROCEDURE calcula_nuevo_precio_total();

El procedimiento __`calcula_nuevo_precio_total`__   
devuelve el nuevo precio total de un ítem, calculado a partir del precio total anterior que teníamos en la BD y la cantidad del ítem antes y después de la modificación.


>* Sólo recalcula el precio total de un ítem cuando se produce una modificación de la cantidad de existencias del mismo. 
>  
>
>* El recálculo del nuevo precio total se asigna a la variable __NEW.precio_total__.  
> Con esta asignación modificamos directamente el contenido de la variable __NEW__ `antes` de que se produzca la modificación de la cantidad de existencias de un ítem. 
>  
>
>* Finalmente, el procedimiento devuelve la variable NEW. Este retorno sirve para que la modificación del precio total que realiza el procedimiento se acabe efectuando en la tabla items.
>  
>__RECUERDA__  
>Es más eficiente que los procedimientos invocados por disparadores sólo lleven a cabo las acciones cuando hace falta.
>>En el ejemplo anterior, sólo se vuelve a calcular el precio total cuando se modifica la cantidad de algún ítem.  
>>
>>
>>El procedimiento __calcula_nuevo_precio_total__ ha de devolver la variable NEW para que la modificación del precio total se guarde en la tabla items.

In [75]:
SELECT * FROM items2;

3 row(s) returned.

  item  nom      cant    precio_total
------  -----  ------  --------------
     3  rat       500             0.6
     1  saco      132             0.3
     2  boli     5032             0.5

In [79]:
UPDATE items2     
SET cant=cant+10  -- modifico cantidad
WHERE item=1      -- en el item 1

In [80]:
SELECT * FROM items2;

3 row(s) returned.

  item  nom      cant    precio_total
------  -----  ------  --------------
     3  rat       500            0.6
     2  boli     5032            0.5
     1  saco      142            0.32

__IMPLEMENTACION DE UNA REGLA DE NEGOCIO__  
Con este ejemplo ilustraremos el uso de más de un disparador para implementar una regla de negocio. Además, veremos la manera de cancelar (en inglés, abort) la ejecución de la sentencia que ha activado el disparador y toda la transacción en curso.

Partamos de la tabla items del ejemplo anterior:

In [ ]:
CREATE TABLE items(
  item integer primary key,
  nom char(25),
  cant integer,
  precio_total decimal(9,2));

__El objetivo del nuevo disparador__  
es implementar la regla de negocio siguiente: 

"No puede ser que una sola sentencia de modificación (UPDATE)  
aumente la cantidad total de las existencias de los productos más de un 50%".

>Puesto que esta regla de negocio no requiere, a priori, un tratamiento para cada una de las filas,  
parece natural implementarla con disparadores  __FOR EACH STATEMENT__. 
>* Un primer disparador ejecutado __BEFORE__ puede sumar las existencias de los ítems antes de la actualización  
>* Un segundo disparador __AFTER__ puede sumarlas después y hacer la comparación de las dos cantidades:

In [ ]:
CREATE TRIGGER regla_negocio_antes 
BEFORE UPDATE ON items
FOR EACH STATEMENT
EXECUTE PROCEDURE update_items_antes();

CREATE TRIGGER regla_negocio_despues
AFTER UPDATE ON items
FOR EACH STATEMENT
EXECUTE PROCEDURE update_items_despues();

Esta solución tiene un problema. En PostgreSQL, 
> los procedimientos invocados para disparadores no pueden devolver cualquier valor; por lo tanto, no tenemos manera de devolver la cantidad de existencias de ítems antes de que se produzca la modificación. 

Para poderlo hacer, definiremos la siguiente tabla temporal:

In [81]:
CREATE TABLE TEMP(cant_vieja integer);   -- En schema pec3 crea tabla nueva con la columna cant_vieja

> __`update_items_antes`__ El procedimiento  guardará la cantidad de existencias en esta tabla temporal, y el procedimiento  
>__`update_items_despues`__ la consultará y la limpiará para próximas ejecuciones.  

__Regla de negocio__:  

"No puede ser que 
>* una sola sentencia de modificación (UPDATE)
>* aumente la cantidad total de las existencias de los productos más de un 50%".

In [92]:
CREATE FUNCTION update_items_antes()
RETURNS trigger AS $$
BEGIN
  INSERT INTO temp 
  SELECT sum(cant)    -- suma todas las cantidades de la columna modificada
  FROM items2;
  RETURN NULL;
END
$$ LANGUAGE plpgsql;

function "update_items_antes" already exists with same argument types

In [86]:
CREATE FUNCTION update_items_despues()
RETURNS trigger AS $$
DECLARE
  cant_antes integer default 0;
  cant_despues integer default 0;
BEGIN
  SELECT cant_vieja    -- la columna tamporal que hemos creado
  into cant_antes      -- creamos esta nueva columna en la tabla temporal
  FROM temp;
  DELETE FROM temp;    -- DELETE elimina las filas que satisfacen la cláusula WHERE
  SELECT sum(cant) into cant_despues FROM items2; -- añade la columna
  IF (cant_despues>cant_antes*1.5) THEN           -- cant_antes recuperada de la tabla temp cant_vieja
    RAISE EXCEPTION 'Infraccion regla de negocio';
  END IF;
  RETURN NULL;
END
$$ LANGUAGE plpgsql;

In [85]:
-- DROP FUNCTION update_items_despues CASCADE

__RECUERDA__  Para poder probar el ejemplo, hay que crear la tabla temporal y los procedimientos almacenados antes que los disparadores.

>Si la sentencia de modificación no cumple la regla de negocio, el procedimiento almacenado ejecutado __AFTER__ 
>* genera una excepción que deshace la sentencia que activa el disparador y toda la transacción en curso.

>En cambio, si la ejecución de una sentencia de modificación no provoca la violación de la regla de negocio, 
>* la sentencia __UPDATE__ se ejecuta correctamente.

In [100]:
UPDATE items2     
SET cant=cant+1999999999  -- modifico cantidad
WHERE item<>1             -- en el item 1

In [101]:
SELECT * FROM items2

3 row(s) returned.

  item  nom          cant    precio_total
------  -----  ----------  --------------
     1  saco     20000587     45071.7
     3  rat    2000000499         2.4e+06
     2  boli   2000005031    198729

Como hemos visto, el disparador calcula dos veces las existencias de los productos: una vez antes de la actualización y la otra después. 
>Puede ser interesante plantearse la posibilidad de definir un disparador alternativo que haga la misma función de forma más eficiente, obviando una de las dos sumas totales. 
>
>La clave está en tener en cuenta las filas que se actualizan:   
> no hará falta la segunda suma si se conoce el resultado de la primera y las actualizaciones realizadas. Sólo habrá que hacer una vez la suma, acumular las actualizaciones que se hagan y deducir la otra suma; es decir, tanto podemos hacer un disparador con acciones 
>* __FOR EACH ROW__ (que acumule) y __AFTER__ (que calcule la suma), 
>* como el simétrico con acciones __BEFORE__ (que calcule la suma) y __FOR EACH ROW__ (que acumule).
>
>Esta técnica para aumentar la eficiencia de los disparadores que tiene en cuenta lo que cambia y no hace comprobaciones redundantes se conoce con el nom- bre de disparadores incrementales. Siempre que se pueda, conviene utilizarla.
>
>__DISPARADORES INCREMENTALES --> Siempre que se pueda, conviene utilizarla.__

### 3.3.3. Otros aspectos que hay que tener en cuenta
Otros aspectos sobre los disparadores que conviene considerar son su orden de ejecución, los errores, las restriccions de integridad o los disparadores en cascada.

__ORDEN DE EJECUCIÓN DE LOS DISPARADORES__  
Como hemos visto anteriormente, es posible que para implementar una semántica o situación haga falta más de un disparador. En estos casos, puede que se tengan que implementar diversos disparadores para el mismo evento (INSERT, UPDATE o DELETE sobre la misma tabla). Cuando esto pasa, PostgreSQL fija la orden de ejecución de los disparadores tal como sigue:
>• Los disparadores BEFORE/FOREACHSTATEMENT se ejecutan antes que los disparadores BEFORE / FOR EACH ROW.
>
>• Los disparadores AFTER/FOREACHSTATEMENT se ejecutan después que los disparadores AFTER / FOR EACH ROW.

Sólo en el caso de que tengamos dos disparadores para el mismo evento y de que sean del mismo tipo (por ejemplo, dos disparadores BEFORE / FOR EACH ROW sobre la misma tabla), se utilizará el orden alfabético del nombre del disparador para determinar qué disparador se ejecuta antes. El disparador cuyo nombre sea el primero según el orden alfabético es el que se ejecutará en primer lugar.

__DISPARADORES Y ERRORES__  
Cuando un disparador falla a causa de la ejecución de una de sus sentencias SQL, el sistema devuelve el error concreto SQL que se ha producido. Además, en el subapartado anterior hemos visto un ejemplo de cómo desde un disparador se puede llamar a un procedimiento almacenado que provoque el lanzamiento de una excepción (en el ejemplo se lanzaba la excepción cuando no se cumplía la regla de negocio especificada). Esta situación nos sirve para simular un error SQL.

> Recapitulando, tenemos dos situaciones que hacen que el disparador falle:
>* Se ejecuta una sentencia interna que provoca el error.
>
>* Se provoca el error mediante el lanzamiento de la excepción.

Tanto en un caso como en el otro, todas las acciones que ha podido hacer el disparador (y las que hayan podido hacer los disparadores activados por las acciones del primero) y la transacción en curso se deshacen de una manera automática.

In [ ]:
-- Consideremos el siguiente esquema de activación de disparadores:
BEGIN WORK;
Sentencia 1;
Sentencia 2;
Sentencia 3;
Provoca la activacion del disparador D1;
D1:
Sentencia 4;
Provoca la activacion del disparador D2;
D2:
Sentencia 5;
Provoca la activacion del disparador D3;
D3:
Sentencia 6;
falla
-- En este caso, se desharán todas las acciones de los disparadores D1, D2 y D3 y las sentencias 1, 2 y 3.

__DISPARADORES Y RESTRICCIONES DE INTEGRIDAD__  
Cuando se ejecuta una sentencia SQL contra una BD, puede suceder que se activen disparadores y que se violen restricciones de integridad. Ante esta circunstancia, el sistema ha de decidir qué tiene que hacer en primer lugar: 
>* activar los disparadores o bien comprobar las restricciones de integridad.

En PostgreSQL, las acciones de los disparadores 
> __`BEFORE`__ se ejecutan antes de comprobar las restricciones de integridad de la BD. 

En cambio, las acciones de los disparadores 
> __`AFTER`__ se ejecutan después de comprobar las restricciones de integridad de la BD. Veamos un ejemplo.

In [108]:
-- Expresan la restricción de integridad referencial "todo hijo ha de tener un padre".
CREATE TABLE padre(
  a INTEGER PRIMARY KEY);

CREATE TABLE hijo(
  b INTEGER PRIMARY KEY,
  c INTEGER REFERENCES padre);

Podemos definir un disparador que se active cuando se inserte 
>* un hijo que no tenga especificado un padre y que, 
>* como reparación, lo inserte en la tabla padre.

In [109]:
CREATE FUNCTION insertar() 
RETURNS trigger AS $$
BEGIN
  if ((SELECT count(*) FROM padre WHERE a=NEW.b)=0) THEN
    INSERT INTO padre VALUES (NEW.b);
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

In [110]:
CREATE TRIGGER restricciones1 
BEFORE INSERT ON hijo
FOR EACH ROW EXECUTE PROCEDURE insertar();

La sentencia siguiente provoca la inserción del valor 1 en la tabla padre,   
puesto que el disparador se ejecuta antes de comprobar la restricción de integridad referencial.

In [112]:
INSERT INTO hijo VALUES (1,1);

En cambio, si el disparador restricciones1 hubiera sido definido __AFTER__, la sentencia de inserción anterior habría producido un error de violación de la restricción de integridad referencial. Esto es así porque la restricción de integridad referencial se comprueba antes de ejecutar el disparador.

In [113]:
SELECT * FROM hijo

1 row(s) returned.

  b    c
---  ---
  1    1

__CAMBIO A AFTER__

In [114]:
CREATE FUNCTION insertar2() 
RETURNS trigger AS $$
BEGIN
  if ((SELECT count(*) FROM padre WHERE a=NEW.b)=0) THEN
    INSERT INTO padre VALUES (NEW.b);
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

In [115]:
CREATE TRIGGER restricciones2 
AFTER INSERT ON hijo            -- CAMBIO A AFTER
FOR EACH ROW EXECUTE PROCEDURE insertar2();

In [ ]:
INSERT INTO hijo VALUES (2,2); -- INSERTO VALORES A hijo

In [118]:
SELECT * FROM hijo

2 row(s) returned.

  b    c
---  ---
  1    1
  2    2

In [122]:
SELECT * FROM padre           -- PADRE SE MODIFICA

2 row(s) returned.

  a
---
  1
  2

In [127]:
INSERT INTO hijo VALUES (3,45);

insert or update on table "hijo" violates foreign key constraint "hijo_c_fkey"
DETAIL:  Key (c)=(45) is not present in table "padre".

In [124]:
INSERT INTO padre VALUES(9);  -- INSERTO UN VALOR A padre

In [125]:
SELECT * FROM padre

3 row(s) returned.

  a
---
  1
  2
  9

In [126]:
SELECT * FROM hijo          -- HIJO CONTINÚA IGUAL

2 row(s) returned.

  b    c
---  ---
  1    1
  2    2

__DISPARADORES EN CASCADA__  
Normalmente, los __`SGBD`__ permiten encadenar la ejecución de los disparadores en cascada; es decir, un disparador puede ejecutar una sentencia que, a su vez, active un disparador, el cual, de rebote, ejecute una sentencia, etc. 

PostgreSQL no pone límite al número de disparadores que se pueden ejecutar en cascada. Este comportamiento puede dar lugar a un bucle infinito. Veamos el ejemplo siguiente.

In [ ]:
CREATE FUNCTION p1()
BEGIN
  DELETE FROM B...
END;

CREATE TRIGGER del_a
AFTER DELETE ON A
FOR EACH ROW (execute procedure p1());

CREATE FUNCTION p2()
BEGIN
  DELETE FROM C...
END;

CREATE TRIGGER del_b
AFTER DELETE ON B
FOR EACH ROW (execute procedure p2());

CREATE FUNCTION p3()
BEGIN
  DELETE FROM A...
END;

CREATE TRIGGER del_c
AFTER DELETE ON C
FOR EACH ROW (execute procedure p3());

La sentencia siguiente provoca la activación de los disparadores anteriores,   
y se produce un bucle infinito de borrados sucesivos.

In [ ]:
DELETE FROM A...

Estas secuencias de activación de disparadores en cascada son peligrosas porque pueden producir bucles infinitos. Según PostgreSQL, es responsabilidad del programador evitar que se produzcan estos bucles.

Por lo tanto, 

__`es importante que los programadores utilicen disparadores sólo en los casos necesarios`   
y que documenten adecuadamente las situaciones que implementan mediante disparadores.__

### 3.3.4. Consideraciones de diseño
A menudo hay diversas soluciones válidas para resolver un mismo problema. En general, se debe utilizar la solución que evite hacer trabajo y accesos innecesarios a la BD. Según el manual de PostgreSQL, cuando se utilizan disparadores para implementar alguna situación y los disparadores pueden ser BEFORE o AFTER, normalmente se escoge el disparador BEFORE por motivos de eficiencia. El disparador BEFORE ejecuta las acciones antes que la operación que activa el disparador.

No obstante, hay muchas sutilezas a la hora de decidir qué tipo de disparador es mejor para implementar una situación. 


Consideremos que queremos implementar con disparador la restricción siguiente: 
> "El sueldo de un empleado no puede bajar." Disponemos del fragmento de la siguiente tabla empleados:

In [ ]:
 CREATE TABLE empleados (
  num_empl INTEGER PRIMARY KEY,
  sueldo numeric NOT NULL (CHECK sueldo<50.000.0),
...);

En principio, según lo que hemos dicho antes, comprobaríamos la restricción lo antes posible. Por lo tanto, utilizaríamos un disparador __BEFORE / FOR EACH ROW__.

Pero, ¿qué pasaría si la sentencia que activa el disparador viola la restricción CHECK suel- do<50.000.0? 
> Por ejemplo, la sentencia UPDATE empleados SET sueldo=60.000.0 WHERE núm_empl=10;.
>
>Como hemos definido el disparador de tipo __BEFORE__, se comprobaría en primer lugar la restricción de que el sueldo no puede bajar y, después, la restricción de que el sueldo ha de ser inferior a 50.000. 
>
>Sin embargo, por motivos de eficiencia, quizás habría casos en los que sería mejor comprobar primero la restricción de que el sueldo tiene que ser inferior a 50.000. Por ejemplo, si esta restricción se viola muy a menudo en la BD, sería más eficiente comprobar en primer lugar la restricción check sueldo<50.000,0. 
>En este caso, podríamos decidir definir nuestro disparador como disparador del tipo AFTER / FOR EACH ROW.

Por lo tanto, hay que ir con cuidado a la hora de escoger el tipo de disparador para implementar una determinada situación o semántica.