In [1]:
-- connection: postgres://postgres:1234@localhost:5433/UOC_Salud

In [48]:
-- https://www.postgresql.org/docs/12/index.html

can't execute an empty query

__EJERCICIO 1​ ​(20%)__
Se pide proporcionar las sentencias SQL para crear los componentes especificados a
continuación. El resultado de este ejercicio ha de entregarse en el fichero ​pec2_ej1.sql​. BD_DW2

>Nombre de la base de datos donde se deben de crear el esquema y los componentes requeridos.
>* Nota​: el comando de creación de la base de datos ha de proporcionarse ​comentado en el script.

In [4]:
/*nota: el comando de creación de la base de datos 
ha de proporcionarse comentado en el script.*/

-- Creo base de datos
-- CREATE DATABASE UOC_Salud

can't execute an empty query

__NOMBRE DE LA BASE DE DATOS__

In [155]:
-- nombre de la base de datos
SELECT current_database();

1 row(s) returned.

current_database
------------------
UOC_Salud

__CREO ESQUEMA__

In [ ]:
-- Creo esquema clinial
-- CREATE SCHEMA clinical;

__ESCOJO ESQUEMA DE TRABAJO CREADO__

In [156]:
-- Escojo esquema de trabajo creado
SET search_path TO clinical;

__NOMBRE ESQUEMA__

In [157]:
SELECT current_schema();

1 row(s) returned.

current_schema
----------------
clinical

__CREO TABLAS__

In [4]:
BEGIN WORK;

CREATE TABLE tb_medical_services(                          -- SERVICIOS MEDICOS
	med_service_id INTEGER,                                -- ID
	description VARCHAR(50) NOT NULL,                      -- descripcion
	surgical CHAR NOT NULL,                                -- quirurgica
	short_code CHAR(3) NOT NULL,
	CONSTRAINT pk_med_services PRIMARY KEY(med_service_id) 
);

CREATE TABLE tb_users(                                     --USUARIO DEL SISTEMA
	user_id INTEGER,
	user_name VARCHAR(10) NOT NULL, 
	user_type VARCHAR(10) NOT NULL,
	full_name VARCHAR(50) NOT NULL, 
	register_dt TIMESTAMP NOT NULL DEFAULT CURRENT_DATE,
	medical_license_nbr CHAR(10),                          -- licencia médica
	med_service_id INTEGER,                                -- servicio medico
	CONSTRAINT pk_users PRIMARY KEY(user_id),
	CONSTRAINT fk_medical_services FOREIGN KEY(med_service_id) REFERENCES tb_medical_services(med_service_id)
);

CREATE TABLE tb_patient(
	patient_id INTEGER,
	ehr_number INTEGER,
	"name" VARCHAR(50) NOT NULL,
	sex CHAR,
	birth_dt DATE,
	residence VARCHAR(100),
	insurance VARCHAR(50),
	CONSTRAINT pk_patient PRIMARY KEY(patient_id)
);

CREATE TABLE tb_encounter(                                -- EPISODIO
    encounter_id INTEGER,                                 -- episodio_id
	patient_id INTEGER NOT NULL,                          -- paciente_id
	encounter_type VARCHAR(50) NOT NULL,                  -- tipo episodio
	arrival_dt TIMESTAMP NOT NULL DEFAULT CURRENT_DATE,   -- fecha llegada medica
	discharge_dt TIMESTAMP,                               -- fecha alta medica
	med_service_id INTEGER NOT NULL,                      -- servicio medico
	CONSTRAINT pk_encounter PRIMARY KEY(encounter_id),
	CONSTRAINT fk_patient FOREIGN KEY(patient_id) REFERENCES tb_patient(patient_id),
	CONSTRAINT fk_medical_services FOREIGN KEY(med_service_id) REFERENCES tb_medical_services(med_service_id)
);

CREATE TABLE tb_orders_catalog(                           -- PEDIDOS CATALOGO
	order_code INTEGER,                                   -- codigo pedido
	category VARCHAR(50),                                 -- categoría
	subcategory VARCHAR(50),                              -- subcategoría
	order_desc VARCHAR(50),                               -- pedido_desc 
	"cost" INTEGER,                                       -- coste
	CONSTRAINT pk_orders_catalog PRIMARY KEY(order_code)
);

CREATE TABLE tb_orders(                                   -- PEDIDOS 
	order_id INTEGER,                                     -- pedido id
	order_code INTEGER NOT NULL,                          -- codigo pedido  
	encounter_id INTEGER NOT NULL,                        -- encuentro_id
	status VARCHAR(50) NOT NULL,                          -- estado
	created_dt TIMESTAMP NOT NULL DEFAULT CURRENT_DATE,   -- creado
	status_dt TIMESTAMP DEFAULT CURRENT_DATE,             -- estado
	created_by_user INTEGER NOT NULL,
	CONSTRAINT fk_users FOREIGN KEY(created_by_user) REFERENCES tb_users(user_id),
	CONSTRAINT fk_orders_catalog FOREIGN KEY(order_code) REFERENCES tb_orders_catalog(order_code),
	CONSTRAINT fk_encounter FOREIGN KEY(encounter_id) REFERENCES tb_encounter(encounter_id)
);

COMMIT WORK;

relation "tb_medical_services" already exists

__BUSCO INFO: TODAS LA CLAVES PRIMARIAS Y SUS COLUMNAS DE LAS TABLAS__

In [5]:
-- Enumere todas las claves primarias (PK) y sus columnas 
-- https://dataedo.com/kb/query/postgresql/list-all-primary-keys-and-their-columns
select kcu.table_schema,
       kcu.table_name,
       tco.constraint_name,
       kcu.ordinal_position as position,
       kcu.column_name as key_column
from information_schema.table_constraints tco
join information_schema.key_column_usage kcu 
     on kcu.constraint_name = tco.constraint_name
     and kcu.constraint_schema = tco.constraint_schema
     and kcu.constraint_name = tco.constraint_name
where tco.constraint_type = 'PRIMARY KEY'
order by kcu.table_schema,
         kcu.table_name,
         position;

5 row(s) returned.

table_schema    table_name           constraint_name      position  key_column
--------------  -------------------  -----------------  ----------  --------------
clinical        tb_encounter         pk_encounter                1  encounter_id
clinical        tb_medical_services  pk_med_services             1  med_service_id
clinical        tb_orders_catalog    pk_orders_catalog           1  order_code
clinical        tb_patient           pk_patient                  1  patient_id
clinical        tb_users             pk_users                    1  user_id

In [6]:
-- Enumere todas las claves primarias (PK) y sus columnas 
-- https://dataedo.com/kb/query/postgresql/list-all-primary-keys-and-their-columns
select kcu.table_schema,
       kcu.table_name,
       tco.constraint_name,
       kcu.ordinal_position as position,
       kcu.column_name as key_column
from information_schema.table_constraints tco
join information_schema.key_column_usage kcu 
     on kcu.constraint_name = tco.constraint_name
     and kcu.constraint_schema = tco.constraint_schema
     and kcu.constraint_name = tco.constraint_name
where tco.constraint_type = 'FOREIGN KEY'
order by kcu.table_schema,
         kcu.table_name,
         position;

8 row(s) returned.

table_schema    table_name    constraint_name        position  key_column
--------------  ------------  -------------------  ----------  ---------------
clinical        tb_encounter  fk_medical_services           1  med_service_id
clinical        tb_encounter  fk_patient                    1  patient_id
clinical        tb_encounter  fk_medical_services           1  med_service_id
clinical        tb_orders     fk_users                      1  created_by_user
clinical        tb_orders     fk_encounter                  1  encounter_id
clinical        tb_orders     fk_orders_catalog             1  order_code
clinical        tb_users      fk_medical_services           1  med_service_id
clinical        tb_users      fk_medical_services           1  med_service_id

__BUSCO INFO: TABLA LISTADO DE LOS "DEFAULT" VALORES DE CADA TABLA__

In [7]:
select col.table_schema,
       col.table_name,
       col.column_name,
       col.column_default
from information_schema.columns col
where col.column_default is not null
      and col.table_schema not in('information_schema', 'pg_catalog')
order by col.column_name;

4 row(s) returned.

table_schema    table_name    column_name    column_default
--------------  ------------  -------------  ----------------
clinical        tb_encounter  arrival_dt     CURRENT_DATE
clinical        tb_orders     created_dt     CURRENT_DATE
clinical        tb_users      register_dt    CURRENT_DATE
clinical        tb_orders     status_dt      CURRENT_DATE

__EJECUTO SCRIPT QUE ME HAN DADO__
>Relleno tablas.   
>BBDD_Clinical_data.sql

__MIRO ASPECTO TABLAS__

In [42]:
SELECT * FROM tb_encounter
LIMIT 10;

10 row(s) returned.

  encounter_id    patient_id  encounter_type    arrival_dt           discharge_dt           med_service_id
--------------  ------------  ----------------  -------------------  -------------------  ----------------
         65091            31  Consulta Externa  2016-04-12 08:59:00  2016-04-12 22:50:00                 1
         66971            31  Consulta Externa  2016-05-16 11:12:34  2016-05-16 18:20:00                 5
         75753             1  Consulta Externa  2016-06-16 12:26:59  2016-06-16 15:00:00                 5
         77276            11  Consulta Externa  2016-01-07 08:10:00  2016-01-07 15:30:00                 1
         78919            11  Urgencia          2018-07-26 13:23:55  2018-07-27 15:00:00                 4
         94555             3  Urgencia          2019-07-19 11:17:00  2019-07-21 12:15:00                 1
        145239             3  Consulta Externa  2016-07-01 08:09:00  2016-07-01 15:30:00                 1
        335523             2  Consulta Externa  2017-12-12 15:36:00  2017-12-12 15:40:00                 2
        349048            13  Consulta Externa  2019-03-06 08:00:00  2019-03-06 15:30:00                 5
        368324             5  Consulta Externa  2019-11-04 12:23:00  2019-11-04 16:30:00                 1

In [43]:
SELECT * FROM tb_medical_services

5 row(s) returned.

  med_service_id  description                  surgical    short_code
----------------  ---------------------------  ----------  ------------
               1  Cardiología                  N           CAR
               2  Cirugía General y Digestiva  S           CGD
               3  Radiodiagnóstico             N           RXD
               4  Urología                     S           URO
               5  Urgencias                    N           URG

In [44]:
SELECT * FROM tb_orders
LIMIT 10;

10 row(s) returned.

  order_id    order_code    encounter_id  status      created_dt           status_dt              created_by_user
----------  ------------  --------------  ----------  -------------------  -------------------  -----------------
       100          2084          458151  Solicitada  2009-06-16 09:12:00  2011-06-08 14:08:00                  1
       101          2216          458151  Solicitada  2009-06-16 09:12:00  2011-06-08 14:08:00                  2
       102          2144          458151  Solicitada  2009-06-16 09:12:00  2011-06-08 14:08:00                  3
       103          4459         1017014  Solicitada  2009-12-03 09:50:00  2013-02-06 14:35:00                  4
       104          2216          580497  Solicitada  2010-02-24 12:21:00  2013-03-18 03:37:00                  5
       105          2216          580497  Solicitada  2010-03-27 23:54:00  2019-02-28 02:00:00                  6
       106          2216          580497  Solicitada  2010-03-22 12:43:00  2011-06-16 10:11:00                  7
       107          2144          580497  Solicitada  2010-02-24 12:21:00  2013-03-18 03:37:00                  8
       108          2216          580497  Solicitada  2010-03-04 08:55:00  2010-03-04 08:55:00                  8
       109          2144          580497  Solicitada  2010-03-04 08:55:00  2010-03-04 08:55:00                  8

In [45]:
SELECT * FROM tb_orders_catalog
LIMIT 10;

10 row(s) returned.

  order_code  category     subcategory      order_desc                                  cost
------------  -----------  ---------------  ----------------------------------------  ------
        2144  Laboratorio  Laboratorio      Creatinina..Srm                                0
        1374  Cardiologia  Cardioversión    Cardioversión electrica programada           114
        3967  Cardiologia  Cardioversión    Cardioversión electrica urgente              114
        6777  Cardiologia  Ecocardiografía  Ecocardiografía transtorácica (AR)            81
        1368  Cardiologia  Esfuerzo         Prueba de esfuerzo                           168
        6923  Cardiologia  Gestión          Solicitud Estudio hemodinámico Urgente        40
        6929  Cardiologia  Gestión          Solicitud Estudio hemodinámico Programad      40
        1369  Cardiologia  Holter           Holter de ritmo cardiaco                      47
        1371  Cardiologia  Holter           Holter de presión arterial                    62
        6781  Cardiologia  Holter           Lectura Holter Ritmo Cardiaco                 40

In [46]:
SELECT * FROM tb_patient
LIMIT 10;

10 row(s) returned.

  patient_id    ehr_number  name    sex    birth_dt    residence         insurance
------------  ------------  ------  -----  ----------  ----------------  -------------
           1          1001  Pep     M      1965-06-14  Carrer Principal  Pública
           2          1002  Carlos  M      1989-02-10  Carrer de dalt    Mapfre
           3          1003  Eva     F      1970-01-04  Carrer Lluna      DKV
           4          1003  Xavi    M      1956-10-03  Carrer nord       Muface
           5          1004  Elena   F      1977-06-25  Carrer sud        Zurich
           6          1005  Marta   F      1998-11-07  Carrer oest       Caser
           7          1006  Lluís   M      1998-11-07  Av. Diagonal      Muface
           8          1007  Sara    F      1965-11-07  Carrer de dalt    Mapfre
           9          1008  Tamara  F      1995-11-07  Av. del Mar       Muface
          10          1009  Paco    M      1992-11-07  Carrer Lluna      No disponible

In [47]:
SELECT * FROM tb_users
LIMIT 10;

10 row(s) returned.

  user_id  user_name    user_type    full_name     register_dt          medical_license_nbr      med_service_id
---------  -----------  -----------  ------------  -------------------  ---------------------  ----------------
        1  11133355A    Asist        Dr. Martí     2015-03-01 00:00:00  46111A                                1
        2  22244466B    Asist        Dr. López     2017-01-01 00:00:00  46222M                                1
        3  12312344C    Asist        Dra. Pintos   2018-08-01 00:00:00  30220C                                3
        4  33345665D    Asist        Dra. Adriana  2015-03-01 00:00:00  43881R                                2
        5  77791982E    Asist        Dra. Barceló  2017-01-01 00:00:00  48932A                                2
        6  44332772F    Asist        Dra. Rivera   2020-02-01 00:00:00  46555T                                3
        7  88544588G    Asist        Dra. Palop    2016-01-01 00:00:00  47830B                                2
        8  99853585H    Asist        Dr. Abad      2015-07-01 00:00:00  36190A                                1
        9  32132185Z    NoAsist      Teresa Abad   2018-12-01 00:00:00
       10  99853585H    NoAsist      Pau Ribas     2015-03-01 00:00:00

## EJERCICIO 2
__a) PROPORCIONA EL:__
>* identificador, 
>* el episodio, 
>* el estado y 
>* la fecha de creación 

de las __PETICIONES de PRESTACIONES__, 
>* ordenadas ascendentemente, 
>* desde el 1 de enero de 2019 hasta la fecha de ejecución de la consulta.

In [8]:
SELECT order_id, encounter_id, status, created_dt 
FROM tb_orders 
WHERE created_dt > '2019-01-01' 
ORDER BY created_dt ASC;

6 row(s) returned.

  order_id    encounter_id  status     created_dt
----------  --------------  ---------  -------------------
       440          349048  Realizada  2019-01-02 10:53:00
       441          349048  Realizada  2019-01-02 10:53:00
       442          349048  Realizada  2019-01-02 10:53:00
       175          920935  Realizada  2019-05-27 12:55:00
       176          920935  Realizada  2019-05-27 12:55:00
       177          920935  Realizada  2019-05-27 12:55:00

---
__b) PROPORCIONA LOS__
>* los __pacientes__ a los que se les pidió 
>* una prueba de categoría `Laboratorio` o de `M.Interna`   
>* con anterioridad a 2015 y   
>* que finalmente fue cancelada.   

Concretamente queremos que aparezca: 
>* el nombre del paciente,  
>* la categoría de la prueba,  
>* la descripción,   
>* el identificador de la prestación,   
>* el tipo de episodio,   
>* el estado de la prestación y   
>* la fecha en que se canceló.

In [34]:
-- en este caso creo que no se abusa del uso de la cláusula DISTINCT ya que sería necesario agruparlos todos.
SELECT DISTINCT p.name, oc.category, oc.order_desc, oc.order_code, e.encounter_type, o.status, o.status_dt 
FROM tb_patient p, tb_orders_catalog oc, tb_encounter e, tb_orders o
WHERE oc.category IN ('Laboratorio','M.Interna') AND
      e.arrival_dt < '2015-01-01' AND
      o.status = 'Cancelada'
LIMIT 5;

5 row(s) returned.

name    category     order_desc                                 order_code  encounter_type    status     status_dt
------  -----------  ---------------------------------------  ------------  ----------------  ---------  -------------------
Ada     Laboratorio  Analisis Bioquimico de Liquido Sinovial          1652  Consulta Externa  Cancelada  2009-02-09 14:59:00
Ada     Laboratorio  Analisis Bioquimico de Liquido Sinovial          1652  Consulta Externa  Cancelada  2009-06-02 09:09:00
Ada     Laboratorio  Analisis Bioquimico de Liquido Sinovial          1652  Consulta Externa  Cancelada  2009-09-16 13:05:00
Ada     Laboratorio  Analisis Bioquimico de Liquido Sinovial          1652  Consulta Externa  Cancelada  2009-11-13 11:59:00
Ada     Laboratorio  Analisis Bioquimico de Liquido Sinovial          1652  Consulta Externa  Cancelada  2009-12-23 10:49:00

In [2]:
SELECT p.name, ca.category, ca.order_desc, o.order_id, e.encounter_type, o.status, o.status_dt
FROM tb_orders_catalog ca  NATURAL JOIN  tb_orders o NATURAL JOIN tb_encounter e NATURAL JOIN tb_patient p
WHERE  (ca.category='Laboratorio' OR ca.category = 'M.Interna') AND o.created_dt < '2015-01-01 00:00:00' AND o.status='Cancelada'
ORDER BY o.status_dt ASC;

relation "tb_orders_catalog" does not exist
LINE 2: FROM tb_orders_catalog ca  NATURAL JOIN  tb_orders o NATURAL...
             ^

---
__PROPORCIONAR LA LISTA DE LOS__ 
>* tres facultativos que más han gastado en pruebas. 

__QUEREMOS SU__ 
>* nombre y 
>* especialidad, 
>* junto al número de pruebas que ha pedido, 
>* el coste de todas ellas 
>* y el número de pacientes diferentes a que corresponden. 
>* Ordenados de mayor a menor por el coste de las pruebas.

In [301]:
SELECT u.full_name, 
       ms.description,
       SUM(oc.cost) AS Suma_precio_ordenes, 
       COUNT(o.created_by_user) AS Ordenes_creadas 
       --SUM(p.patient_id)
FROM tb_users u,  
     tb_orders_catalog oc INNER JOIN tb_orders o USING(order_code),
     tb_medical_services ms
     -- tb_patient p
WHERE o.created_by_user = u.user_id AND 
      u.med_service_id = ms.med_service_id
GROUP BY u.full_name, ms.description
ORDER BY suma_precio_ordenes DESC

10 row(s) returned.

full_name     description                    suma_precio_ordenes    ordenes_creadas
------------  ---------------------------  ---------------------  -----------------
Dra. Barceló  Cirugía General y Digestiva                    338                 53
Dra. Adriana  Cirugía General y Digestiva                    218                 55
Dra. Rivera   Radiodiagnóstico                               121                 66
Dr. Martí     Cardiología                                    116                 38
Dra. Pintos   Radiodiagnóstico                               108                 26
Dr. López     Cardiología                                     95                 47
Dra. Lucas    Urología                                        62                  6
Dra. Palop    Cirugía General y Digestiva                     59                 30
Dr. Abad      Cardiología                                     27                 16
Dr. Pellicer  Urología                                        10                  6

In [135]:
SELECT u.full_name, u.med_service_id, COUNT(oc.order_code) AS total_ordenes
FROM tb_orders_catalog oc, tb_orders o, tb_users u, tb_medical_services mc
WHERE o.created_by_user = u.user_id
GROUP BY u.full_name, u.med_service_id

10 row(s) returned.

full_name       med_service_id    total_ordenes
------------  ----------------  ---------------
Dra. Palop                   2            16560
Dra. Pintos                  3            14352
Dra. Rivera                  3            36432
Dra. Lucas                   4             3312
Dr. Pellicer                 4             3312
Dra. Adriana                 2            30360
Dr. Martí                    1            20976
Dra. Barceló                 2            29256
Dr. Abad                     1             8832
Dr. López                    1            25944

In [153]:
SELECT u.full_name, COUNT(oc.order_code) AS total_ordenes_pedidas
FROM tb_orders_catalog oc, tb_orders o, tb_users u
WHERE o.created_by_user = u.user_id AND o.order_code = oc.order_code
GROUP BY full_name 
ORDER BY total_ordenes_pedidas DESC

10 row(s) returned.

full_name       total_ordenes_pedidas
------------  -----------------------
Dra. Rivera                        66
Dra. Adriana                       55
Dra. Barceló                       53
Dr. López                          47
Dr. Martí                          38
Dra. Palop                         30
Dra. Pintos                        26
Dr. Abad                           16
Dr. Pellicer                        6
Dra. Lucas                          6

In [128]:
SELECT u.full_name, (SELECT COUNT(b.created_by_user) 
                     FROM tb_orders b
                     WHERE b.created_by_user = u.user_id) AS TOT 
FROM tb_users u
ORDER BY tot DESC

13 row(s) returned.

full_name       tot
------------  -----
Dra. Rivera      66
Dra. Adriana     55
Dra. Barceló     53
Dr. López        47
Dr. Martí        38
Dra. Palop       30
Dra. Pintos      26
Dr. Abad         16
Dr. Pellicer      6
Dra. Lucas        6
Pau Ribas         0
Teresa Abad       0
Dr. Peris         0

---
> d) Proporcionar la lista con todos los datos de los pacientes diferentes de la aseguradora Mapfre que no han sido atendidos nunca de manera urgente.

In [224]:
SELECT distinct p.patient_id, p.ehr_number, p.name, p.sex, p.birth_dt, p.residence, p.insurance
FROM tb_patient p INNER JOIN tb_encounter e 
ON p.patient_id = e.patient_id

WHERE insurance = 'Mapfre' AND
      e.encounter_type NOT IN ('Urgencias','Urgencia','Ingreso Urgente');

5 row(s) returned.

  patient_id    ehr_number  name     sex    birth_dt    residence         insurance
------------  ------------  -------  -----  ----------  ----------------  -----------
           2          1002  Carlos   M      1989-02-10  Carrer de dalt    Mapfre
           8          1007  Sara     F      1965-11-07  Carrer de dalt    Mapfre
          14          1013  Sheila   F      1951-11-07  Carrer de dalt    Mapfre
          19          1018  Antonia  F      1998-11-07  Carrer Principal  Mapfre
          31          1030  Josep    M      1949-11-07  Carrer Principal  Mapfre

---
>e) Proporcionar el número de historial clínico, el nombre, la edad de los pacientes y el número de veces que han sido atendidos en la clínica, de aquellos a los que se ha atendido más de 8 veces, ordenados por el número de veces que han sido atendidos.

In [290]:
SELECT p.ehr_number, p.name, date_part('year',age(birth_dt)) AS edad, COUNT(e.encounter_id)
FROM tb_patient p
JOIN tb_encounter e ON p.patient_id = e.patient_id

GROUP BY p.ehr_number, p.name, p.birth_dt
HAVING COUNT(e.encounter_id) > 8
ORDER BY COUNT(e.encounter_id) DESC

4 row(s) returned.

  ehr_number  name       edad    count
------------  -------  ------  -------
        1015  Ada          10       46
        1005  Marta        22       11
        1014  Antonio      20       10
        1003  Eva          51        9

## EJERCICIO 3
>a) Se va a ofrecer un nuevo servicio en la clínica, para ello deberemos añadir una nueva especialidad (​Digestología​) de la cual pasará a encargarse el Dr. Peris, y se ofrecerá una nueva prueba diagnóstica (​Colonoscopia​). 

>Así pues se deben insertar la nueva especialidad y la nueva prueba según la especificación adjunta, y se debe modificar la especialidad del Dr. Peris (con ​user_id = 13)​ que ahora dirigirá esta nueva especialidad de Digestología. En total deberéis hacer tres sentencias.

In [7]:
SELECT * FROM tb_medical_services

5 row(s) returned.

  med_service_id  description                  surgical    short_code
----------------  ---------------------------  ----------  ------------
               1  Cardiología                  N           CAR
               2  Cirugía General y Digestiva  S           CGD
               3  Radiodiagnóstico             N           RXD
               4  Urología                     S           URO
               5  Urgencias                    N           URG

In [20]:
SELECT * FROM tb_orders_catalog
LIMIT 3

3 row(s) returned.

  order_code  category     subcategory    order_desc                            cost
------------  -----------  -------------  ----------------------------------  ------
        2144  Laboratorio  Laboratorio    Creatinina..Srm                          0
        1374  Cardiologia  Cardioversión  Cardioversión electrica programada     114
        3967  Cardiologia  Cardioversión  Cardioversión electrica urgente        114

In [12]:
SELECT * FROM tb_users
WHERE full_name = 'Dr. Peris'

1 row(s) returned.

  user_id  user_name    user_type    full_name    register_dt          medical_license_nbr      med_service_id
---------  -----------  -----------  -----------  -------------------  ---------------------  ----------------
       13  644544488M   Asist        Dr. Peris    2020-01-01 00:00:00  47333B                                2

>__EJECUTO SENTENCIAS__

In [299]:
INSERT INTO tb_medical_services(med_service_id, description, surgical, short_code)
VALUES('6', 'Digestología', 'S', 'DIG');

INSERT INTO tb_orders_catalog(order_code, category, subcategory, order_desc, cost)
VALUES('9001', 'M.Interna', 'Endoscopia', 'Colonoscopia', '600')

duplicate key value violates unique constraint "pk_med_services"
DETAIL:  Key (med_service_id)=(6) already exists.

In [21]:
UPDATE tb_users 
SET med_service_id = '6'
WHERE user_id = 13;

>__CONFIRMO CAMBIO__

In [300]:
SELECT * FROM tb_users WHERE full_name = 'Dr. Peris'

1 row(s) returned.

  user_id  user_name    user_type    full_name    register_dt          medical_license_nbr      med_service_id  mail_address
---------  -----------  -----------  -----------  -------------------  ---------------------  ----------------  --------------
       13  644544488M   Asist        Dr. Peris    2020-01-01 00:00:00  47333B                                6

In [24]:
SELECT * FROM tb_orders_catalog WHERE cost = '600'

1 row(s) returned.

  order_code  category    subcategory    order_desc      cost
------------  ----------  -------------  ------------  ------
        9001  M.Interna   Endoscopia     Colonoscopia     600

In [29]:
SELECT * FROM tb_medical_services WHERE med_service_id = '6'

1 row(s) returned.

  med_service_id  description    surgical    short_code
----------------  -------------  ----------  ------------
               6  Digestología   S           DIG

---
>b) Nos comentan que se debe de ​alterar​, en una única sentencia​, la tabla ​`tb_encounter` para 
>* controlar que ​`discharge_dt`​pueda ser nulo, pero nunca sea inferior a ​`arrival_dt`.​

In [31]:
SELECT * FROM tb_encounter LIMIT 3

3 row(s) returned.

  encounter_id    patient_id  encounter_type    arrival_dt           discharge_dt           med_service_id
--------------  ------------  ----------------  -------------------  -------------------  ----------------
         65091            31  Consulta Externa  2016-04-12 08:59:00  2016-04-12 22:50:00                 1
         66971            31  Consulta Externa  2016-05-16 11:12:34  2016-05-16 18:20:00                 5
         75753             1  Consulta Externa  2016-06-16 12:26:59  2016-06-16 15:00:00                 5

In [36]:
SELECT column_name, data_type, character_maximum_length, is_nullable
FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'tb_encounter'

6 row(s) returned.

column_name     data_type                      character_maximum_length  is_nullable
--------------  ---------------------------  --------------------------  -------------
encounter_id    integer                                                  NO
patient_id      integer                                                  NO
encounter_type  character varying                                    50  NO
arrival_dt      timestamp without time zone                              NO
discharge_dt    timestamp without time zone                              YES
med_service_id  integer                                                  NO

In [42]:
/* 
Las restricciones de verificación aceptan valores NULL automáticamente. 
Por documentación: "Cabe señalar que una restricción de verificación se 
satisface si la expresión de verificación se evalúa como verdadera o como valor nulo". 
--> https://www.postgresql.org/docs/current/ddl-constraints.html#DDL-CONSTRAINTS-CHECK-CONSTRAINTS
*/

ALTER TABLE tb_encounter 
    ADD CONSTRAINT chek_date
    CHECK (arrival_dt < discharge_dt)

constraint "chek_date" for relation "tb_encounter" already exists

---
>c) Implementad, en una ​única sentencia​, una vista __`clinical.top_six_cost_doctors`__ sobre la consulta   
>* c) del ejercicio 2, pero haciendo que aparezcan 6 en vez de 3 médicos.   
> 
>Aseguraos de que los usuarios no puedan insertar valores que inicialmente no deben mostrarse a través de la vista.

---
> d) Nos piden, que se añada, en una única sentencia, una columna en la tabla __tb_users__ denominada __`mail_address`__, para almacenar la dirección de correo electrónico del usuario. 
>
>Ha de poder almacenar hasta 100 caracteres, no se podrá repetir y por defecto será nulo.

In [44]:
SELECT * FROM tb_users LIMIT 1

1 row(s) returned.

  user_id  user_name    user_type    full_name    register_dt          medical_license_nbr      med_service_id
---------  -----------  -----------  -----------  -------------------  ---------------------  ----------------
        1  11133355A    Asist        Dr. Martí    2015-03-01 00:00:00  46111A                                1

In [45]:
ALTER TABLE tb_users
ADD COLUMN mail_address VARCHAR(100) UNIQUE;

In [46]:
SELECT * FROM tb_users LIMIT 1

1 row(s) returned.

  user_id  user_name    user_type    full_name    register_dt          medical_license_nbr      med_service_id  mail_address
---------  -----------  -----------  -----------  -------------------  ---------------------  ----------------  --------------
        1  11133355A    Asist        Dr. Martí    2015-03-01 00:00:00  46111A                                1

---
>e) Se ha de crear un usuario de sistema (cuidado! no confundir con tb_users) __rw_clinical__   
>con acceso al esquema __clinical__ y contraseña __rw_clinical_uoc__.   

>Este usuario puede realizar 
>* lecturas, 
>* inserciones, 
>* actualizaciones, 
>* borrados (nunca truncamientos) 
>de las tablas del esquema __clinical__ (`rw` significa `read and write`).  

Asignar los permisos necesarios a dicho usuario mediante SQL. Aseguraos también de que este usuario no pueda asignar permisos a otros usuarios sobre dichas tablas. 

Referencia a la documentación:  https://www.postgresql.org/docs/12/sql-grant.html   
Nota​: podéis probar los permisos creando una nueva conexión con el usuario creado y mantener así las dos sesiones abiertas. Para ello, debéis crear un nuevo servidor en el Browser de pgAdmin con las credenciales del nuevo usuario.


> https://tableplus.com/blog/2018/04/postgresql-how-to-create-read-only-user.html  
> https://www.postgresql.org/docs/9.1/sql-grant.html  
> https://www.youtube.com/watch?v=WilhZjXBlLE

In [82]:
-- creo usuario
CREATE USER rw_clinical WITH PASSWORD 'rw_clinical_uoc';

In [89]:
-- permisos para conectar con la base de datos
GRANT CONNECT ON DATABASE "UOC_Salud" TO rw_clinical;

In [ ]:
-- permisos (ALL TABLES IN SCHEMA ---> porque SELECT no podría de otra forma)
GRANT SELECT, INSERT, UPDATE, DELETE  ON ALL TABLES IN SCHEMA clinical TO rw_clinical;

__ESCOJO USUARIO PARA TRABAJAR__

In [108]:
SET ROLE rw_2clinical;

In [109]:
SELECT current_user;

1 row(s) returned.

current_user
--------------
rw_2clinical

In [106]:
CREATE DATABASE nuevadb;

permission denied to create database

__CAMBIO A SUPER USUARIO PARA ELIMINARLO__

In [122]:
SET ROLE postgres

In [123]:
DROP USER rw_2clinical

role "rw_2clinical" cannot be dropped because some objects depend on it
DETAIL:  privileges for table tb_medical_services
privileges for table tb_users
privileges for table tb_patient
privileges for table tb_encounter
privileges for table tb_orders_catalog
privileges for table tb_orders

In [126]:
REVOKE CONNECT ON DATABASE tb_medical_services FROM rw_2clinical;

database "tb_medical_services" does not exist

## Ejercicio 4

__LIKE__  
> Es un operador relacional que se usa para realizar comparaciones exclusivamente de cadenas. A diferencia del operador "=" (igual) o el operador "<>" (distinto) que comparan cadenas de caracteres completas, el operador `LIKE` puede comparar porciones de cadenas para realizar consultas.

In [163]:
-- Ejemplo: recuperar todos los registros cuyo nombre de paciente contenga la cadena o patrón "Mar":
-- La consuta devolverá aquello nombres que comiecen por Mar y puede ir seguido de cualquier 
--- secuencia de carácteres.
SELECT * FROM tb_patient
WHERE name LIKE 'Mar%'

4 row(s) returned.

  patient_id    ehr_number  name    sex    birth_dt    residence         insurance
------------  ------------  ------  -----  ----------  ----------------  -------------
           6          1005  Marta   F      1998-11-07  Carrer oest       Caser
          21          1020  Maria   F      1999-11-07  Av. del Mar       Muface
          24          1023  Marc    M      1988-11-07  Carrer de dalt    No disponible
          27          1026  Marisa  F      1973-11-07  Carrer Principal  No disponible

In [166]:
SELECT * FROM tb_patient
WHERE name NOT LIKE 'Mar%'
LIMIT 5

5 row(s) returned.

  patient_id    ehr_number  name    sex    birth_dt    residence         insurance
------------  ------------  ------  -----  ----------  ----------------  -----------
           1          1001  Pep     M      1965-06-14  Carrer Principal  Pública
           2          1002  Carlos  M      1989-02-10  Carrer de dalt    Mapfre
           3          1003  Eva     F      1970-01-04  Carrer Lluna      DKV
           4          1003  Xavi    M      1956-10-03  Carrer nord       Muface
           5          1004  Elena   F      1977-06-25  Carrer sud        Zurich

__ALL__
>Chequea si TODOS los valores de la lista de la consulta externa se encuentran en la lista de valores devuelta por la consulta interna.

In [206]:
-- Todo el listado de precios con categoría "Cardología" que devuelve la consulta interna,
-- será camparado con cada precio de la categoría 'Radiología' en la consulta externa.
-- Todos los precios de la consulta externa inferiores a los de la consulta interna, son mostrados.

SELECT order_desc, cost 
FROM tb_orders_catalog 
WHERE category='Radiología' AND cost < ALL(SELECT cost
                                           FROM tb_orders_catalog
                                           WHERE category='Cardiologia');

5 row(s) returned.

order_desc                   cost
-------------------------  ------
RX Tobillo AP/L Dcho           38
RX Tobillo AP/L Izdo           38
RX Tobillo AP/L Bilateral      38
RX Tórax PA/L                  25
RX Tórax AP Decúbito           25

__ANY/SOME__
>La subconsulta debe devolver exactamente una columna.  
> El operador ANY debe estar precedido por uno de los siguientes operadores de comparación =, <=,>, <,> y <>  
> El operador ANY operador devuelve verdadero si cualquier valor de la subconsulta cumple la condición; de lo contrario, devuelve falso.  
> SOME es un sinónimo de ANY, lo que significa que se puede sustituir SOME por ANY cualquier sentencia SQL.

In [289]:
-- Selecciono la descripción de algún servicio del catálogo,
-- donde el coste sea igual a ALGUNO de los valores ya creados por usuarios
SELECT order_desc AS descripcion_orden, cost
FROM tb_orders_catalog
WHERE cost = ANY(SELECT oc.cost
                  FROM tb_users u, tb_orders_catalog oc INNER JOIN tb_orders o USING(order_code)
                  WHERE o.created_by_user = u.user_id
                  GROUP BY u.full_name, oc.cost)
LIMIT 10; -- limito la salida por comodidad de lectura

10 row(s) returned.

descripcion_orden                           cost
----------------------------------------  ------
Creatinina..Srm                                0
Ecocardiografía transtorácica (AR)            81
Solicitud Estudio hemodinámico Urgente        40
Solicitud Estudio hemodinámico Programad      40
Holter de ritmo cardiaco                      47
Lectura Holter Ritmo Cardiaco                 40
Cardiología no presencial                     40
Revisión postquirúrgica no presencial         40
Consulta sucesiva cardiología                 40
Consulta Hematología Pruebas                  40

__EXIST__
> Es un operador booleano que prueba la existencia de filas en una subconsulta.

In [303]:
-- dime el nombre de los usuarios que hayan creado alguna orden
SELECT full_name 
FROM tb_users 
WHERE EXISTS(SELECT o.created_by_user 
            FROM tb_orders o, tb_encounter e
            WHERE o.encounter_id = e.encounter_id)

13 row(s) returned.

full_name
------------
Dr. Martí
Dr. López
Dra. Pintos
Dra. Adriana
Dra. Barceló
Dra. Rivera
Dra. Palop
Dr. Abad
Teresa Abad
Pau Ribas
Dr. Pellicer
Dra. Lucas
Dr. Peris